/* =================== style 3 ============== */

@if $login_page_style == "style_3" {
    body.bg-100 .o_database_list {
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small {
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small a {
        color: #ffffff;
        padding-top: 15px;
    }
    body.bg-100 input {
        padding-left: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-size: 0 2px, 100% 1px;
        transition: background 0s ease-out;
        border-bottom: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding: 0.429rem 1.072rem;
        border-radius: 0px;
    }
    body.bg-100 input:focus {
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        outline: 0;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        float: none;
        background-image: linear-gradient($header_bg_color, $header_bg_color), linear-gradient($header_bg_color, $header_bg_color);
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    body.bg-100 .btn.btn-link.btn-sm,
    body.bg-100 .btn-group-sm > .btn.btn-link body.bg-100 {
        color: $primaryColor !important;
    }
    .bg-100 {
        color: $primaryColor !important;
    }
    body.bg-100 .text-center.small.mt-4.pt-3.border-top {
        margin-top: 0.5rem !important;
    }
    body.bg-100 .text-center.small.mt-4.pt-3.border-top a {
        color: #ffffff;
    }
    body.bg-100 .btn.btn-link.btn-sm {
        color: $primaryColor;
        padding-top: 15px;
    }

    .sh_backmate_th_login_left_img_st_2::after {
        // content: "";
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //background-color:#000000;
        //opacity: .7;
    }
    @if $login_page_background_type == "bg_color" {
        .sh_backmate_th_login_left_img_st_2 {
            background-color: $login_page_background_color;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            background-position-x: center;
            background-position: center;
            align-items: center;
        }
    }
    @if $login_page_background_type == "bg_img" {
        .sh_backmate_th_login_left_img_st_2 {
            background: url("/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_background_image");
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            background-position-x: center;
            background-position: center;
            align-items: center;
        }
    }

    .sh_backmate_th_login_left_img_st_2 .card .card-body h1 .sign_in {
        color: #fff;
        font-weight: 600;
    }
    body.bg-100 .card .oe_login_form .form-group.field-login .input-group {
        background: rgba(256, 256, 255, 0.2) !important;
        align-items: center;
        padding: 4px 15px;
        border-radius: 5px;
        color: #ffffff;
    }
    body.bg-100 .card .oe_login_form .form-group.field-login .input-group input {
        background: transparent !important;
        border: 0;
        padding-left: 15px;
    }
    body.bg-100 .card .oe_login_form .form-group.field-login .input-group .input-group-prepend {
        align-items: center;
    }
    body.bg-100 .card .oe_login_form .form-group.field-login .input-group .login_user_icon {
        padding-right: 15px;
        font-size: 18px;
    }

    body.bg-100 .card .oe_login_form .form-group.field-password .input-group {
        background: rgba(256, 256, 255, 0.2) !important;
        align-items: center;
        padding: 4px 15px;
        border-radius: 5px;
        color: #fff;
    }
    body.bg-100 .card .oe_login_form .form-group.field-password .input-group input {
        background: transparent !important;
        border: 0;
        padding-left: 15px;
    }
    body.bg-100 .card .oe_login_form .form-group.field-password .input-group .input-group-prepend {
        align-items: center;
    }
    body.bg-100 .card .oe_login_form .form-group.field-password .input-group .login_user_icon {
        padding-right: 15px;
        font-size: 18px;
    }
    body.bg-100 .btn-primary {
        background: rgba(0, 0, 0, 0.2);
    }
    body.bg-100 .o_database_list .card-body .field-db label {
        color: #ffffff;
        letter-spacing: 0.7px;
    }

    body.bg-100 .mt-5 {
        margin-top: 0rem !important;
    }
    .sh_backmate_th_login_left_img_st_2.col-lg-6 {
        padding: 0px;
    }
    .sh_backmate_th_login_left_img_st_2 img {
        width: 100%;
    }

    body.bg-100 .container-fluid.pb-5 {
        padding-bottom: 0rem !important;
    }
    body.bg-100 .container-fluid.mb-5 {
        margin-bottom: 0rem !important;
    }

    body.bg-100 .o_database_list {
        max-width: 100% !important;
        border-radius: 0px;
        padding: 0px 25px;
        position: relative;
    }
    body.bg-100 .container .bg-100 {
        background-color: $login_page_box_color !important;
        color: #212529;
    }
    body.bg-100 {
        background-color: $login_page_box_color !important;
    }
    .form-control:focus {
        box-shadow: none;
    }
    body.bg-100 input[type="text"] {
        background-color: transparent;
        border: none;
        color: #ffffff;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 10px 15px;
        background: rgba(255, 255, 255, 0.2);
        border-left: 0px solid $header_bg_color;
        border-radius: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    body.bg-100 input[type="password"] {
        background-color: transparent;
        border: none;
        color: #ffffff;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 18px 5px;
        background: #efefefcc;
        border-left: 5px solid $header_bg_color;
        border-radius: 0px;
    }

    body.bg-100 .btn-primary {
        border: none;
        color: white;
        padding: 12px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        box-shadow: none;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $primaryColor;
    }
    body.bg-100 .btn-secondary {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .btn-primary:not(:disabled):not(.disabled):active,
    body.bg-100 .btn-primary:not(:disabled):not(.disabled).active,
    body.bg-100 .show > .btn-primary.dropdown-toggle {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .oe_login_buttons a.btn {
        padding-top: 25px;
    }
    body.bg-100 .container .oe_login_form .justify-content-between.mt-2 {
        margin-top: 1rem !important;
    }

    body.bg-100 .container .bg-100 {
        background-color: $login_page_box_color !important;
    }
    body.bg-100 .o_database_list {
        background-color: transparent !important;
    }
    body.bg-100 .o_database_list .card-body {
        background-color: transparent !important;
    }
    .card {
        position: unset;
    }
    .field-login label,
    .field-password label {
        color: #ffffff;
    }
    body.bg-100 .btn-primary {
        color: #ffffff;
        background: rgba(0, 0, 0, 0.5) !important;
        box-shadow: none;
    }
    .sign_in {
        color: $primaryColor;
    }

    @media (min-width: 768px) {
        body.bg-100 .card-body {
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50% !important;
            transform: translate(-50%, -50%);
            width: 60%;
        }

        .col-lg-6 .card-body {
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 72% !important;
            transform: translate(-50%, -50%);
        }
    }
    @media (max-width: 992px){
      body.bg-100 .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child{flex: 0 0 100%;max-width: 100%;}
    }
    
    @media (max-width: 574px) {
        
        body.bg-100 .o_database_list {
            box-shadow: none;
        }
    }


body.bg-100 .o_database_list .card-body .field-db .input-group-append a {
    background: rgba(0, 0, 0, 0.5);
    /* line-height: 44px; */
    line-height: 38px;
    padding: 0 20px;
    box-shadow: none;
    border: 0px;
}
body.bg-100 .card .oe_login_form .form-group.field-password .input-group input::placeholder,
body.bg-100 .card .oe_login_form .form-group.field-login .input-group input::placeholder {
    color: #ddd !important;
}
body.bg-100 .justify-content-between.mt-2.d-flex.small a {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
}
body.bg-100 .text-center.small.mt-4.pt-3.border-top {
    border: 0 !important;
    margin: 0 !important;
}
body.bg-100 .text-center.small.mt-4.pt-3.border-top a {
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
}
body.bg-100 .sh_backmate_th_login_left_img_st_2 .col-lg-6:first-child {
    border-right: 1px solid #fff;
}


}
/* =================== style 3 ============== */



/* === 19-12-2020 === */
@if $login_page_style == "style_3" {
	@media only screen and (max-width: 1024px) and (min-width: 769px){
	.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img,
		body.bg-100 .o_database_list .card-body {height: 100vh !important;}
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 50px;}
	}
	@media only screen and (max-width: 768px) and (min-width: 577px){
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 20px;height: 100vh;}
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{position: absolute;}
		.sh_backmate_th_login_left_img_st_2 .pb-3{padding-bottom: 0rem !important;}
		.sh_backmate_th_login_left_img_st_2 .mb-4{margin-bottom: 0rem !important;}
		body.bg-100 .card-body {border-radius: 10px;position: absolute;top: 40%;left: 50% !important;transform: translate(-50%, -78%);width: 89%;}
		.sh_backmate_th_login_left_img_st_2 img[alt="icon_img"]{max-height: 50px !important;}
	}
	@media only screen and (max-width: 576px) and (min-width: 376px){
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 20px;height: 100vh;}
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{position: absolute;}
		.sh_backmate_th_login_left_img_st_2 .pb-3{padding-bottom: 0rem !important;}
		.sh_backmate_th_login_left_img_st_2 .mb-4{margin-bottom: 0rem !important;}
		body.bg-100 .card-body {border-radius: 10px;position: absolute;top: 50%;left: 50% !important;transform: translate(-50%, -50%);width: 89%;}
		.sh_backmate_th_login_left_img_st_2 img[alt="icon_img"]{max-height: 50px !important;}
	}
	@media only screen and (max-width: 375px) and (min-width: 321px){
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 20px;height: 100vh;}
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{position: absolute;}
		.sh_backmate_th_login_left_img_st_2 .pb-3{padding-bottom: 0rem !important;}
		.sh_backmate_th_login_left_img_st_2 .mb-4{margin-bottom: 0rem !important;}
		body.bg-100 .card-body {border-radius: 10px;position: absolute;top: 40%;left: 50% !important;transform: translate(-50%, -38%);width: 89%;}
		.sh_backmate_th_login_left_img_st_2 img[alt="icon_img"]{max-height: 50px !important;}
	}
	@media only screen and (max-width: 320px){
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{padding-top: 20px;height: 100vh;}
		.sh_backmate_th_login_left_img_st_2 .sh_logo_icon_img{position: absolute;}
		.sh_backmate_th_login_left_img_st_2 .pb-3{padding-bottom: 0rem !important;}
		.sh_backmate_th_login_left_img_st_2 .mb-4{margin-bottom: 0rem !important;}
		body.bg-100 .card-body {border-radius: 10px;position: absolute;top: 40%;left: 50% !important;transform: translate(-50%, -25%);width: 89%;}
		.sh_backmate_th_login_left_img_st_2 img[alt="icon_img"]{max-height: 50px !important;}
	}
}

/*== 15-3-2021 ==*/

@if $login_page_style == "style_3" {
	@if $login_page_background_type == "bg_img" {
		.row.sh_backmate_th_login_left_img_st_2:before {
		    position: absolute;
		    background: linear-gradient(200deg, $primaryColor 40%, $gradient_color 100%);
		    z-index: 0;
		    top: 0;
		    left: 0;
		    height: 100%;
		    content: '';
		    width: 100%;
		    opacity: .8;
		}
	}
}


















