@if $login_page_style == "style_2" {
	a{text-decoration: none !important;}
    body.bg-100 .o_database_list {
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small {
        justify-content: center !important;
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small a {
        color: #919191;
        padding-top: 15px;
        font-weight: 600;
    }
   /* body.bg-100 input {
        padding-left: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-size: 0 2px, 100% 1px;
        transition: background 0s ease-out;
        border-bottom: 1px solid #ccc;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        padding: 0.429rem 1.072rem;
        border-radius: 0px;
    }
    body.bg-100 input:focus {
        -webkit-background-size: 100% 2px, 100% 1px;
        background-size: 100% 2px, 100% 1px;
        outline: 0;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        float: none;
        background-image: linear-gradient($header_bg_color, $header_bg_color), linear-gradient($header_bg_color, $header_bg_color);
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }*/
    body.bg-100 .btn.btn-link.btn-sm,
    body.bg-100 .btn-group-sm > .btn.btn-link body.bg-100 {
        color: $primaryColor !important;
    }
    .bg-100 {
        color: $primaryColor !important;
    }
    body.bg-100 .text-center.small.mt-4.pt-3.border-top {
        margin-top: 0.5rem !important;
    }
    body.bg-100 .text-center.small.mt-4.pt-3.border-top a {
        color: $primaryColor;
        font-weight: 600;
        letter-spacing: 0.4px;
    }
    body.bg-100 .btn.btn-link.btn-sm {
        color: $primaryColor;
        padding-top: 15px;
    }

    .sh_backmate_th_login_left_img_st_2::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#292626;
        opacity: .5;
    }
    .sh_backmate_th_login_left_img_st_2 {
        background: url("/web/image?model=sh.back.theme.config.settings&id=1&field=login_page_banner_image");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        background-position-x: center;
        background-position: center;
    }
    body.bg-100 .mt-5 {
        margin-top: 0rem !important;
    }
    .sh_backmate_th_login_left_img_st_2.col-lg-6 {
        padding: 0px;
    }
    .sh_backmate_th_login_left_img_st_2 img {
        width: 100%;
    }

    body.bg-100 .container-fluid.pb-5 {
        padding-bottom: 0rem !important;
    }
    body.bg-100 .container-fluid.mb-5 {
        margin-bottom: 0rem !important;
    }

    body.bg-100 .o_database_list {
        max-width: 100% !important;
        border-radius: 0px;
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        padding: 0px 25px;
    }
    body.bg-100 .container .bg-100 {
        background-color: $login_page_box_color !important;
        color: #212529;
    }
    body.bg-100 {
        background-color: $login_page_box_color !important;
    }
    .form-control:focus {
        box-shadow: none;
    }
    body.bg-100 input[type="text"] {
        color: #0d0d0d;
        text-align: left;
        font-size: 16px;
        padding: 10px 10px;
        background-position: center bottom, center -webkit-calc(100% - 1px);
        padding-right: 0;padding-left: 0;background-color: transparent;background-repeat: no-repeat;-webkit-background-size: 0 2px, 100% 1px;background-size: 0 2px, 100% 1px;-webkit-transition: background 0s ease-out;-o-transition: background 0s ease-out;transition: background 0s ease-out;border-bottom: 1px solid #ccc;border-left: 0px;border-right: 0px;border-top: 0px;padding: .429rem 1.072rem;border-radius: 0px;
        
    }

    body.bg-100 input[type="password"] {
        color: #0d0d0d;
        text-align: left;
        font-size: 16px;
        background-position: center bottom, center -webkit-calc(100% - 1px);
        padding-right: 0;padding-left: 0;background-color: transparent;background-repeat: no-repeat;-webkit-background-size: 0 2px, 100% 1px;background-size: 0 2px, 100% 1px;-webkit-transition: background 0s ease-out;-o-transition: background 0s ease-out;transition: background 0s ease-out;border-bottom: 1px solid #ccc;border-left: 0px;border-right: 0px;border-top: 0px;padding: .429rem 1.072rem;border-radius: 0px;
    }
     body.bg-100 input[type="password"]:focus,  body.bg-100 input[type="password"]:focus-within,
     body.bg-100 input[type="text"]:focus, body.bg-100 input[type="text"]:focus-within {-webkit-background-size: 100% 2px, 100% 1px;background-size: 100% 2px, 100% 1px;outline: 0;-webkit-transition-duration: .3s;-o-transition-duration: .3s;transition-duration: .3s;float: none;background-image: -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor)), -webkit-gradient(linear, left top, left bottom, from($primaryColor), to($primaryColor));background-image: -webkit-linear-gradient($primaryColor, $primaryColor), -webkit-linear-gradient($primaryColor, $primaryColor);background-image: -o-linear-gradient($primaryColor, $primaryColor), -o-linear-gradient($primaryColor, $primaryColor);background-image: linear-gradient($primaryColor, $primaryColor), linear-gradient($primaryColor, $primaryColor);border: 0;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;}

	body.bg-100 input[type="password"]:-internal-autofill-selected,body.bg-100 input[type="text"]:-internal-autofill-selected,body.bg-100 input[type="text"]:selection {background: transparent !important;}
	
	
    body.bg-100 .btn-primary {
        border: none;
        color: white;
        padding: 12px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $primaryColor;
        box-shadow:  rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
    }
    body.bg-100 .btn-secondary {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .btn-primary:not(:disabled):not(.disabled):active,
    body.bg-100 .btn-primary:not(:disabled):not(.disabled).active,
    body.bg-100 .show > .btn-primary.dropdown-toggle {
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    body.bg-100 .oe_login_buttons a.btn {
        padding-top: 25px;
    }
    body.bg-100 .container .oe_login_form .justify-content-between.mt-2 {
        margin-top: 1rem !important;
    }

    body.bg-100 .container .bg-100 {
        background-color: $login_page_box_color !important;
    }
    body.bg-100 .o_database_list {
        background-color: $login_page_box_color !important;
    }
    body.bg-100 .o_database_list .card-body {
        background-color: #ffffff !important;
    }
    .card {
        position: unset;
    }
    .field-login label,
    .field-password label {
        color: $primaryColor;
    }
    body.bg-100 .btn-primary {
        color: #ffffff;
        background-color: $primaryColor;
    }

    body.bg-100 .card-body .oe_login_form .form-group.field-db .input-group .input-group-append a {
        padding: 0 10px;
        /* line-height: 45px; */
        line-height: 38px;
        border: 0px;
        box-shadow: none;
    }
    
    body.bg-100 .card-body .oe_login_form .form-group.field-db .input-group .input-group-append a:active{background: $primaryColor;}
    
    body.bg-100 .card-body .oe_login_form .oe_login_buttons {
        text-align: left !important;
    }
    body.bg-100 .card-body .oe_login_form .oe_login_buttons button {
        display: inline-block;
        width: auto;
        margin: 0;
        padding: 10px 30px;
    }
    body.bg-100 .field-db label.col-form-label {
        color: $primaryColor;
    }
    body.bg-100 .o_database_list .card-body .border-bottom {
        border-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    body.bg-100 .justify-content-between.mt-2.d-flex.small a:last-child {
        color: $primaryColor;
    }

    @media (min-width: 575px) {
        body.bg-100 .card-body {
            border-radius: 10px;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .col-lg-7 .card-body {
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 72% !important;
            transform: translate(-50%, -50%);
        }
    }
    @media (max-width: 574px) {
        .sh_backmate_th_login_left_img_st_2 {
            display: none;
        }
        body.bg-100 .o_database_list {
            box-shadow: none;
        }
    }
}


/* 27-10-2020 */
@if $login_page_style == "style_2" {
	body.bg-100 .card-body{top: 50%;}
}


/* === 19-12-2020 ==== */
@if $login_page_style == "style_2" {
	.card-body .field-db .input-group .form-control{height: calc(1.5em + 0.75rem + 2px) !important;}
	@media only screen and (max-width: 1024px) and (min-width: 769px){
		body.bg-100 .card-body{top: 25% !important;}
	}
	@media only screen and (max-width: 992px) and (min-width: 577px){
		body.bg-100 .card-body{top: 33% !important;transform: translate(-30%, -50%) !important;left: 37% !important;}
		body.bg-100 .card-body img{max-height: 60px !important;}
		body.bg-100 .o_database_list{position: relative !important;}
	}
	@media only screen and (max-width: 576px) and (min-width: 321px){
		body.bg-100 .card-body{top: 45% !important;}
		body.bg-100 .card-body img{max-height: 60px !important;}
		body.bg-100 .o_database_list {max-width: 360px !important;margin-top: 1rem !important;}
	}
	@media only screen and (max-width: 320px){
		body.bg-100 .card-body{top: 45% !important;}
		body.bg-100 .card-body img{max-height: 60px !important;}
		body.bg-100 .o_database_list {max-width: 360px !important;margin-top: 1rem !important;}
	}
}
/*== 11-3-2021 ==*/
body.bg-100 .o_database_list{align-items: center;height: 100vh;min-height: 100vh;justify-content: center;display: flex;}















