@if $theme_style == 'style_1' or $theme_style == 'style_2' or $theme_style == 'style_3'{
	
	/*== old == */
	.o_list_view table tr td{padding: 1.5rem 0.75rem !important;vertical-align: middle !important;}
	.o_list_table_ungrouped tr th{vertical-align: middle !important;}
	.o_action_manager .o_view_controller .o_cp_controller{border-bottom: 1px solid #dee2e6;}
	.oe_product section{position: relative;}
	.o_list_view .o_list_table th{text-transform: uppercase;}
	.o_list_view .o_list_table td{padding: 1.1rem 0.75rem !important;vertical-align: middle !important;}
	.o_list_view .o_optional_columns_dropdown_toggle{top: 7px;}
	.nav-tabs .nav-link{border-bottom: 0px !important;}
	.o_notebook .tab-content .o_group.o_inner_group > tbody > tr > td{padding: 0 !important;}
	.o_form_view .o_group.o_inner_group > tbody > tr > td{padding: 0px 36px 0px 0px !important;}
	.modal-content .modal-body.o_act_window .o_searchview .o_searchview_input_container{width: 40em;}
	.modal-body .o-export-panel .o_left_panel .o_left_field_panel .o_export_tree_item span.fa.pull-right{margin: auto !important;margin-left: .3em !important;}
	.o_right_panel .o_right_field_panel .o_fields_list .o_export_field .fa.pull-right{margin: auto !important;margin-left: .3em !important;}
	.modal-content .o_export.modal-body .o_import_compat{padding-left: 0px;}
	.modal-content .o_export.modal-body .o_import_compat .form-check-input{display: none;}
	
	
	/*== latest ==*/
	::-webkit-scrollbar{width: 3px;}
	html .o_web_client > .o_action_manager > .o_action > .o_content{background: #fff;}
	@if $body_background_type == 'bg_img'{
		html .o_web_client > .o_action_manager > .o_action > .o_content{background: transparent !important;}
	}
    .o_action .o_content .o_kanban_view.o_kanban_ungrouped .o_kanban_record{margin: 5px 8px !important;}
    .o_action .o_content .o_kanban_view.o_kanban_grouped .o_kanban_record{margin: 0 0 8px !important;}
    .o_list_buttons .btn{margin-right: 2px !important;}
    .o_form_view .o_form_statusbar > .o_statusbar_buttons .btn{margin: 4px 5px 4px 0;}
    .o_form_sheet_bg .o_form_statusbar .o_statusbar_status.o_field_widget .btn{box-shadow: none!important;border: 0 !important;}
	.o_form_sheet_bg .o_form_statusbar .o_statusbar_status.o_field_widget .btn:hover{border:0px !important;}
	.o_kanban_view .o_kanban_record .oe_kanban_details .badge-pill{border-radius: 2px !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	.o_kanban_view .o_kanban_record .oe_kanban_details .oe_kanban_partner_links .badge-pill{background-color: $secondaryColor ;border-color: $secondaryColor ;}
	.o_kanban_view{padding: 8px 4px !important;}
	.o_content .o_form_sheet .oe_button_box{width: 100%;}
	.o_content .oe_button_box.o_full .btn {border-radius: 2px 2px 0px 2px !important;}
	.o_list_view .table-responsive .o_field_widget.o_field_badge{padding: 4px 5px 4px !important;}
	.badge-pill{border-radius: 3px !important;}
	.tooltip {color: #fff !important;}
	@if $separator_style == 'style_7'{
		.o_horizontal_separator:before{height: 2px !important;}
	}
	[type='checkbox'] + label:not(.lever):before{border: 1px solid $primaryColor !important;}
	.table.o_list_table th, .table.o_list_table td{border-top: 0px !important;}
	.o_list_view .o_list_table.table tbody tr:nth-of-type(even){background: $list_view_even_row_color;}
	.o_content .o_kanban_view .o_kanban_record,.o_content .o_kanban_view .o_kanban_quick_create{border: 0px !important;box-shadow: 0 1px 3px rgba(0 ,0, 0 , .12%), 0 1px 2px rgba(0, 0, 0, .24%) !important;transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;border-radius: 4px !important;}
	.o_content .o_kanban_view .o_kanban_record:hover,.o_content .o_kanban_view .o_kanban_quick_create:hover{box-shadow: 0 3px 6px 0px rgba(0, 0 ,0, .16%), 0 3px 6px 0px rgba(0, 0, 0,  .12%) !important;}
	.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban.o_kanban_ungrouped .o_kanban_record .o_kanban_primary_bottom.bottom_block{border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
	.o_list_view .o_list_table tfoot > tr > td{border-top: 2px solid #dee2e6 !important;}
	.o_base_settings .o_setting_container .settings > .app_settings_block h2{background-color: #f4f4f7 !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;font-weight: 500 !important;font-size: 15px !important;}
	.o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput{padding: .4em 1em !important;height: 35px !important;border: 1px solid #ccc !important;border-radius: 5px !important;}
	.o_base_settings .o_control_panel .o_panel .o_setting_search .searchIcon{background-color: transparent !important;border-color: transparent !important;color: #495057 !important;}
	.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before{right: -12px;}
	.o_form_view .o_form_statusbar>.o_statusbar_status>.o_arrow_button.btn-primary.disabled:after {border-left-color: $primaryColor !important;}
	.o_form_sheet_bg .o_form_statusbar .o_statusbar_status.o_field_widget .btn.btn-secondary{background: #e8e8e8 !important;border-radius: 0px !important;}
	.o_base_settings .o_setting_container .settings_tab{background: #f4f4f7;border-right: 1px solid #d9d9d9;}
	.o_base_settings .o_setting_container .settings_tab .tab {color: #6d6969;font-weight: 600;}
	.o_base_settings .o_setting_container .settings_tab .selected {background-color: $primaryColor;box-shadow: inset 3px 0 0 $primaryColor;}
	.o_base_settings  .o_form_statusbar {padding-left: 0px !important;}
	/*.o_search_options .o_dropdown .o_dropdown_toggler_btn{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;} */
	.tooltip-inner{color: $primaryColor !important;box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14%), 0 6px 10px -5px $primaryColor !important;}
	.tooltip .tooltip-inner .oe_tooltip_string{color: $primaryColor !important;}
	.oe_tooltip_technical,.tooltip-inner{color: #fff !important}
	nav.o_main_navbar .o_menu_systray li{padding: 0 10px!important;}
	nav.o_main_navbar .o_menu_systray li > a{height: 30px!important;width: 30px !important;line-height: 28px!important;}
	nav.o_main_navbar .o_menu_systray li.o_night_mode span{font-size: 17px !important;}
	nav.o_main_navbar .o_menu_systray li.o_night_mode{height: 30px !important;width: 30px!important;line-height: 30px!important;padding: 0px 7px !important;margin: 0 10px!important;}
	nav.o_main_navbar .o_menu_systray li.theme_settings .theme_setting_img{font-size: 19px !important;}
	nav.o_main_navbar .o_user_menu img.oe_topbar_avatar{transform: translateY(-2px) !important;}	
	.o_action .o_controller_with_searchpanel .o_search_panel{background: #f4f4f7;border-right: 1px solid #d9d9d9;}
	.o_action .o_controller_with_searchpanel .o_search_panel .list-group {margin-bottom: 15px;box-shadow: 0 1px 3px rgba(0, 0, 0, .12%), 0 1px 2px rgba(0, 0, 0,  .24%);}
	.o_action .o_controller_with_searchpanel .o_search_panel .list-group-item header.active {background-color: $primaryColor;color: #fff; border-radius: 3px 3px 0px 0px;}
	.o_search_panel .list-group{padding-bottom: 0px;}
	.o_Discuss .o_Discuss_content .o_MessageList .o_Message.o-not-discussion {justify-content: left;}
	.o_form_sheet .o_notebook .o_kanban_view .o_kanban_record .o_kanban_image img{box-shadow: 0 3px 6px rgba(0 ,0, 0, .16%), 0 3px 6px rgba(0, 0, 0,.23%);border-radius: 100%;}
	.o_control_panel .o_cp_top_right{width: 69%!important;}
	.o_control_panel .o_cp_bottom_left, .o_control_panel .o_cp_top_left {width: 42%!important;}
	
	
	.o_Discuss .o_DiscussSidebar.o_Discuss_sidebar{background: #f4f4f7;color: #6d6969;border-right: 1px solid #d9d9d9;border-top: 1px solid #d9d9d9;}
	.o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .o_DiscussSidebarItem:hover{background: $primaryColor;color: #fff !important;}
	.tooltip.bs-tooltip-right .arrow::after, .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::after{border-right-color: $primaryColor !important;}
	.tooltip.bs-tooltip-left .arrow::after, .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::after{border-left-color: $primaryColor !important;}
	.tooltip.bs-tooltip-top .arrow::after, .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::after{border-top-color: $primaryColor !important;}
	.tooltip.bs-tooltip-bottom .arrow::after, .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::after{border-bottom-color: $primaryColor !important;}
	
	
	/* == latest == */
	.backmate_theme_layout.sh_theme_model .theme_header i.fa{cursor: pointer;}
	.badge.badge-pill{border-radius: 3px;}
	/*nav.o_main_navbar .o_menu_systray li > a,nav.o_main_navbar li.o_night_mode{background: $secondaryColor;border-radius: 3px !important;}
	nav.o_main_navbar .o_menu_systray li.theme_settings{background: $primaryColor !important;}
	*/
	
	
	/* == old == */
	@media only screen and (max-width: 568px){
	   html .o_web_client > .o_action_manager > .o_action{padding: 0;}
	   .o_form_sheet .ribbon-top-right span{top: 15px;}
	   .o_form_sheet .ribbon-top-right{margin-top: -5px;}		
	}
	@media only screen and (max-width: 767px){
		.modal-dialog{margin: 0 auto;}
	    .o_list_view .o_list_table .o_list_record_selector .custom-control{padding-left: 0px;}
	    .o_mail_discuss{position: unset;}
	    .fa-remove:before, .fa-close:before, .fa-times:before{position: unset;}
	    .o_form_view .o_form_statusbar > .o_statusbar_status{padding-left: 10px !important;}
	    .o_form_sheet .oe_button_box{text-align: right;}
	    .o_notebook .nav-tabs .nav-item{width: auto;}
		.o_notebook .nav-tabs{border: 0px;border-bottom: 1px solid #dee2e6;}
		.show .list-inline{min-width: auto !important;}
	}
	@media only screen and (min-width: 768px) and (max-width: 991px){
	   .o_form_view .oe_button_box .btn.oe_stat_button{display: inline-block;}
	}
	@media only screen and (max-width: 992px){
		.o_list_view .o_list_table .o_list_record_selector{z-index: 0 !important;}
		.fa-calendar-o.fa-stack-2x{font-size: 2.2em !important;}
  		.o_form_view.o_xxs_form_view .oe_button_box{float: none;}
  		.o_form_view .oe_button_box .btn.oe_stat_button{margin: 0px;}
  		/* .o_content .o_form_view .o_form_sheet .oe_button_box .o_dropdown_more, .modal-content .o_form_view .o_form_sheet .oe_button_box .o_dropdown_more{width: 100% !important;border: 1px solid #ccc;box-shadow: none;} */
  		.o_content .o_form_view.o_lead_opportunity_form .o_form_sheet_bg .o_form_sheet {width: 100%;}
  		.modal-content .modal-body.o_act_window .o_searchview .o_searchview_input_container{width: 100%;}
  		.o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;padding-left: 3px;}
	}
	
}


















