@if $theme_style == 'style_1' or $theme_style == 'style_2' or $theme_style == 'style_3'{		
	
	/*== old ==*/
	.o_menu_systray{position: unset;width: auto !important;background: transparent;color: unset;}
	.o_menu_systray li > a{color: unset !important;}
	.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show{position: absolute;top: 100%;bottom: auto;left: auto !important;width: auto !important;}
	.o_mail_systray_dropdown{position: absolute;top: 100%;bottom: auto;left: auto !important;}
	.o_switch_company_menu .dropdown-menu{position: absolute;top: 100%;bottom: auto;left: auto !important;min-height: auto;
	    max-height: none !important;}
	.o_main_navbar .o_user_menu .user_setting{position: absolute;background: #ffffff;border: 1px solid #dee2e6;max-height: 90vh;min-width: 10rem;overflow: auto;margin-top: 0;}
	.user_setting ul li span{display: block;}
	.user_setting ul li a i{display: none;}
	.user_setting ul li a{margin-left: 0;}
	.user_setting ul li{padding: 3px 20px;text-align: left;}
	.o_debug_manager .o_debug_mode,.o_switch_company_menu .dropdown-toggle{padding-left: 10px;}
	.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	.o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
	.o_mail_systray_item .o_mail_systray_dropdown{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	.o_mail_systray_item.show .o_mail_systray_dropdown{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
	.o_switch_company_menu .dropdown-menu{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	.o_switch_company_menu.show .dropdown-menu{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
	.o_main_navbar .o_user_menu .user_setting{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	.o_main_navbar .o_user_menu.show .user_setting{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
	.o_main_navbar .o_user_menu > a{padding-right: 8px;}
	.o_mail_systray_item .o_notification_counter,.o_MessagingMenu_counter{background: $primaryColor;color: #fff;}
	@if $sidebar_collapse_style == 'collapsed'{
	    .o_web_client > header{height: auto;}
	    header .o_main_navbar{width: auto;}
	    #hide_top_bar {display:block}
		#show_top_bar {display:none;}
	    .modal-content .modal-body.o_act_window .o_searchview .o_searchview_input_container{width: 38em;}
	    .o_main_navbar{z-index: 3;}
	}
	nav.o_main_navbar .o_menu_systray li .sh_search_container{padding: 0;height: 100%;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{margin: 0;}
	nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a{padding-left: 0;}
	.o_main_navbar > ul.o_menu_systray{padding-bottom: 0;align-items: center;min-height: 48px;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input,nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img{margin-top: 0;}
	nav.o_main_navbar .o_menu_systray li.theme_settings,
	nav.o_main_navbar .o_menu_systray li.o_full_screen,
	nav.o_main_navbar .o_menu_systray li.o_night_mode{cursor: pointer;}
	.o_main_navbar > ul > li > a{line-height: normal;height: auto;padding: 0;}
	.o_main_navbar .o_user_menu > a{padding-right: 0 !important;}
	nav.o_main_navbar .o_menu_systray li.o_user_menu a{padding-top: 3px;}
	nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu{transform: scale(0, 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu.show{transform: scale(1);transition: all .4s;max-height: 90vh; overflow: auto;transform-origin: 100% 0px;}
	.o_main_navbar .o_menu_systray .sh_search_container .sh_search_results{width: 50% !important;background: #fff;text-align: left;padding-right: 0;margin-top: 3px;box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);}
	nav.o_main_navbar .o_menu_systray li.theme_settings{height: 48px;background: $sidebar_font_hover_bg_color;display: flex !important;vertical-align: middle;align-items: center;color: #fff;}
	nav.o_main_navbar > ul > li > a:hover{background: transparent;}
	.sh_search_input .usermenu_search_input2{border-bottom: 0 !important;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border-radius: 5px;}
	nav.o_main_navbar .o_menu_systray li > a{background: $secondaryColor !important;height: 25px;width: 25px;padding: 0;line-height: 23px;border-radius: 5px;}
	nav.o_main_navbar .o_menu_systray li.o_night_mode{background: $secondaryColor;height: 25px;width: 25px;padding: 0;line-height: 23px;border-radius: 5px;margin: 0 15px;}
	.o_main_navbar .o_user_menu .oe_topbar_avatar{width: 25px;height: 25px;border-radius: 3px !important;}
	nav.o_main_navbar .o_menu_systray li.theme_settings a{background: transparent !important;}
	nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img,nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img{height: 100%;object-fit: contain;text-align: center;margin: auto;line-height: 25px;}
	.o_main_navbar > ul > li.o_user_menu:hover{background: transparent;}
	nav.o_main_navbar .o_menu_systray li.o_night_mode,nav.o_main_navbar .o_menu_systray li > a{text-align: center;}
	nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a.dropdown-toggle::after,nav.o_main_navbar .o_menu_systray li.o_user_menu a.dropdown-toggle::after{display: none;}
	.o_main_navbar > ul.o_menu_systray{display: flex;}
	.o_main_navbar > ul > li.o_mail_systray_item:hover{background: transparent;}
	
	nav.o_main_navbar .o_menu_systray li.o_debug_manager .dropdown-menu li{position: unset;left: auto;}
	.o_main_navbar .show .dropdown-toggle{background: #ebebeb !important;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span{font-size: 16px;vertical-align: middle;}
	nav.o_main_navbar .o_menu_systray li.o_night_mode span{font-size: 16px;vertical-align: middle;}
	.o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;padding-left: 5px;}
	nav.o_main_navbar .o_menu_systray li.o_debug_manager a span{font-size: 16px;vertical-align: middle;}
	.o_main_navbar > ul > li > a span.icon-discuss{font-size: 24px;vertical-align: middle;}
	.o_main_navbar > ul > li > a.gift_icon i{font-size: 18px;vertical-align: middle;}
	nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a i,.o_main_navbar > ul > li > a .icon-expand,.o_main_navbar > ul > li > a .icon-compress{font-size: 14px;vertical-align: middle;}
	nav.o_main_navbar .o_menu_systray li.theme_settings .theme_setting_img{font-size: 16px;color: #fff;vertical-align: middle;}
	nav.o_main_navbar .o_menu_systray li.o_debug_manager .dropdown-menu li{font-size: unset !important;}
	nav.o_main_navbar .o_menu_systray li.theme_settings{background: $primaryColor !important;}
	
	
	
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span{cursor: pointer;}
	nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img, nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img{line-height: 30px;}
	
	/* == old == */
	@media only screen and (max-width: 992px){
  		.o_touch_device .o_control_panel .o_cp_searchview{text-align: right;justify-content: flex-end;} 
  		.o_touch_device .o_control_panel .o_cp_searchview .o_searchview{width: 85% !important;}
   		.o_touch_device .o_control_panel .o_cp_searchview, .o_touch_device .o_control_panel .o_cp_right{flex: 0 0 58% !important;}
   		.o_main_navbar > ul.o_menu_systray{z-index: 1;}
	    nav.o_main_navbar ul.o_menu_systray li{padding: 0 5px !important;}
	    nav.o_main_navbar .o_menu_systray li > a{justify-content: center;}
	    nav.o_main_navbar ul.o_menu_systray li.theme_settings{display: none !important;}
	    nav.o_main_navbar ul.o_menu_systray li.o_night_mode{margin: 0 5px !important;}
	    #js_bar_toggle_btn_mobile{left: 10px;background: $primaryColor;width: 30px;height: 30px !important;text-align: center;font-size: 10px;border-radius: 5px;top: 10px;}
	    #js_bar_toggle_btn_mobile i{font-size: 18px !important;padding-top: 6px;}
	    nav.o_main_navbar .o_menu_systray li.o_full_screen{display: none !important;}
	    .o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu a,.o_main_navbar ul.o_menu_systray li.o_debug_manager.show .dropdown-menu{width: 100% !important;}
	    #js_bar_toggle_btn_mobile{left: 10px !important;}
	    #js_bar_toggle_btn_mobile{display: block !important;z-index: 2 !important;}
	    nav.o_main_navbar .o_menu_systray li.sh_search:first-child{position: unset !important;margin: 0 5px;}
  		nav.o_main_navbar .o_menu_systray li.sh_search:first-child .input-group{position: unset;flex-flow: nowrap;}
  		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input{width: 100% !important;border-color: #cccccc !important;transform: translateX(0%) !important;}
   }
   @media only screen and (max-width: 568px){
   	 	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input2{display: none;}
   		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input{display: block;
    	position: absolute;left: 0;z-index: 1;background: #fff;height: 48px;top: -12px;border: 1px solid #a1a1a1;width: auto;}	
   		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input #topbar_full_search_icon{display: none;}
   		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input #topbar_search_icon{display: block;}
   		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border: 0;}
   		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{background: #ebebeb;height: 25px;width: 25px;padding: 0;line-height: 23px;border-radius: 5px;justify-content: center;}
   		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input{transform: translateX(-55%);top: 50px;}
   }
   @media only screen and (max-width: 992px) and (min-width: 576px){
		.o_main_navbar .o_menu_systray .sh_search_container .sh_search_results{width: 100% !important;left: 0%;background: #fff;text-align: left;padding-right: 0;margin-top: 0px;box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);}
	}
	@media only screen and (max-width: 575px){
		.o_main_navbar .o_menu_systray .sh_search_container .sh_search_results{width: 100% !important;left: 0%;background: #fff;text-align: left;padding-right: 0;margin-top: 10px;box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);}
	}
	
	/* 31-3-2021 */ 
	nav.o_main_navbar .o_menu_systray li.sh_calc_util .sh_calc_results{transform: scale(0, 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	nav.o_main_navbar .o_menu_systray li.sh_bookmark_menu_list .dropdown-menu.sh_wqm_quick_menu_submenu_list_cls{transform: scale(0, 0);transition: all .4s;display: block;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
	nav.o_main_navbar .o_menu_systray li.sh_calc_util.active .sh_calc_results{transform: scale(1);transition: all .4s;max-height: 90vh;transform-origin: 100% 0px;}
	.o_main_navbar .o_menu_systray .sh_bookmark_menu_list.show .dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls.show{transform: scale(1);transition: all .4s;max-height: 90vh; overflow: auto;transform-origin: 100% 0px;}
}