@media only screen and (max-width: 992px){
	@if $theme_style == 'style_1'{
		nav.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon, nav.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon,
		nav.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .dropdown-menu .dropdown-header span{color: $sidebar_font_color !important;}
	}
	.o_action.o_view_controller > .o_content > .o_list_view > .table-responsive{width: 100%;overflow: auto;}
	@if $theme_style == 'style_2'{
		nav.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .dropdown-menu .dropdown-header span{color: $sidebar_font_color !important;}
		.o_menu_apps .dropdown .dropdown-menu.sh_backmate_theme_appmenu_div{top: 0px !important;}
		.o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div{height: calc(100vh - 0px) !important;}
	}
	nav.o_main_navbar .o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div,nav.o_main_navbar .o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div .logo{background: #fff;}
	nav.o_main_navbar .o_menu_systray .o_user_menu img.oe_topbar_avatar{transform: translateY(-2px) !important;}
	.dropdown-menu.sh_backmate_theme_appmenu_div .logo{display: none !important;}
	.o_control_panel .o_cp_bottom .o_cp_switch_buttons .btn.o_switch_view:last-child,.o_control_panel .o_cp_bottom_right .o_search_options .o_dropdown.o_favorite_menu .btn.o_dropdown_toggler_btn{margin-right: 1px !important;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn,.o_control_panel .o_cp_bottom .o_cp_bottom_right .fa-chevron-left, .o_control_panel .o_cp_bottom .o_cp_bottom_right .fa-chevron-right, .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn{margin-right: 5px !important;}
	.o_control_panel .o_cp_action_menus .o_dropdown .o_dropdown_title{font-size: 0px;padding: 0px;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn{padding: 5px 8px !important;}
	.o_notebook .nav-tabs{border: 0px;border-bottom: 1px solid #dee2e6;}
	.o_view_nocontent,.o_cp_bottom .o_cp_bottom_left .btn-group > .btn.active{z-index: 0;}
	@if $separator_style == 'style_7'{
		.o_horizontal_separator:before{z-index: 0;}
	}
	.o_main_navbar{z-index: 5 !important;}
	
}
@media only screen and (min-width: 577px) and (max-width: 992px){
	.o_main_navbar .o_user_menu .oe_topbar_avatar{width: 20px !important;height: 20px !important;}
	.o_control_panel .o_cp_bottom_right .o_search_options .o_dropdown.o_filter_menu .btn.o_dropdown_toggler_btn, .o_control_panel .o_cp_bottom_right .o_search_options .o_dropdown.o_group_by_menu .btn.o_dropdown_toggler_btn,.o_control_panel .o_cp_bottom_right .o_search_options .o_dropdown.o_favorite_menu .btn.o_dropdown_toggler_btn{padding: 5px 10px !important;}
	.o_hr_attendance_kiosk_mode_container .o_hr_attendance_kiosk_mode.o_barcode_main,.o_hr_attendance_kiosk_mode_container{bottom: 15%;}
}
@media only screen and (max-width: 576px){
	.o_content .o_form_view .o_form_sheet .oe_button_box .o_dropdown_more, .modal-content .o_form_view .o_form_sheet .oe_button_box .o_dropdown_more {width: 100% !important;border: 1px solid #ccc;box-shadow: none;}
	/* .o_form_view .o_form_sheet_bg .oe_button_box .btn.oe_stat_button{width: 16.3% !important;} */
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn-secondary{height: 31px;}
	.o_control_panel .o_cp_top.sh_top1 .o_cp_top_right .o_searchview_input_container.sh_input_container{flex-wrap: nowrap;overflow: auto;width: 77% !important;}
	/* .o_control_panel .o_cp_top.sh_top1 .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{padding: 0px 2px 0px 2px !important;} */
	.o_control_panel .o_cp_top.sh_top1 .o_searchview .sh_mobile_search_icon .o_enable_searchview.btn.btn-link.fa.fa-arrow-left{border: 0px !important;}
	.o_control_panel .sh_o_cp_top .o_cp_top_right .sh_o_cp_searchview .o_searchview_input_container.sh_input_container{width: 100% !important;}
	.o_control_panel .sh_o_cp_top .o_searchview .o_searchview_input_container .o_searchview_facet{display: inline-flex;order: 1;}
	nav.o_main_navbar .o_menu_systray li.o_user_menu div.dropdown-menu{left: 0px !important;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .o_dropdown_toggler_btn i.fa.fa-chevron-right,.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .o_dropdown_toggler_btn i.fa.fa-chevron-down{display: none;}
	.modal.o_modal_full{z-index: 1111;}
	.modal-header{background: $primaryColor;color: #fff;}
	.modal-header .modal-title,.modal-header button.close{color: #fff;}
	.o_action_manager .o_action .o_content div.o_kanban_view div.o_kanban_record{margin: 3px 0px !important;}
	.o_form_view.o_xxs_form_view .o_group.o_inner_group > tbody > tr > td .o_input_dropdown{width: 96%;max-width: 100%;}
	.o_control_panel .o_cp_top .o_cp_top_left{width: 44% !important;}
	.o_control_panel .o_cp_bottom_left .btn.btn-secondary.o_form_button_cancel,
	.o_control_panel .o_cp_bottom_left .o_list_button_add {color: transparent !important;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary.o_form_button_create .fa{display: none;}
	.o_control_panel .o_cp_searchview .o_searchview{text-align: right !important;}
	.o_onboarding .o_onboarding_wrap .fa.fa-times:before{color: #fff;}
	html .o_web_client.o_fullscreen .o_control_panel .sh_o_cp_top{padding-top: 55px;}
	/*== 20-3-2021 ==*/
	.o_control_panel .breadcrumb > li{padding-left: 2px;}
	/*== 23-3-2021 ==*/ 
	.o_content .o_list_view .o_optional_columns .o_optional_columns_dropdown{right: 0;left: auto;}
	.o_form_view .o_group.o_inner_group.o_label_nowrap .o_form_label{white-space: revert;}
	.o_content .o_list_view .o_list_table.o_empty_list{table-layout: unset !important;}
	.o_form_view .o_group .o_field_widget > .btn.fa.o_select_file_button,.o_form_view .o_group .o_field_widget > .btn.fa.o_clear_file_button{padding: 5px 10px;}
}

/*== 20-3-2021 ==*/
@media only screen and (max-width: 992px){
	.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image{box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;}
	/*== 23-3-2021 ==*/ 
	.o_content .o_list_view .o_optional_columns{left: auto !important;right: 0;}
}
/*== 22-3-2021 ==*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
	.tooltip{width: 50% !important;}
}
/*== 24-3-2021 ==*/


@media (max-width: 991.98px){
	.o_form_view .o_group .o_group_col_5 {width: 100%;}
	.o_calendar_view .fc-view-container .fc-head .fc-head-container.fc-widget-header th.fc-day-header.fc-widget-header {white-space: nowrap;width: 50px;overflow: hidden;text-overflow: ellipsis;}
	.o_purchase_order .o_purchase_dashboard table.table-sm tr th,.o_purchase_order .o_purchase_dashboard table.table-sm tr td{padding: 0.3rem !important;}
}

















