/* Day Mode */
:root {
    --background: #fafafa;
    --list-background: #fcfcfc;
    --list-color: #4c4c4c;
    --list-bordercolor: #dee2e6;
    --list-fontcolor:#4c4c4c;
    --list-img_background: rgba(77, 98, 172, 0.75);
    --list-img-gra-background-1: rgba(96, 112, 195, 0.5);
    --list-img-gra-background-2: #475DA4;
    --list-btn-color: #ffffff;
    --primary-btn-bgcolor: #7C7BAD;
    --primary-btn-color: #ffffff;
    --form-tab-color: #7C7BAD;
    --chekbox-btn-bgcolor: rgba(124, 123, 173, 0.5);
    --close-btn-color: #000000;
    --form-btn-color: #4c4c4c;
    --form-btn-bg-color: #e2e2e2;
    --genral-setting-bg: #e9ecef;
    --m2o-dropdown-hover-bgcolor: #7C7BAD;
    --m2o-dropdown-hover-color: #ffffff;
    --topbar-fontcolor: #ffffff;
    --topbar-bgcolor: #7C7BAD;
    --topbar-bordercolor: #5f5e97;
    --topbar-menuhover-hover: #5f5e97;
    --topbar-menuhover-color: #ffffff;
} 


/* Night Mode */
[data-theme="dark"] {
    --background: #222736;
    --list-background: #2a3042;
    --list-color: #afb1b3;
    --list-bordercolor: #6b6b6b;
    --list-fontcolor: #a6b0cf;
    --list-img_background: rgba(42, 42, 42,0.75);
    --list-img-gra-background-1: rgba(42, 42, 42,0.1);
    --list-img-gra-background-2: #2a2a2a;
    --list-btn-color: #2a2a2a;
    --primary-btn-bgcolor: #afb1b3;
    --primary-btn-color: #2a2a2a;
    --form-tab-color: #f6f6f6;
    --chekbox-btn-bgcolor: #afb1b3;
    --close-btn-color: #afb1b3;
    --form-btn-color: #2a2a2a;
    --form-btn-bg-color: #afb1b3;
    --genral-setting-bg: #2a2a2a;
    --m2o-dropdown-hover-bgcolor: #afb1b3;
    --m2o-dropdown-hover-color: #2a2a2a;
    --topbar-fontcolor: #afb1b3;
    --topbar-bgcolor:#262b3c;
    --topbar-bordercolor: #6b6b6b;
    --topbar-menuhover-hover: #222736;
    --topbar-menuhover-color: #ffffff;
    --searchview_focus_bgcolor: #212529;
    --topbar-textcolor: #212121;
    --dashboard-bgcolor: #212121;
    --searchpanel_icon_color: #212121;
    --progress_bgcolor: #212121;
    --border-left-color: #dee2e6;
    --chatter_panel_bg: #888;
    
}




/* Define Variable */


body {background :  var(--background) !important;color: var(--list-color) !important;}
.o_main_navbar{background: var(--topbar-bgcolor) !important;border-color: var(--topbar-bordercolor) !important;}
.o_main_navbar > a:hover, 
.o_main_navbar > a:focus, 
.o_main_navbar > button:hover, 
.o_main_navbar > button:focus{background: var(--topbar-menuhover-hover);color: var(--topbar-menuhover-color) !important;}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover{background: transparent !important;color: var(--topbar-menuhover-color) !important;}
.o_main_navbar .show .dropdown-toggle{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.dropdown-item:hover, .dropdown-item:focus{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}



a{color: var(--form-tab-color) !important;}
a:hover{color: var(--form-tab-color);}

.close{color: var(--close-btn-color) !important;}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus{color: var(--close-btn-color);}
.custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before{outline: 1px solid var(--list-bordercolor);}
.dropdown-divider{border: 1px solid var(--list-bordercolor) !important;}
.o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{color: var(--form-btn-color);background: var(--form-btn-bg-color);}



.dropdown-menu{background: var(--list-background) !important;border: 1px solid var(--list-bordercolor) !important;}
.dropdown-item:hover, .dropdown-item:focus{background: var(--list-background);color: var(--list-color);}

.o_dropdown_menu .o_menu_item > .dropdown-item{color: var(--list-color) !important;}
.o_dropdown_menu .o_menu_item > .dropdown-item:hover{color: var(--list-color);}
select{background: var(--list-background);color: var(--list-color) !important;border: 1px solid var(--list-bordercolor);}
.o_input{background: var(--list-background) !important;color: var(--list-color) !important;border: 1px solid var(--list-bordercolor) !important;}
.dropdown-item-text{color: var(--list-color);}
.o_list_view{background: var(--list-background);}
.dropdown-menu{color: var(--list-color);}

.o_list_view tfoot{background :  var(--list-background) !important;}
.ui-sortable{background :  var(--list-background) !important;color: var(--list-fontcolor);}
.table th, .table td{border-top: 1px solid var(--list-bordercolor) !important;}
.o_list_view thead{background :  var(--list-background) !important;color: var(--list-fontcolor) !important;}
.table thead th{border-bottom: 2px solid var(--list-bordercolor) !important;}
.o_list_view thead > tr > th{border-left: 1px solid var(--list-bordercolor) !important;}
.o_onboarding.o_onboarding_violet .o_onboarding_wrap{background-color: var(--list-img_background) !important;background-image: linear-gradient(to bottom, var(--list-img-gra-background-1), var(--list-img-gra-background-2)) !important;}
.o_control_panel{background: var(--background) !important;border-bottom: 1px solid var(--list-bordercolor) !important;}
.breadcrumb{background: var(--background);}
.o_dropdown .dropdown-toggle {color: var(--list-color);background-color: var(--list-btn-color);border-color: var(--list-bordercolor);}
.o_searchview{background-color: var(--background);border: 1px solid var(--list-bordercolor);}
.o_searchview .o_searchview_input{background-color: var(--background);color: var(--list-fontcolor);}
.btn-secondary.disabled, .btn-secondary:disabled{background-color: var(--list-btn-color);border: 1px solid var(--list-bordercolor);color: var(--list-color);}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{background-color: var(--list-btn-color);border: 1px solid var(--list-bordercolor);color: var(--list-color);}
.btn-secondary{background-color: var(--list-btn-color);border: 1px solid var(--list-bordercolor);color: var(--list-color);}
.btn-secondary:hover{background-color: var(--list-btn-color);border: 1px solid var(--list-bordercolor);color: var(--list-color);}
.btn-primary{background: var(--primary-btn-bgcolor) !important;color: var(--primary-btn-color) !important;border-color: var(--primary-btn-bgcolor) !important;}
.btn-primary:disabled{background: var(--primary-btn-bgcolor);color: var(--primary-btn-color);border-color: var(--primary-btn-bgcolor);}
.btn-primary:hover{background: var(--primary-btn-bgcolor);color: var(--primary-btn-color);border-color: var(--primary-btn-bgcolor);}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{background: var(--primary-btn-bgcolor);color: var(--primary-btn-color);}




/* form view */
.o_form_view .o_form_statusbar{background: var(--background) !important;border-bottom: 1px solid var(--list-bordercolor) !important;}
.o_form_view .o_group .o_td_label{border-right: 1px solid var(--list-bordercolor) !important;}
.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator{border-top: 1px solid var(--list-bordercolor);}


.o_form_view .o_form_sheet_bg{background: var(--background);}
.o_form_view .o_form_sheet_bg > .o_form_sheet{background: var(--list-background) !important;}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled{background: var(--list-background) !important;color: var(--form-tab-color) !important;}
.o_form_view .o_form_uri,
.o_form_view .o_form_uri > span{color: var(--list-color) !important;}
.o_form_view .o_form_uri:hover{color: var(--list-color);}

.nav-tabs .nav-link{color: var(--form-tab-color);}
.nav-tabs .nav-link.active{background: var(--list-background) !important; color: var(--list-color) !important;}
.o_form_view{background: var(--list-background) !important;}
.o_form_view .o_form_sheet_bg{background: var(--background) !important;border: 1px solid var(--list-bordercolor);}
.o_mail_thread .o_thread_message.o_mail_not_discussion,
.o_mail_activity .o_thread_message.o_mail_not_discussion{background: var(--background);}
.o_mail_thread .o_thread_date_separator .o_thread_date{background: var(--list-background) !important;}
.o_chatter .o_chatter_topbar > .btn{color: var(--form-tab-color);}
.o_followers .o_followers_actions .o_followers_follow_button{color: var(--list-color);}
.btn-link{color: var(--primary-btn-bgcolor) !important;}
.btn-link:hover{color: var(--primary-btn-bgcolor);}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{border-color: var(--list-bordercolor) var(--list-bordercolor) var(--list-background) !important;}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{border-color: var(--list-bordercolor) var(--list-bordercolor) var(--list-background) !important;}
.nav-tabs{border-color: var(--list-bordercolor) !important;}

.o_form_view .o_horizontal_separator{color: var(--primary-btn-bgcolor) !important;}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before{background: var(--chekbox-btn-bgcolor);}
.o_form_view .o_form_sheet_bg > .o_form_sheet{border: 1px solid var(--list-bordercolor) !important;}
.o_mail_thread .o_thread_date_separator, .o_mail_activity .o_thread_date_separator{border-bottom: 1px solid var(--list-bordercolor);}
.o_mail_thread .o_thread_message.o_mail_not_discussion, .o_mail_activity .o_thread_message.o_mail_not_discussion{border-bottom: 1px solid var(--list-bordercolor) !important;background: var(--background) !important;}

.o_form_view .o_form_uri:first-line,
.o_form_view .o_form_uri:hover:first-line{color: var(--form-tab-color);}



/* discuss */
.o_mail_discuss .o_mail_discuss_content{background: var(--list-background) !important;}
.o_thread_composer .o_composer, .o_thread_composer .o_composer_subject{background: var(--list-background) !important;}
.o_thread_composer:not(.o_chat_mini_composer){border: 1px solid var(--list-background) !important;background: var(--background) !important;}
.o_thread_composer:not(.o_chat_mini_composer) .o_composer, .o_thread_composer:not(.o_chat_mini_composer) .o_composer_subject{border: 1px solid var(--list-bordercolor) !important; }
.o_thread_composer:not(.o_chat_mini_composer).o_chat_inline_composer .o_chatter_composer_tools{border-left: 1px solid var(--list-bordercolor);}

/* discuss */


/* modal */
.modal-content{background: var(--list-background) !important;}
.modal-footer{border-top: 1px solid var(--list-bordercolor) !important;}
.modal-header{border-bottom: 1px solid var(--list-bordercolor) !important;}
/* modal */

/* kanban view */
.o_kanban_view .o_kanban_record, .o_kanban_view .o_kanban_quick_create{background-color: var(--list-background);color: var(--list-fontcolor);}
.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_header + .container.o_kanban_card_content .o_kanban_primary_bottom.bottom_block{background: var(--list-background) !important;}
.o_kanban_view .o_kanban_record, .o_kanban_view .o_kanban_quick_create{}

/* kanban view */
 
/* calendar view */
.o_calendar_container .o_calendar_view .o_calendar_widget{background-color: var(--list-background);}
.fc-unthemed .fc-today{background-color: var(--list-background) !important;}
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{border-color: var(--list-bordercolor) !important;}
.o_calendar_container .o_calendar_view .o_calendar_widget .fc-week-number, .o_calendar_container .o_calendar_view .o_calendar_widget .fc-widget-header{background-color: var(--list-background) !important;}
.o_calendar_container .o_calendar_sidebar_container .o_calendar_sidebar{background: var(--list-background);}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header{background: var(--list-background) !important;color: var(--list-color) !important;border-color: var(--list-bordercolor) !important;}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header .ui-datepicker-prev, .o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header .ui-datepicker-next{color: var(--list-color);}
.ui-widget-content{background: var(--list-background) !important;color: var(--list-color) !important;}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table td{background: var(--list-background);color: var(--list-color);}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table td a{background: var(--list-background);color: var(--list-color);}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .o_selected_range.o_color{background: var(--list-background);animation: none;}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default{color: var(--form-tab-color);}
.o_calendar_container .o_calendar_sidebar_container .o_calendar_filter{border-top: 1px solid var(--list-bordercolor);}


/* calendar view */


/* paivot view */
.o_pivot table .o_pivot_header_cell_opened{background: var(--list-background);color: var(--list-fontcolor);}
.o_pivot table{background: var(--list-background);}
.o_pivot table .o_pivot_measure_row{background: var(--list-background);border-color: var(--list-bordercolor);}
.table-bordered th, .table-bordered td{background: var(--list-background) !important;border-color: var(--list-bordercolor) !important;}
.o_pivot table .o_pivot_header_cell_closed{background: var(--list-background);border-color: var(--list-bordercolor);}
.o_pivot table th,
.o_pivot table .o_pivot_header_cell_closed:hover,
.o_pivot table .o_pivot_measure_row:hover,
.o_pivot table .o_pivot_header_cell_opened:hover{background: var(--list-background) !important;border-color: var(--list-bordercolor) !important;}
.o_pivot.o_enable_linking .o_pivot_cell_value:hover{color: var(--list-fontcolor)}
/* paivot view */

/* graph view */
.o_graph .o_graph_container .o_graph_svg_container svg{background: var(--list-background);color: var(--list-fontcolor);}
/* graph view */

/*  invoices  */
.o_onboarding.o_onboarding_blue .o_onboarding_wrap{background-color: var(--list-img_background) !important;background-image: linear-gradient(to bottom, var(--list-img-gra-background-1), var(--list-img-gra-background-2)) !important;}
.o_onboarding{border-bottom: 1px solid var(--list-bordercolor) !important;}
/* invoices */

/* setting */
.o_web_settings_dashboard{background :  var(--background) !important;}
.o_web_settings_dashboard .o_web_settings_dashboard_col > div{background :  var(--list-background) !important;}
.o_web_settings_dashboard .o_web_settings_dashboard_col > div > hr{border-color: var(--list-bordercolor);}
.o_form_view .oe_button_box .oe_stat_button{background :  var(--background) !important;border-color: var(--list-bordercolor) !important;color: var(--list-fontcolor) !important;}
/* setting */


/* status bar */
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after{border-left: 11px solid var(--list-btn-color) !important;}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after{border-left-color: var(--background) !important;}
/* status bar */






/* mail view */
.o_mail_preview{background-color: var(--list-background) !important;color: var(--list-fontcolor) !important;}
.o_mail_preview.o_preview_unread:hover{background-color: var(--list-background);color: var(--list-fontcolor);}
.o_mail_preview:hover{background-color: var(--list-background);color: var(--list-fontcolor);}
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button:hover, 
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top .o_filter_button.active{color: var(--form-tab-color) !important;}
.o_mail_preview:not(:last-child){border-bottom: 1px solid var(--list-bordercolor);}
.o_mail_systray_item .o_mail_systray_dropdown .o_mail_systray_dropdown_top{border-bottom: 1px solid var(--list-bordercolor);}
/* mail view */


/* general setting */
.o_base_settings .o_setting_container .settings{background: var(--list-background) !important;}
.o_base_settings .o_setting_container .settings > .app_settings_block h2{background: var(--genral-setting-bg) !important;}
.o_required_modifier.o_input, .o_required_modifier .o_input{background-color: var(--list-background) !important;}
.ui-autocomplete .ui-menu-item > a{color: var(--list-color);}
.o_field_widget.o_field_many2one .o_external_button{color: var(--list-color);background: var(--list-background);}
.o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput{background: var(--background);color: var(--list-color);border-color: var(--list-bordercolor);}
.show .dropdown-menu .dropdown-header{color: var(--list-color) !important;}
/* general setting */

/* m2o */
.ui-autocomplete .ui-menu-item.ui-state-focus{background: var(--m2o-dropdown-hover-bgcolor);color: var(--m2o-dropdown-hover-color);}
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a{color: var(--form-tab-color);}
/* m2o */

.note-editor .note-editing-area .note-editable{background: var(--list-background);}
.note-editor .note-statusbar{background: var(--list-background);}
.note-editor .note-editing-area .note-editable{color: var(--list-color) !important;}
/* Define Variable */



/* crm */
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button{color: var(--list-color);}
/* crm */




/* v13 scss */
.o_kanban_view .o_kanban_record, .o_kanban_view .o_kanban_quick_create{background: var(--background) !important;}
.o_control_panel{background: var(--background) !important;}
.breadcrumb{background: var(--background) !important;}
.o_searchview{background: var(--background) !important;border-color: var(--list-bordercolor) !important;}
.btn-secondary {background-color: var(--list-btn-color) !important;border: 1px solid var(--list-bordercolor) !important;color: var(--list-color) !important;}
.table-hover tbody tr:hover{color: var(--list-color) !important;}
.o_calendar_view .o_calendar_widget .fc-agendaDay-view div.fc-day-grid, .o_calendar_view .o_calendar_widget .fc-agendaWeek-view div.fc-day-grid{background: var(--list-background) !important;}
.o_calendar_sidebar_container{background: var(--list-background) !important;}
.o_graph_controller .o_graph_renderer .o_graph_canvas_container canvas{background: var(--list-background) !important;}
.o_activity_view > table{background: var(--list-background) !important;}
/* v13 scss */



.o_list_view .o_list_table{background: var(--list-background) !important;color: var(--list-color) !important;}
.o_list_view .o_list_table tr:focus-within, .o_list_view .o_list_table.table-striped tr:focus-within{background: var(--list-background) !important;color: var(--list-color) !important;}
.o_list_view .o_list_table thead th:focus-within, .o_list_view .o_list_table tbody.o_keyboard_navigation td:focus-within{background: var(--list-background) !important;color: var(--list-color) !important;}

/* topbar */
.o_main_navbar > .o_menu_brand,
.o_main_navbar > ul > li > a, 
.o_main_navbar > ul > li > label{color: var(--topbar-fontcolor) !important;}

.ui-autocomplete .ui-menu-item > a.ui-state-active{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.ui-autocomplete .ui-menu-item > a.ui-state-active

.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier){background-color: var(--list-background);}
.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier){background-color: var(--list-background) !important;}



.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:before{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.o_thread_composer:not(.o_chat_mini_composer).o_chat_inline_composer .o_composer_input textarea{border: 0px !important;}
.o_calendar_sidebar .o_calendar_mini .ui-datepicker-calendar tr{color: var(--list-color) !important;}
.o_calendar_sidebar_container .ui-datepicker td.ui-datepicker-current-day.ui-datepicker-today a,
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default:hover{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.modal-footer .btn.btn-primary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
.o_cp_buttons .btn.btn-primary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
.o_list_table_ungrouped tbody tr{background: var(--list-background) !important;color: var(--list-color) !important;}



.o_kanban_view.o_kanban_ungrouped .o_kanban_record{background: var(--list-background) !important;}
html .o_web_client > .o_action_manager > .o_action > .o_content{background: var(--background) !important;}

.o_chatter .o_chatter_topbar > .btn{background: var(--background) !important;color: var(--list-fontcolor) !important;border-color: var(--list-bordercolor) !important;}
.o_form_view .oe_button_box .oe_stat_button .o_button_icon{color: var(--list-fontcolor) !important;}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value, .o_form_view .oe_button_box .btn.oe_stat_button > span .o_stat_value{color: var(--list-fontcolor) !important;}
/* .o_form_view .o_horizontal_separator{border-bottom: 2px dashed var(--list-fontcolor) !important;} */




.o_mail_thread .o_thread_date_separator .o_thread_date, .o_mail_activity .o_thread_date_separator .o_thread_date{background: var(--background) !important;}
.o_statusbar_buttons .btn-secondary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
.note-popover .popover .popover-body, .panel-heading.note-toolbar{background: var(--list-background) !important;}
.o_calendar_view .o_calendar_widget .fc-month-view .fc-day-number{color: var(--list-fontcolor) !important;}
.o_calendar_view .o_calendar_widget .fc-month-view .fc-day-top.fc-other-month .fc-day-number{color: #a2a2a2 !important;}
.btn-info{background: var(--primary-btn-bgcolor) !important;color: var(--primary-btn-color) !important;border-color: var(--primary-btn-bgcolor) !important;}
.o_kanban_view .o_kanban_record .o_kanban_record_title span{color: var(--list-fontcolor) !important;}
.o_form_statusbar .o_statusbar_status .btn-secondary.disabled, .btn-secondary:disabled{color: var(--list-fontcolor) !important;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:active{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.ui-sortable tr td{background: var(--list-background) !important;}
.o_form_view .o_field_widget{color: var(--form-tab-color) !important;}
 .o_searchview .o_searchview_more{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.o_list_view .o_column_sortable::after{color: var(--list-fontcolor) !important;}
.o_form_view .o_form_uri:first-line{color: var(--list-fontcolor) !important;}
.o_field_widget .o_input_dropdown .o_dropdown_button:after{color: var(--list-fontcolor) !important;}
.o_followers_title_box .btn-link{color: var(--list-fontcolor) !important;}
.o_list_view .o_list_table tr td{background: var(--list-background) !important;color: var(--list-color) !important;}
.o_form_view .o_group.o_inner_group > tbody > tr > td span{color: var(--list-color) !important;}
.o_field_x2many_list_row_add a{background: var(--list-background) !important;color: var(--list-color) !important;}
.o_field_widget.o_field_many2manytags .o_tag_color_3, 
.o_field_widget.o_field_many2manytags .o_tag_color_3::after{background: var(--list-background) !important;color: var(--list-color) !important;}
.o_datepicker .o_datepicker_button:after{color: var(--primary-btn-bgcolor) !important;}
.o_field_widget.o_field_many2one .o_external_button{background: transparent !important;}
.datepicker .table-sm > thead{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
.o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{background: var(--form-btn-bg-color);color: var(--form-btn-color) !important;}
.badge-primary{background: var(--form-btn-bg-color) !important;color: var(--form-btn-color) !important;}

.o_onboarding .o_onboarding_step .o_onboarding_step_content .o_onboarding_step_action{color: var(--form-btn-color) !important;}
.o_base_settings .o_control_panel .o_panel .o_setting_search .searchIcon{background: var(--form-btn-bg-color) !important;color: var(--form-btn-color) !important;}
.o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number{background: var(--form-btn-bg-color) !important;color: var(--form-btn-color) !important;}









.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {
    background: var(--topbar-menuhover-hover) !important;
    color: var(--topbar-menuhover-color) !important;
}
.text-muted {
    color: var(--form-tab-color) !important;
}
.o_mail_thread_message_tracking{color: var(--background) !important;}
.o_form_statusbar .o_statusbar_status .btn-secondary.disabled,
.btn-secondary:disabled {
    color: var(--list-fontcolor) !important;
}
.o_dropdown .dropdown-toggle:first-child{border: var(--list-bordercolor) !important;}
.o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number{background-color: var(--form-btn-bg-color) !important}
.o_activity_view .o_record_selector{color: var(--list-color) !important;}
.o_activity_view .o_activity_summary_cell .dropdown-toggle .o_closest_deadline{color: var(--form-tab-color) !important;}
.tooltip .tooltip-inner{color: var(--form-btn-color) !important;background: var(--form-btn-bg-color) !important;}
[type='checkbox']:checked + label:not(.lever):before{
    border-right: 2px solid var(--list-fontcolor) !important;
    border-bottom: 2px solid var(--list-fontcolor) !important;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{box-shadow: inset 3px 0 0 var(--list-fontcolor) !important;}

.o_dropdown .dropdown-toggle:first-child {border: 1.5px solid !important;}
.o_view_controller .o_kanban_ungrouped .oe_kanban_global_click .oe_kanban_bottom_left span{color: var(--form-tab-color) !important;}
.o_statusbar_buttons .btn-secondary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
.o_base_settings .o_setting_container .settings_tab .selected{box-shadow: inset 3px 0 0 var(--list-fontcolor) !important;}
.o_base_settings .o_setting_container .settings > .app_settings_block h2{color: var(--list-color) !important;}

[type='radio']:checked + label:after, [type='radio'].with-gap:checked + label:after{background-color: var(--primary-btn-bgcolor) !important;}
[type='radio']:checked + label:after, [type='radio'].with-gap:checked + label:before, [type='radio'].with-gap:checked + label:after{background-color: var(--primary-btn-bgcolor) !important;}

.hover_menuitem .sh_backmate_theme_appmenu_div .logo{background: var(--background) !important;}
html .o_web_client > .o_action_manager > .o_action{background: var(--background) !important;}
.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{background: var(--list-background) !important;}
.o_chatter .o_chatter_topbar{background: var(--background) !important;}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:before{border-left-color: var(--list-background) !important;}
.o_cp_buttons .btn.btn-primary:hover{border-color: var(--primary-btn-bgcolor);}
.o_form_view .o_form_statusbar{background: var(--background) !important;}
nav.o_main_navbar .o_menu_systray li.theme_settings{background: var(--list-background) !important;}

.o_cp_buttons .btn-secondary:hover{background: var(--primary-btn-bgcolor) !important;color: var(--primary-btn-color) !important;}


.backmate_theme_layout{background: var(--background) !important;}
#theme_color_id .collapse{background: var(--background) !important;} 
.backmate_theme_layout #theme_color_id .sh_color_plates.card.card-body{background: var(--background) !important;}
.backmate_theme_layout #theme_style_id .sh_style_plates.card.card-body{background: var(--background) !important;}
.backmate_theme_layout  .btn > span{color: var(--list-fontcolor) !important;}
.backmate_theme_layout  .btn i.fa{color: var(--list-fontcolor) !important;}
  .backmate_theme_layout #color_list_id .btn.btn-primary{padding: 5px 10px;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a.active span{color: var(--topbar-menuhover-color) !important;}
[type='radio']:checked + label:after, [type='radio'].with-gap:checked + label:before, [type='radio'].with-gap:checked + label:after{border-color: var(--list-bordercolor) !important;}

.o_pivot table.o_enable_linking .o_pivot_cell_value:not(.o_empty):hover{color: var(--form-tab-color) !important;}


/* 01-10-2020 */
.o_view_controller .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled{border-left: 1px solid var(--list-color) !important;}






/* 07-10-2020 */

.o_kanban_view.o_event_kanban_view .o_kanban_record .o_event_left{background: var(--primary-btn-bgcolor) !important;}



.icon-top_show:hover::before, .icon-top_show:focus::before,
.icon-top_hide:hover::before, .icon-top_hide:focus::before {
    color: var(--primary-btn-bgcolor) !important;
}



.o_horizontal_separator:before {background: var(--primary-btn-bgcolor) !important;}

nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span:hover, nav.o_main_navbar .o_menu_systray li.o_night_mode span:hover, nav.o_main_navbar .o_menu_systray li.o_debug_manager a span:hover, .o_main_navbar > ul > li > a span.icon-activity:hover, .o_main_navbar > ul > li > a span.icon-discuss:hover, .o_main_navbar > ul > li > a.gift_icon i:hover, nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a i:hover, .o_main_navbar > ul > li > a .icon-expand:hover, nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img:hover, nav.o_main_navbar > ul > li.o_user_bookmark_menu > a i:hover {
    color: var(--primary-btn-bgcolor) !important;
}





/* 24-10-2020 */

.o_MessageList_empty{background: var(--list-background) !important;}
.o_searchview .o_searchview_autocomplete li.o_selection_focus{background: var(--searchview_focus_bgcolor) !important;}
.o_mail_systray_item .o_notification_counter, .o_MessagingMenu_counter{background: var(--primary-btn-bgcolor) !important;color: var(--topbar-textcolor) !important;}
.o_main_navbar > ul > li > a:hover,.icon-bars:before,.icon-search:before,.icon-expand:before{color: var(--topbar-fontcolor) !important;}
.o_DiscussSidebarItem_activeIndicator.o-item-active{background-color: var(--topbar-fontcolor) !important;}
div.o_boolean_toggle.custom-control.custom-checkbox > input.custom-control-input:checked + label.custom-control-label::before{background: var(--form-tab-color) !important;}
.o_purchase_dashboard .table > thead > tr > td.o_main, .o_purchase_dashboard .table tbody > tr > td.o_main{background: var(--dashboard-bgcolor) !important;}

.btn.btn-sm.btn-primary.o_clipboard_button.o_btn_text_copy,
.btn.btn-sm.btn-primary.o_clipboard_button.o_btn_char_copy{color: var(--primary-btn-color) !important;background: transparent !important;}

.o_field_widget.o_field_copy{border: 1px solid var(--primary-btn-color) !important;}
.o_search_panel .o_search_panel_category .o_search_panel_section_icon{color: var(--searchpanel_icon_color) !important;}

.o_progressbar .o_progress .o_progressbar_complete{background: var(--progress_bgcolor) !important;}
.o_kanban_view .ui-sortable,.o_kanban_view.o_kanban_grouped{background: var(--background) !important;}



.o_kanban_content .bg-primary{background: var(--primary-btn-bgcolor) !important;}

.o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box .o_link_trackers .fa,.o_content .o_expense_purple{color: var(--primary-btn-bgcolor) !important;}
.o_lunch_content .o_lunch_banner,.o_search_panel{background: var(--background) !important;}



.modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header{background: var(--background) !important;}



/* 30-10-2020 */

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after{border-left: 11px solid var(--background) !important;}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
    border-top: 18px solid transparent !important;
    border-bottom: 16px solid transparent !important;
    right: -11px;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before {
    right: -12px;
    border-left-color: var(--border-left-color) !important;
}
.o_form_statusbar .o_field_widget .o_arrow_button:not(.disabled):hover {
    background: #e8e8e8 !important;
    color: #495057 !important;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after{border-left-color: var(--list-background) !important;}
/* .o_form_statusbar .o_field_widget .o_arrow_button:not(.disabled):hover{background: var(--list-btn-color) !important;} */


.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover:after, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):active:after, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):focus:after {
    border-left-color: #e8e8e8 !important;
}


.o_Chatter,.o_ThreadView_messageList,.o_Message,.o-not-discussion,.o_Composer.o-has-current-partner-avatar{background: var(--background) !important;}


/* 2-11-2020 */

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:first-child:before,
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:first-child:after{display: none;}

/* 23-11-2020 */

.dropdown-menu.sh_backmate_theme_appmenu_div .logo #hide_top_bar, .dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar{color: var(--primary-btn-bgcolor) !important;}
.o_main_navbar .o_menu_systray .sh_search_container .sh_search_results{background: var(--background) !important;}
.o_main_navbar .o_menu_systray .o_MessagingMenu i.fa:hover, .o_main_navbar .o_menu_systray .sh_bookmark_menu_list span:hover{color: var(--primary-btn-bgcolor) !important;}

.o_Message .o_Message_core .o_Message_content p a{background: var(--list-background) !important;}

.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.btn:active, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.btn.active, .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.btn:focus{border: 1px solid var(--list-bordercolor) !important;}
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonSendMessage, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonLogNote, .o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions .btn.o_ChatterTopbar_buttonScheduleActivity{background: var(--background) !important;border: var(--background) !important;}
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel{background: var(--chatter_panel_bg) !important;}


.o_form_view .o_form_statusbar > .o_statusbar_status{padding-right: 0px !important;}


/* 28-12-2020 */

.o_form_view .o_form_statusbar > .o_statusbar_status.o_field_widget{padding-right: 0px !important;}
div.o_boolean_toggle.custom-control.custom-checkboxo_field_boolean > input.custom-control-input:checked + label.custom-control-label::before{background: var(--list-background) !important;}


/* == 12-2-2021 == */

//  @if $tab_style == 'horizontal' or $tab_style_mobile == 'horizontal' { 
// 	@if $horizontal_tab_style == 'style_1'{
// 		/*.o_notebook .nav.nav-tabs .nav-item .nav-link.active,.o_notebook .nav.nav-tabs .nav-item .nav-link:active{color: var(--background) !important;}*/
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link{border-color: var(--list-bordercolor) var(--list-bordercolor) var(--list-background) !important;}
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link:after{position: absolute;bottom: 0;left: 0;width: 100%;height: 4px;background: var(--background) !important;content: '';transition: transform 0.3s;transform: translate3d(0,150%,0);}
// 	}
// 	@if $horizontal_tab_style == 'style_2'{
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link:before {content: "";width: 100%;height: 3px;background: var(--background) !important;position: absolute;top: 93%;left: 0;transition: all 0.3s ease 0s;}
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link:after {content: "";width: 100%;height: 100%;background: var(--background) !important;position: absolute;top: 100%;left: 0;z-index: -1;transition: all 0.3s ease 0s;}
// 	}
// 	@if $horizontal_tab_style == 'style_3'{
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link{border-color: var(--primary-btn-bgcolor) !important;}
// 		.o_notebook .nav-tabs a.nav-link.active,.o_notebook .nav-tabs a.nav-link:active{background: transparent !important;}
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link.active, .o_notebook .nav.nav-tabs .nav-item.show .nav-link{background: transparent;}
// 		.o_notebook .nav.nav-tabs .nav-item:before,.o_notebook .nav.nav-tabs .nav-item .nav-link:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;top: 0;background: var(--background) !important;height: 4px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.7s;transition-duration: 0.7s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
// 		.o_notebook .nav.nav-tabs .nav-item:focus .nav-link,.o_notebook .nav.nav-tabs .nav-item .nav-link:active,.o_notebook .nav.nav-tabs .nav-item .nav-link.active{color: var(--background) !important;}
// 	}	
// 	@if $horizontal_tab_style == 'style_4'{
// 		.o_notebook .nav.nav-tabs .nav-item a.nav-link.active, .o_notebook .nav.nav-tabs .nav-item a.nav-link.active:before, .o_notebook .nav.nav-tabs .nav-item a.nav-link.active:after{background-color: var(--background) !important;}
// 	}
// 	@if $horizontal_tab_style == 'style_5'{
// 		.o_notebook .nav.nav-tabs .nav-item .nav-link{border-color: var(--primary-btn-bgcolor) !important;}
// 		.o_notebook .nav.nav-tabs .nav-link.active:before,.o_notebook .nav.nav-tabs .nav-link:before{background: var(--background) !important;}
// 	}
// 	@if $horizontal_tab_style == 'style_6'{
//    		.o_notebook .nav.nav-tabs .nav-link{transition: color 0.2s;border-color: var(--primary-btn-bgcolor) !important;}		
//    		.o_notebook .nav.nav-tabs .nav-link {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;border-radius: 0px 15px 0px 15px;}
// 		.o_notebook .nav.nav-tabs a.nav-link:focus, .o_notebook .nav.nav-tabs a.nav-link:active,.o_notebook .nav.nav-tabs a.nav-link.active {color: var(--primary-btn-bgcolor) !important;border-radius: 0px 15px 0px 15px;border: 1px solid var(--background) !important;border-bottom: 1px solid var(--background) !important;}	
//    	} 
//    	@if $horizontal_tab_style == 'style_7'{
//    		.o_notebook .nav.nav-tabs .nav-link{transition: color 0.2s;border-radius: 0;border: 1px solid var(--primary-btn-bgcolor) !important;}		
//    		.o_notebook .nav.nav-tabs .nav-link {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.5s;transition-duration: 0.5s;}
// 		.o_notebook .nav.nav-tabs a.nav-link:focus, .o_notebook .nav.nav-tabs a.nav-link:active,.o_notebook .nav.nav-tabs a.nav-link.active {color: var(--primary-btn-bgcolor);border-top: 2px solid var(--background) !important;border-radius: 0;border-bottom-color: transparent !important;}	
//    	} 
// } 
// @if $tab_style == 'vertical' or  $tab_style_mobile == 'vertical'{
// 	@if $vertical_tab_style == 'style_1'{
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]:after{background: var(--background) !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"][aria-expanded="true"], .o_notebook .accordion .card-header [data-toggle="collapse"][aria-expanded="true"] .fa{color: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// 	@if $vertical_tab_style == 'style_2'{
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]:after,.o_notebook .accordion .card-header [data-toggle="collapse"]:before{background: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// 	@if $vertical_tab_style == 'style_3'{
// 		.o_notebook .accordion .card-header:before, .o_notebook .accordion .card-header [data-toggle="collapse"]:before,.o_notebook .accordion .card-header h5.o_default_notebook_title{background: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// 	@if $vertical_tab_style == 'style_4'{
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]{margin-right: 19px !important;margin-left: 19px !important;}
// 		.o_notebook .accordion .card-header a[data-toggle="collapse"][aria-expanded="true"], .o_notebook .accordion .card-header a[data-toggle="collapse"][aria-expanded="true"]:before, .o_notebook .accordion .card-header a[data-toggle="collapse"][aria-expanded="true"]:after{background-color: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// 	@if $vertical_tab_style == 'style_5'{
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]{margin-right: 0px !important;background: transparent !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]:before{background: var(--background) !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"][aria-expanded="true"] h5 span.fa:before{color: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// 	@if $vertical_tab_style == 'style_6'{
// 		.o_notebook .accordion .card-header{background: transparent !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]{background: var(--primary-btn-bgcolor) !important;color: var(--background) !important;}
// 		.o_notebook .accordion .card-header a[data-toggle="collapse"]:focus, .o_notebook .accordion .card-header a[data-toggle="collapse"]:active, .o_notebook .accordion .card-header a[data-toggle="collapse"][aria-expanded="true"]{border: 1px solid var(--background) !important;border-bottom: 1px solid var(--background) !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]:hover, .o_notebook .accordion .card-header [data-toggle="collapse"] h5 span.fa{color: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// 	@if $vertical_tab_style == 'style_7'{
// 		.o_notebook .accordion .card-header{background: transparent !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"]{background: var(--primary-btn-bgcolor) !important;color: var(--background) !important;}
// 		.o_notebook .accordion .card-header a[data-toggle="collapse"]:focus, .o_notebook .accordion .card-header a[data-toggle="collapse"]:active, .o_notebook .accordion .card-header a[data-toggle="collapse"][aria-expanded="true"]{border-top: 2px solid var(--background) !important;}
// 		.o_notebook .accordion .card-header [data-toggle="collapse"][aria-expanded="true"] h5 span.fa{color: var(--background) !important;}
// 		.o_notebook .accordion .card-body{margin-bottom: 5px;background: transparent !important;}
// 	}
// }







/*--feb-20 changes--*/
.o_view_controller .o_kanban_ungrouped .oe_kanban_global_click .o_kanban_record_title span {    color: #f6f6f6!important;}
.dropdown-item{color: #a6b0cf !important;}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:focus, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:focus, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active {
    box-shadow: 0 4px 20px 0 rgba(0 ,0 ,0 ,.14%), 0 6px 10px -5px #222736!important;
    border-radius: 3px !important;
    background: #222736 !important;
    color: #f6f6f6 !important;
}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active > .sh_fa_icon, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:active > .sh_fa_icon, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active > span.sh_fa_icon, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:active > span.sh_fa_icon{ color: #f6f6f6 !important;}
.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right{background: #222736!important;
    border: 0px!important;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span {
    color: #f6f6f6 !important;
  }
.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover, .o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div ul.dropdown-menu a {
        border-radius: 3px !important;
        color: #a6b0cf!important;
    }
    ::-webkit-scrollbar-thumb{background: #a2adb7; width: 2px;}