.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {
	background-color: $header_active_color !important;
}
.text-muted {
	color: #4c4c4c;
}
//.o_dropdown .dropdown-toggle:first-child {border: var(--list-bordercolor) !important;}

.o_form_statusbar .o_statusbar_status .btn-secondary.disabled,
.btn-secondary:disabled {
	color: #212529 !important;
}
.o_calendar_view .o_calendar_widget .fc-month-view .fc-content-skeleton .fc-today .fc-day-number{background-color: $primaryColor !important;}
.o_activity_view .o_record_selector{color: $primaryColor !important;}
[type='checkbox']:checked + label:not(.lever):before{border-right: 2px solid $primaryColor !important;
    border-bottom: 2px solid $primaryColor !important;}

//.o_dropdown .dropdown-toggle:first-child {border: 2px solid !important;}
.o_view_controller .o_kanban_ungrouped .oe_kanban_global_click .oe_kanban_bottom_left span{color: #939daa !important;}
.o_statusbar_buttons .btn-secondary{border: 1.5px solid $primaryColor !important;}
//.o_dropdown .dropdown-toggle:first-child{border: 2px solid $primaryColor !important;}




@if $button_style == 'style_1'{
    .o_cp_buttons .btn-secondary{border: 1.5px solid $primaryColor!important;}
    .o_cp_buttons .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
    .o_statusbar_buttons .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
    .o_statusbar_buttons .btn-secondary{border: 1.5px solid $primaryColor !important;}
}

@if $button_style == 'style_2'{
	.o_cp_buttons .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
	.o_cp_buttons .btn-secondary{border: 1.5px solid $primaryColor !important;}
	.o_statusbar_buttons .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
    .o_chatter .o_chatter_topbar > .btn{border: 1.5px solid $primaryColor!important;}
    .modal-footer .btn-secondary{border: 1.5px solid $primaryColor !important;}
}
@if $button_style == 'style_3'{
	.o_cp_buttons .btn-secondary{border: 1.5px solid $primaryColor!important;}
	.o_cp_buttons .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
	.o_statusbar_buttons .btn.btn-primary{border: 1.5px solid $primaryColor !important;}
}


@if $theme_style == 'style_1'{
	//.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{border-color: $primary_hover !important;}
	.sh_backmate_theme_appmenu_div ul.dropdown-menu a.active{background: $sidebar_font_hover_bg_color !important;}
}

