
@if $button_style == 'style_2'{
    .o_cp_buttons .btn.btn-primary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
    .o_cp_buttons .btn-secondary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
    .o_statusbar_buttons .btn.btn-primary{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
    .o_chatter .o_chatter_topbar > .btn{border: 1.5px solid var(--primary-btn-bgcolor) !important;}
    .modal-footer .btn-secondary{border: 1.5px solid var(--list-bordercolor) !important;}
}


@if $button_style == 'style_1'{
    .o_cp_buttons .btn-secondary{border: 1.5px solid var(--list-bordercolor) !important;}
    .o_cp_buttons .btn.btn-primary{border: 1.5px solid var(--list-bordercolor) !important;}
    .o_statusbar_buttons .btn.btn-primary{border: 1.5px solid var(--list-bordercolor) !important;}
}
@if $button_style == 'style_3'{
    .o_cp_buttons .btn-secondary{border: 1.5px solid var(--list-bordercolor) !important;}
    .o_cp_buttons .btn.btn-primary{border: 1.5px solid var(--list-bordercolor) !important;}
    .o_statusbar_buttons .btn.btn-primary{border: 1.5px solid var(--list-bordercolor) !important;}
}





@if $sidebar_collapse_style == 'collapsed' {
    .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover > span{color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover > span{color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active{background: var(--topbar-menuhover-hover) !important;
    color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span{color: var(--form-tab-color) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span{color: var(--form-tab-color) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-item.o_menu_header_lvl_1 a:hover{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover span{color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover{color: var(--topbar-menuhover-color) !important;background: var(--topbar-menuhover-hover) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu a.active{color: var(--topbar-menuhover-color) !important;background: var(--topbar-menuhover-hover) !important;}
}




@if $theme_style == 'style_1'{
    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{border-color: var(--list-bordercolor) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu a.active{color: var(--topbar-menuhover-color) !important;background: var(--topbar-menuhover-hover) !important;}
}



    
    @if $sidebar_collapse_style == 'expanded' {
        .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover > span{color: var(--topbar-menuhover-color) !important;}
        .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover > span{color: var(--topbar-menuhover-color) !important;}
        .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active{background: var(--topbar-menuhover-hover) !important;
    color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span{color: var(--form-tab-color) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span{color: var(--form-tab-color) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-item.o_menu_header_lvl_1 a:hover{background: var(--topbar-menuhover-hover) !important;color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover span{color: var(--topbar-menuhover-color) !important;}
    .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover{color: var(--topbar-menuhover-color) !important;background: var(--topbar-menuhover-hover) !important;}
    .sh_backmate_theme_appmenu_div ul.dropdown-menu a.active{color: var(--topbar-menuhover-color) !important;background: var(--topbar-menuhover-hover) !important;}
     /* .o_main_navbar > ul.o_menu_systray{background: var(--list-background) !important;} */
    }

    @if $theme_style == 'style_2'{
    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{border-color: var(--list-bordercolor) !important;}
     
}




