@font-face {
  font-family: 'icomoon';
  src:  url('/sh_backmate_theme_adv/static/src/fonts/icomoon.eot?rgf1n9');
  src:  url('/sh_backmate_theme_adv/static/src/fonts/icomoon.eot?rgf1n9#iefix') format('embedded-opentype'),
    url('/sh_backmate_theme_adv/static/src/fonts/icomoon.ttf?rgf1n9') format('truetype'),
    url('/sh_backmate_theme_adv/static/src/fonts/icomoon.woff?rgf1n9') format('woff'),
    url('/sh_backmate_theme_adv/static/src/fonts/icomoon.svg?rgf1n9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-website:before {
  content: "\e900";
}
.icon-settings:before {
  content: "\e901";
}
.icon-surveys:before {
  content: "\e902";
}
.icon-sales:before {
  content: "\e903";
}
.icon-timesheet:before {
  content: "\e904";
}
.icon-times-off:before {
  content: "\e905";
}
.icon-repairs:before {
  content: "\e906";
}
.icon-recruitment:before {
  content: "\e907";
}
.icon-project:before {
  content: "\e908";
}
.icon-purchase:before {
  content: "\e909";
}
.icon-point-of-sale:before {
  content: "\e90a";
}
.icon-notes:before {
  content: "\e90b";
}
.icon-live-chat:before {
  content: "\e90c";
}
.icon-manufacturing:before {
  content: "\e90d";
}
.icon-lunch:before {
  content: "\e90e";
}
.icon-link-tracker:before {
  content: "\e90f";
}
.icon-maintenence:before {
  content: "\e910";
}
.icon-event:before {
  content: "\e911";
}
.icon-invoicing:before {
  content: "\e912";
}
.icon-fleet:before {
  content: "\e913";
}
.icon-inventory:before {
  content: "\e914";
}
.icon-expences:before {
  content: "\e915";
}
.icon-global-search:before {
  content: "\e916";
}
.icon-CRM:before {
  content: "\e917";
}
.icon-email-marketing:before {
  content: "\e918";
}
.icon-employee:before {
  content: "\e919";
}
.icon-dashboard:before {
  content: "\e91a";
}
.icon-contact:before {
  content: "\e91b";
}
.icon-calender:before {
  content: "\e91c";
}
.icon-attendence:before {
  content: "\e91d";
}
.icon-apps:before {
  content: "\e91e";
}
.icon-appriasal:before {
  content: "\e91f";
}
.icon-discuss_app:before {
  content: "\e920";
}
.icon-sun:before {
  content: "\e921";
}
.icon-discuss:before {
  content: "\e922";
  /* color: #969696; */
}
.icon-top_show:before {
  content: "\f204";
 font-family: 'fontAwesome';
 font-size: 18px;
}
.icon-top_hide:before {
  content: "\f205";
  font-family: 'fontAwesome';
  font-size: 18px;
}
.icon-theme_setting:before {
  content: "\e925";
  color: #fff;
  
}
.icon-search:before {
  content: "\e926";
  /* color: #696969; */
}
.icon-moon:before {
  content: "\e927";
  /* color: #696969; */
}
.icon-expand:before {
  content: "\e928";
  /* color: #696969; */
}
.icon-compress:before {
  content: "\e929";
  /* color: #696969; */
}
.icon-bookmark:before {
  content: "\e92a";
  /* color: #696969; */
}
.icon-bars:before {
  content: "\e92b";
  /* color: #696969; */
}
.icon-activity:before {
  content: "\e92c";
  /* color: #a0a0a0; */
}
