.backmate_theme_layout {
	background: white;
	min-width: 625px;
	max-width: 625px;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	overflow: auto;
	margin-right: -625px;
	transition: all ease-in-out 0.3s;
}

.backmate_theme_layout.sh_theme_model {
	display: block;
	margin-right: 0px;
}

.sh-color-plate {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}
#theme_style_id .sh-color-plate{
	box-shadow:none;
}
.theme_style_box {
	position: relative;
	cursor: pointer;
	margin-bottom: 0;
}

.theme_style_box input[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.theme_style_box input[type="radio"]:checked+.fa {
	display: inline-block;
}



/*.theme_style_box input[type="radio"]:checked + span {
    display: inline-block;
    border: 2px solid #0e1342;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    height: 52px;
    width: 52px;
    top: -6%;
    left: -6%;
}*/








.theme_style_box .fa {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	display: none;
	color: #660d33;
}
.pre_theme_color_box .fa {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	display: none;
	color: #660d33;
}


.theme_color_box {
	position: relative;
	cursor: pointer;
	margin-bottom: 0;
}

.theme_color_box input[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
.pre_theme_color_box input[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.pre_theme_color_box input[type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}


.theme_color_box input[type="radio"]:checked+.fa {
	display: inline-block;
}
.pre_theme_color_box input[type="radio"]:checked+.fa {
	display: inline-block;
}


.theme_color_box .fa {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	display: none;
	color: #660d33;
}
.pre_theme_color_box .fa {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	display: none;
	color: #660d33;
}


.sh_style_box_1 {
	background: url('/sh_backmate_theme_adv/static/src/img/sidebar_img/side2.png');
	background-size:contain;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11) !important;
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}


.sh_style_box_2 {
	background: url('/sh_backmate_theme_adv/static/src/img/sidebar_img/side1.png');
	background-size:contain;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11) !important;
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}

.sh_style_box_3 {
	background: url('/sh_backmate_theme_adv/static/src/img/sidebar_img/side3.png');
	background-size:contain;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11) !important;
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}

.sh_color_box_1 {
	background: #2c3782;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}



.sh_pre_color_box_1 {
	background: url('/sh_backmate_theme_adv/static/src/img/predefined_icon_img/p_1.png');
	background-size: cover;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 46px;
	height: 46px;
}
.sh_pre_color_box_2 {
	background: url('/sh_backmate_theme_adv/static/src/img/predefined_icon_img/p_2.png');
	background-size: cover;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 46px;
	height: 46px;
}

.sh_pre_color_box_3 {
	background: url('/sh_backmate_theme_adv/static/src/img/predefined_icon_img/p_3.png');
	background-size:contain;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}
/*
.sh_pre_color_box_4 {
	background: url('/sh_backmate_theme_adv/static/src/img/theme_style_3.png');
	background-size:contain;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}
*/
.sh_color_box_2 {
	background: #FF9800;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}

.sh_color_box_3 {
	background: #ED4762;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}

.sh_color_box_4 {
	background: #673AB7;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}

.sh_color_box_5 {
	background: #5D4037;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}
.sh_color_box_6 {
	background: #5B6DDB;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}
.sh_color_box_7 {
	background: #43A047;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
	overflow: hidden;
	width: 46px;
	height: 46px;
}


.color_picker_wrapper {
	margin-bottom: 10px;
}

.color_picker_wrapper label {
	min-width: 180px;
}

.color_picker_wrapper .sp-dd {
	display: none;
}

.color_picker_wrapper .sp-preview {
	width: 35px;
	height: 25px;
	border: none;
	margin: 0;
}

.color_picker_wrapper .sp-replacer {
	padding: 0;
}

.bg-overlay~.sp-container {
	background: white;
	border: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.11);
	border-radius: 4px;
}

.o_thread_composer:not(.o_chat_mini_composer) {
	padding-right: 100px !important;
}

.theme_setting_img{
	 object-fit: contain;
	 height: 80%;
	 height: 15px;
    width: 15px;
    color: #2C3782;
}

.oe_topbar_name{
display:none;
}

.expand_img{
	margin-top: 0px; 
	height: 15px;
    width: 15px;
}
.compress_img{
	margin-top: 10px; 
	 height: 15px;
    width: 15px;
	display:none;
}
#moon_button{
	height: 15px;
    width: 15px;
}
#sun_button{
	height: 15px;
    width: 15px;
}
#topbar_search_icon{
	height: 15px;
    width: 15px;
}
#topbar_full_search_icon{
	height: 15px;
    width: 15px;
}
#fullscreen_checkbox{
	display:none;
}







/* 11-7-2020 */

/*  backmate configuration  */
.sh_theme_design {width:100%;}
.backmate_theme_layout .title_config{float: left;}
.backmate_theme_layout  .sh_theme_design{height:40px;}
.backmate_theme_layout  .sh_theme_design i.fa:before{content: "\f056";}
.backmate_theme_layout  .sh_theme_design.collapsed i.fa:before{content: "\f055";}
.backmate_theme_layout  .sh_theme_design > span{color: $primaryColor;font-size: 16px;font-weight: 600;text-transform: capitalize;margin-left: 0 !important;}
.backmate_theme_layout  .sh_theme_design i.fa{color: $primaryColor;font-size: 22px !important;}
.backmate_theme_layout  .sh_theme_design{padding: 10px 15px;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);z-index: 1;position: relative;}
.backmate_theme_layout #theme_style_id .sh_style_plates {border: 0;margin-top: 5px;padding:10px;}
.backmate_theme_layout #theme_style_id .sh_style_plates li.mb-3{margin-bottom: 0 !important;}
.backmate_theme_layout #theme_style_id .sh_style_plates li .theme_style_box i.fa{color: #333;font-size: 20px !important;}
.backmate_theme_layout #theme_color_id .sh_color_plates{border: 0;margin-top: 5px;padding:10px;}
.backmate_theme_layout #theme_color_id .sh_color_plates li.mb-3{margin-bottom: 0 !important;}
.backmate_theme_layout #theme_color_id .sh_color_plates li .theme_style_box i.fa{color: #333;font-size: 20px !important;}

/* primary color */
.backmate_theme_layout  #primaryColors{padding: 10px;}
.backmate_theme_layout  #primaryColors table tr td label{font-size: 14px;color: #787373;font-weight: normal;}
.backmate_theme_layout  #primaryColors #primary_color_id,
.backmate_theme_layout  #primaryColors #secondary_color_id,
.backmate_theme_layout  #primaryColors #primary_hover_id,
.backmate_theme_layout  #primaryColors #secondary_hover_id,
.backmate_theme_layout  #primaryColors #primary_active_id,
.backmate_theme_layout  #primaryColors #secondary_active_id{padding-top: 0;padding-bottom: 0;width: 50px;}

/* header color */
.backmate_theme_layout #color_list_id #headerColors{padding: 10px;}
.backmate_theme_layout #color_list_id #headerColors tr th {padding-bottom: 15px;font-size: 16px;font-weight: 600;}
.backmate_theme_layout #color_list_id #headerColors tr td label{font-size: 14px;color: #787373;font-weight: normal;}
.backmate_theme_layout #color_list_id #headerColors tr input{padding-top: 0;padding-bottom: 0;width: 50px;}
.backmate_theme_layout #color_list_id #headerColors tr td #body_font_family{width: 85%;color: #616161;border-radius: 3px;font-size: 12px;padding: 3px 5px;}
.backmate_theme_layout #color_list_id #headerColors tr #body_background_img input{width: 90px;}


/* font color */
.backmate_theme_layout #color_list_id #fontColors{padding: 10px;}
.backmate_theme_layout #color_list_id #fontColors tr td label{font-size: 14px;color: #787373;font-weight: normal;margin: 0;padding-right: 10px;}
.backmate_theme_layout #color_list_id #fontColors tr:first-child td {padding-bottom: 15px;}
.backmate_theme_layout #color_list_id #fontColors tr td input{width: 45px;text-align: center;color: #616161;font-weight: 600;font-size: 12px;}

/* button color */
.backmate_theme_layout #color_list_id #buttonSeprator{padding: 10px;}
.backmate_theme_layout #color_list_id #buttonSeprator tr td label{font-size: 14px;color: #787373;font-weight: normal;margin: 0;}
.backmate_theme_layout #color_list_id #buttonSeprator tr td #button_style,
.backmate_theme_layout #color_list_id #buttonSeprator tr td #separator_style,
.backmate_theme_layout #color_list_id #buttonSeprator tr td #icon_style{width: 80%;color: #616161;border-radius: 3px;font-size: 12px;padding: 3px 5px;}
.backmate_theme_layout #color_list_id #buttonSeprator tr td {padding-bottom: 10px;}
.backmate_theme_layout #color_list_id #buttonSeprator tr td:last-child{padding-bottom: 0;}
.backmate_theme_layout #color_list_id #buttonSeprator tr td #separator_color{width: 50px;padding-top: 0;padding-bottom: 0;}
.backmate_theme_layout #color_list_id #buttonSeprator tr:last-child td{padding-bottom: 0;}


/* sidebar */
.backmate_theme_layout #color_list_id #sidebarStyle{padding: 10px;}
.backmate_theme_layout #color_list_id #sidebarStyle tr td label{font-size: 14px; color: #787373;font-weight: normal;margin: 0;}
.backmate_theme_layout #color_list_id #sidebarStyle tr td #sidebar_style{width: 75%;color: #616161;border-radius: 3px;font-size: 12px;padding: 3px 5px;}
.backmate_theme_layout #color_list_id #sidebarStyle tr td{padding-bottom: 10px;}
.backmate_theme_layout #color_list_id #sidebarStyle tr:last-child td{padding-bottom: 0px;}
.backmate_theme_layout #color_list_id #sidebarStyle tr td #sidebar_background_color,
.backmate_theme_layout #color_list_id #sidebarStyle tr td #sidebar_font_color,
.backmate_theme_layout #color_list_id #sidebarStyle tr td #sidebar_font_hover_color,
.backmate_theme_layout #color_list_id #sidebarStyle tr td #sidebar_font_hover_background_color{display: block;width: 50px;padding-top: 0;padding-bottom: 0;}


/* list view table */
.backmate_theme_layout #color_list_id #listViewTable{padding: 10px;}
.backmate_theme_layout #color_list_id #listViewTable tr td label{font-size: 14px;color: #787373;font-weight: normal;margin: 0;}
.backmate_theme_layout #color_list_id #listViewTable #list_view_border{width: 80%;color: #616161;border-radius: 3px;font-size: 12px;padding: 3px 5px;}
.backmate_theme_layout #color_list_id #listViewTable tr td{padding-bottom: 10px;}
.backmate_theme_layout #color_list_id #listViewTable tr:last-child td{padding-bottom: 0px;}
.backmate_theme_layout #color_list_id #listViewTable tr td #list_view_hover_bg_color{width: 50px;padding-top: 0;padding-bottom: 0;}
.backmate_theme_layout #color_list_id #listViewTable tr td #list_view_odd_row_color{width: 50px;padding-top: 0;padding-bottom: 0;}
.backmate_theme_layout #color_list_id #listViewTable tr td #list_view_even_row_color{width: 50px;padding-top: 0;padding-bottom: 0;}


/* login page */
.backmate_theme_layout #color_list_id #loginPopup{padding: 10px;}
.backmate_theme_layout #color_list_id #loginPopup tr td label{font-size: 14px;color: #787373;font-weight: normal;margin: 0;}
.backmate_theme_layout #color_list_id #loginPopup tr td #login_page_style{width: 90%;color: #616161;border-radius: 3px;font-size: 12px;padding: 3px 5px;}


/* sticy popup */
.backmate_theme_layout #color_list_id #stickyPopup{padding: 10px;}
.backmate_theme_layout #color_list_id #stickyPopup tr td label{font-size: 14px;color: #787373;font-weight: normal;margin: 0;}
.backmate_theme_layout #color_list_id #stickyPopup tr td{padding-bottom: 10px;}
.backmate_theme_layout #color_list_id #stickyPopup tr td #modal_popup_style{width: 75%;color: #616161;border-radius: 3px;font-size: 12px;padding: 3px 5px;}

.backmate_theme_layout i.fa.fa-plus-circle {float:right;}
/*   backmate configuration   */



.sh_main_div {
list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;

}
.sh_div_plt {
	margin-right: 10px;
	display: flex;
}

.pre_theme_color_box {
	position: relative;
    cursor: pointer;
    margin-bottom: 0;

}

/* 16-09-2020 */
.backmate_theme_layout .sh_theme_design > span{color: #616161;font-weight: 500;}
.backmate_theme_layout{padding: 15px;}
.backmate_theme_layout .sh_theme_design{box-shadow: none;border-bottom: 1px solid #ccc;padding-left: 0px;height: 50px;}
#theme_color_id .theme_color_box .fa{color: #fff;right: auto;left: 50%;top: 50%;transform: translate(-50%, -50%);font-size: 18px;}
#pre_theme_color_id .pre_theme_color_box .fa{color: #2c3782;right: auto;left: 50%;top: 50%;transform: translate(-50%, -50%);font-size: 18px;}

#theme_color_id .theme_color_box .fa:before{content: "\f00c";}
#pre_theme_color_id .pre_theme_color_box .fa:before{content: "\f00c";}


.backmate_theme_layout .sh_theme_design.collapsed i.fa:before{content: "\f067";}
.backmate_theme_layout .sh_theme_design i.fa:before{content: "\f068";}
.backmate_theme_layout .sh_theme_design i.fa{color: #616161;font-size: 18px !important;}
.theme_style_box input[type="radio"]:checked + span:before{color: #2c3782;content: "\f00c";font-family: fontawesome;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 18px;}
.theme_style_box input[type="radio"]:checked + span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

.pre_theme_color_box input[type="radio"]:checked + span:before{content: "\f00c";font-family: fontawesome;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 18px;}
.pre_theme_color_box input[type="radio"]:checked + span{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}


.sh_style_box_2,
.sh_style_box_1,
.sh_style_box_3{box-shadow: none;}
/* .backmate_theme_layout #color_list_id .btn.btn-secondary{border: 1.5px solid #f1f0f4 !important;background: #f1f0f4 !important;} */

.backmate_theme_layout #color_list_id .btn.btn-secondary{border: 1.5px solid #f1f0f4 !important;}

.backmate_theme_layout #color_list_id .btn.btn-secondary:hover{background: #f1f0f4 !important;color: #212529 !important;}
.backmate_theme_layout #color_list_id .btn.btn-secondary,
.backmate_theme_layout #color_list_id .btn.btn-primary{padding: 5px 15px !important;}


/* Rachana */

/* .dropdown-menu.sh_backmate_theme_appmenu_div .logo #hide_top_bar,
.dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar{color: #fff;}
*/
.dropdown-menu.sh_backmate_theme_appmenu_div .logo #hide_top_bar,
.dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar{color: #252525;cursor: pointer;}
/*.dropdown-menu.sh_backmate_theme_appmenu_div .logo #hide_top_bar:hover,
.dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar:hover{color: $primaryColor;cursor: pointer;}
*/


nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span:hover,
nav.o_main_navbar .o_menu_systray li.o_night_mode span:hover,
nav.o_main_navbar .o_menu_systray li.o_debug_manager a span:hover,
.o_main_navbar > ul > li > a span.icon-activity:hover,
.o_main_navbar > ul > li > a span.icon-discuss:hover,
.o_main_navbar > ul > li > a.gift_icon i:hover,
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a i:hover,
.o_main_navbar > ul > li > a .icon-expand:hover,
nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img:hover,
nav.o_main_navbar > ul > li.o_user_bookmark_menu > a i:hover{color: $header_hover_color;}


nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span:active, 
nav.o_main_navbar .o_menu_systray li.o_night_mode span:active, 
nav.o_main_navbar .o_menu_systray li.o_debug_manager a span:active, 
.o_main_navbar > ul > li > a span.icon-activity:active, 
.o_main_navbar > ul > li > a span.icon-discuss:active, 
.o_main_navbar > ul > li > a.gift_icon i:active, 
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a i:active, 
.o_main_navbar > ul > li > a .icon-expand:active, 
nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img:active, 
nav.o_main_navbar > ul > li.o_user_bookmark_menu > a i:active{color: $header_active_color;}





.backmate_theme_layout .theme_header{display: flex;justify-content: space-between;padding: 10px 15px 15px 0; align-items: center;}
.backmate_theme_layout .theme_header h3{margin: 0;font-size: 22px;letter-spacing: 0.7px;}
.backmate_theme_layout .theme_header i{color: #616161;font-size: 18px !important;cursor: pointer;}

/* Rachana */

/*.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon.icon-link-tracker{font-size: 32px;width: 46px;}
*/
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon.icon-link-tracker{font-size: 36px;}



.backmate_theme_layout #color_list_id #sidebarStyle tr td [type='radio'] + label:before, 
.backmate_theme_layout #color_list_id #sidebarStyle tr td [type='radio'] + label:after{top: 4px;left: 10px;}

.backmate_theme_layout #color_list_id #headerColors tr td [type='radio'] + label:before, 
.backmate_theme_layout #color_list_id #headerColors tr td [type='radio'] + label:after{top: 4px;left: 10px;}
.backmate_theme_layout #color_list_id #loginPopup tr td [type='radio'] + label:before, 
.backmate_theme_layout #color_list_id #loginPopup tr td [type='radio'] + label:after{top: 4px;left: 10px;}




.backmate_theme_layout #color_list_id #headerColors tr td label{padding-top: 4px;}
.backmate_theme_layout #color_list_id #sidebarStyle tr td label,
.backmate_theme_layout #color_list_id #loginPopup tr td label{padding-top: 4px;}




