


@if $theme_style == 'style_1'{


/* scroll bar */
::-webkit-scrollbar{width: 3px;}
::-webkit-scrollbar-track{background: #ffffff;}
::-webkit-scrollbar-thumb {background: #c8c8c8;}

.dropdown-menu.sh_backmate_theme_appmenu_div::-webkit-scrollbar{width: 0;}

/* scroll bar */




/* search bar border radius */
.o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{border-radius: 0px 0px 0px 0px;}
.o_searchview .o_searchview_input_container .o_searchview_facet{border-radius: 0;}
.o_searchview .o_searchview_more{border-radius: 0;}
.o_searchview .o_searchview_more{padding: 11px 25px;}
.o_control_panel .o_cp_searchview .o_searchview{padding-left: 4px;border: 1px solid #ccc;padding-top: 3px;}
.o_control_panel .o_cp_searchview .o_searchview:hover{border: 1px solid $primaryColor;transition: all .4s;}
/* search bar border radius */



.o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{background-color: $secondaryColor;}
.btn-secondary:not(:disabled):not(.disabled):active,
/*.o_cp_right .o_search_options .o_dropdown .btn:hover{border-color: $primary_hover !important;}*/
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{border-color: $primaryColor;}
.o_control_panel .o_cp_searchview .o_searchview{border-radius: 0px;}

/* list view table */
.o_sale_order tr td{padding: 1.5rem 0.75rem !important;vertical-align: middle !important;}
.o_list_table_ungrouped tr th{vertical-align: middle !important;}
.o_action_manager .o_view_controller .o_cp_controller{border-bottom: 1px solid #dee2e6;}
.oe_product section{position: relative;}
.o_list_view .o_list_table th{text-transform: uppercase;}
.o_list_view .o_list_table td{padding: 1.1rem 0.75rem !important;vertical-align: middle !important;}
.o_list_view .o_optional_columns_dropdown_toggle{top: 7px;}
/* list view table */


/* nav tabs */
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:focus{border-color: transparent;}
.nav-tabs .nav-link{padding: 15px 25px;border-bottom: 0px !important;}
.o_notebook .tab-content .o_group.o_inner_group > tbody > tr > td{padding: 0 !important;}
.o_form_view .o_group.o_inner_group > tbody > tr > td{padding: 0px 36px 0px 0px !important;}
/* nav tabs */

 /*  top bar style  */
.o_menu_systray{position: unset;width: auto !important;background: transparent;color: unset;}
.o_menu_systray li > a{color: unset !important;}
.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show{position: absolute;top: 100%;bottom: auto;left: auto !important;width: auto !important;}
.o_mail_systray_dropdown{position: absolute;top: 100%;bottom: auto;left: auto !important;}
.o_switch_company_menu .dropdown-menu{position: absolute;top: 100%;bottom: auto;left: auto !important;min-height: auto;
    max-height: none !important;}
.o_main_navbar .o_user_menu .user_setting{position: absolute;background: #ffffff;border: 1px solid #dee2e6;max-height: 90vh;min-width: 10rem;overflow: auto;margin-top: 0;}
.user_setting ul li span{display: block;}
.user_setting ul li a i{display: none;}
.user_setting ul li a{margin-left: 0;}
.user_setting ul li{padding: 3px 20px;text-align: left;}
.sh_backmate_theme_appmenu_div{max-height: calc(110vh - 20px);height: calc(110vh - 20px);}
.o_debug_manager .o_debug_mode,.o_switch_company_menu .dropdown-toggle{padding-left: 0px;}
.dropdown-menu.sh_backmate_theme_appmenu_div{position: fixed;height: 100%;padding-top: 0;padding-bottom: 0;}

.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_mail_systray_item .o_mail_systray_dropdown{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_mail_systray_item.show .o_mail_systray_dropdown{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_switch_company_menu .dropdown-menu{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_switch_company_menu.show .dropdown-menu{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_main_navbar .o_user_menu .user_setting{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_main_navbar .o_user_menu.show .user_setting{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_main_navbar .o_user_menu > a{padding-right: 8px;}

.o_mail_systray_item .o_notification_counter,.o_MessagingMenu_counter{background: $primaryColor;color: #fff;}


/* 13 - 07 - 2020 */

html .o_web_client > .o_action_manager > .o_action{padding: 0px;background: #f1f0f4;}



.o_main_navbar{box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);}


/* ===============   topbar   ================= */


nav.o_main_navbar .o_menu_systray li{padding: 0 15px;line-height: 48px;}
nav.o_main_navbar .o_menu_systray li .sh_search_container{padding: 0;height: 100%;}
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{margin: 0;}
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a{padding-left: 0;}
.o_main_navbar > ul.o_menu_systray{padding-bottom: 0;align-items: center;min-height: 48px;}
nav.o_main_navbar .o_menu_systray li.o_night_mode{line-height: normal;margin-top: 0 !important;}
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{margin-top: 0;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img{margin-top: 0;}
nav.o_main_navbar .o_menu_systray li{line-height: normal;}
nav.o_main_navbar .o_menu_systray li.theme_settings,
nav.o_main_navbar .o_menu_systray li.o_full_screen,
nav.o_main_navbar .o_menu_systray li.o_night_mode{cursor: pointer;}
.o_main_navbar > ul > li > a{line-height: normal;height: auto;padding: 0;}
.o_main_navbar .o_user_menu > a{padding-right: 0 !important;}
nav.o_main_navbar .o_menu_systray li.o_user_menu a{padding-top: 3px;}
nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu{transform: scale(0, 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu.show{transform: scale(1);transition: all .4s;max-height: 90vh; overflow: auto;transform-origin: 100% 0px;}



.o_main_navbar > ul.o_menu_systray{display: flex;}
.o_main_navbar ul.o_menu_sections{display: flex;align-items: center;height: 100%;}
.o_main_navbar .o_menu_apps .dropdown a.full{color: $header_font_color;}
.o_main_navbar .o_menu_apps .dropdown a.full:hover{background-color: $header_hover_color;}

.dropdown-menu.sh_backmate_theme_appmenu_div{overflow-x: hidden;transition: .3s ease all !important;webkit-transition: .3s ease all !important;}



.modal-body .o_view_controller .o_control_panel .o_cp_searchview, 
.modal-body .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 68%;}


.modal-body .o-export-panel .o_left_panel .o_left_field_panel .o_export_tree_item span.fa.pull-right{margin: auto !important;margin-left: .3em !important;}
.o_right_panel .o_right_field_panel .o_fields_list .o_export_field .fa.pull-right{margin: auto !important;margin-left: .3em !important;}
.o_form_view .oe_chatter{padding: 16px 10px 48px;}
nav.o_main_navbar .o_menu_systray li.theme_settings{height: 48px;background: $primaryColor;display: flex !important;vertical-align: middle;align-items: center;color: #fff;}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover{background: transparent;}
nav.o_main_navbar .o_menu_systray li{background-color: transparent;}

nav.o_main_navbar .o_menu_systray li.o_debug_manager .dropdown-menu li{position: unset;left: auto;}



/* ===============   topbar   ================= */








@if $sidebar_collapse_style == 'expanded'{
  
   .sh_search_input .usermenu_search_input2{border-bottom: 0 !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div::-webkit-scrollbar{width: 3px;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border-color: #ccc;}
   /* .o_web_client > header{height: 0;}
   header .o_main_navbar{width: 0;}
   
   #hide_top_bar {display: none;}
   #show_top_bar {display: block;}
  nav.o_main_navbar .o_menu_systray li .sh_search_container {display:none;}
  */
  
  
}




/* sidebar */

.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon{color: $sidebar_font_color;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon {font-size: 36px;display: inline-block;vertical-align: middle;margin-right: 14px;}

.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.icon-search.sh_fa_icon{font-size: 26px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.icon-app.sh_fa_icon{font-size: 30px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.icon-settings.sh_fa_icon{font-size: 36px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon.icon-global_search{font-size: 36px;text-align: center;}



/* sidebar */

/* topbar */
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span{font-size: 16px;vertical-align: middle;}


nav.o_main_navbar .o_menu_systray li.o_night_mode span,nav.o_main_navbar .o_menu_systray li.o_debug_manager a span{font-size: 16px;vertical-align: middle;}

.o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;padding-left: 5px;}


.o_main_navbar > ul > li > a span.icon-discuss{font-size: 24px;vertical-align: middle;}
.o_main_navbar > ul > li > a.gift_icon i{font-size: 18px;vertical-align: middle;}
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a i{font-size: 14px;vertical-align: middle;}
.o_main_navbar > ul > li > a .icon-expand{font-size: 14px;vertical-align: middle;}
.o_main_navbar > ul > li > a .icon-compress{font-size: 14px;vertical-align: middle;}
nav.o_main_navbar .o_menu_systray li.theme_settings .theme_setting_img{font-size: 16px;color: #fff;vertical-align: middle;}
/* topbar */




@media (min-width: 768px){
  .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 57%;}
  .o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 57%;}
  .o_searchview_input_container{width: auto;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

	.o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 67% !important;}
	.o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{width: 300px !important;}
	
}

@media only screen and (min-width: 768px) and (max-width: 992px){
	.o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 55% !important;}
}

@media only screen and (min-width: 576px) and (max-width: 992px){

	.o_dropdown .dropdown-toggle:first-child{margin-right: 2px !important;}
	
}

@media only screen and (max-width: 992px){
 
   html .o_web_client .o_main_navbar{width: 100% !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div{width: 0 !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div{min-width: 75% !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div.sidebar_toggle{min-width: 0% !important;width: 0% !important;} 
   .o_web_client > header{height: auto !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div.sidebar_toggle .logo #hide_top_bar,
   .dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar{display: none;}
   .dropdown-menu.sh_backmate_theme_appmenu_div .logo img{object-fit: contain;}
   .dropdown-menu.sh_backmate_theme_appmenu_div .logo .img{width: auto !important;max-width: 62%;margin-left: 0;height: 48px !important;padding: 5px 0 !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div{top: 0 !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div .logo img#company_logo{margin-left: 55px !important;}
   #js_bar_toggle_btn_mobile{left: 25px;}
   .dropdown-menu.sh_backmate_theme_appmenu_div{height: calc(100vh - 0px) !important;}
   .o_main_navbar > ul.o_menu_systray{z-index: 1;}
   nav.o_main_navbar .o_menu_systray li.o_night_mode img{height: 48px !important;vertical-align: middle;display: flex; align-self: center;align-items: center; object-fit: contain;}
  
   nav.o_main_navbar .o_menu_systray li .sh_search_container{vertical-align: middle;display: flex;align-self: center;align-items: center;object-fit: contain;}
   .o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;padding-left: 3px;}
     
   
   html .o_web_client > .o_action_manager > .o_action{padding: 0;}
   .o_content .o_form_view .o_form_sheet, .modal-content .o_form_view .o_form_sheet{min-width: 100% !important;}
   .o_action_manager{margin-left: 0;}
   #js_bar_toggle_btn_mobile{position: fixed;top: 10px;left: 10px;z-index: 111 !important;height: 30px !important;line-height: 35px !important;background: $primaryColor;display: block;color: #fff;width: 30px;text-align: center;}   
   .o_menu_apps .fa.fa-bars{padding-top: 0 !important;}
   .o_main_navbar > ul.o_menu_systray{opacity: 1 !important;float: right;}
   .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before{display: block;}
   
   .o_view_controller.o_has_banner .o_control_panel .o_cp_searchview, .o_view_controller.o_has_banner .o_control_panel .o_cp_right{flex: 0 0 65% !important;}
   
   nav.o_main_navbar .o_menu_systray li.o_full_screen{display: none !important;}
   nav.o_main_navbar .o_menu_systray li.theme_settings{display: none !important;}
   
   html .o_web_client .o_main_navbar{z-index: 10;}
   #js_bar_toggle_btn_mobile{display: block !important;border-radius: 3px;z-index: 2 !important;}
   .dropdown-menu.sh_backmate_theme_appmenu_div .logo img#company_logo{margin-left: 11px !important;}
   
   .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{padding: 0 24px 0 8px;}
   .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_remove{right: 5px;}
   
   .o_form_sheet .oe_button_box{text-align: left;}
   .fa-calendar-o.fa-stack-2x{font-size: 2.2em !important;}
   .o_control_panel .o_cp_searchview .o_searchview{}
   .o_searchview_quick .o_searchview{display: flex;}
   
   
   /* 17-09-2020 */
   .o_notebook .nav-tabs{border: 0px;border-bottom: 1px solid #dee2e6;}
   .o_form_view .oe_button_box .btn.oe_stat_button{display: inline-block;}
   .o_view_controller .o_form_view .o_form_statusbar{padding-left: 15px !important;}
   
}


@media only screen and (max-width: 992px){
   .o_control_panel .o_cp_switch_buttons.show .dropdown-menu{min-width: auto !important;}  
   .o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{width: 100% !important;}
   .o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu .dropdown-item{width: 100% !important;} 
   .o_control_panel .btn.o_enable_searchview{margin-left: 0px;}
    .o_mail_discuss{position: unset;}
    .o_control_panel .o_cp_searchview .o_searchview{border: 0px;}
    .o_control_panel .o_cp_searchview .o_searchview:hover{border: 0px;}
    .o_control_panel .o_cp_searchview.o_searchview_quick{flex: 0 0 100%;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview{border: 1px solid #ccc;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview:hover{border-color: $primaryColor;}
    .modal-dialog{margin: 0 auto;}
    .fa-remove:before, .fa-close:before, .fa-times:before{position: unset;}
    .o_form_view .o_form_statusbar > .o_statusbar_status{padding-left: 10px !important;}
    .o_form_sheet .oe_button_box{text-align: right;} 
    .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 63%}
    .o_control_panel .btn.o_enable_searchview{padding-right: 0px;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .btn.o_enable_searchview{padding-right: 0.75rem;}
    .o_control_panel .btn.o_enable_searchview{font-size: 18px !important;}
	.o_notebook .nav-tabs{border: 0px;border-bottom: 1px solid #dee2e6;}
}

@media (max-width: 600px){
  .sh_search_container .sh_search_input .usermenu_search_input{position: absolute;top: 50px;background: white;width: 100% !important;border: 1px solid #ccc;color: #aaa;height: 40px;}
  .sh_search_container .sh_search_input .usermenu_search_input{left: 0;width: 100% !important;}
  .sh_search_container .sh_search_input .input-group{position: unset;}  
    
}


@media only screen and (max-width: 576px){
   .dropdown-menu.sh_backmate_theme_appmenu_div .logo img#company_logo{width: 15% !important;}
   .o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show{width: 100% !important;}   
   nav.o_main_navbar .o_menu_systray li .o_debug_mode{padding: 0;}
   nav.o_main_navbar .o_menu_systray > li.o_user_menu.show .dropdown-menu.dropdown-menu-right.show{line-height: 35px;border: none;box-shadow: none; display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;flex-direction: column;height: calc(100vh - 46px);max-height: calc(100vh - 46px);position: fixed;width: 100vw;z-index: 100;top: 46px !important;transform: none !important;}
   nav.o_main_navbar .o_menu_systray > li.o_mail_systray_item .o_mail_systray_dropdown.dropdown-menu.dropdown-menu-right{max-height: 92vh;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group{position: unset;}
   .sh_search_container .sh_search_input .usermenu_search_input{top: 50px;width: 100%;}
   .o_main_navbar .o_menu_systray .sh_search_container .sh_search_results{left: 0;top: 90px;width: 100% !important;}
   .o_control_panel .breadcrumb, .o_control_panel .o_cp_buttons, .o_control_panel .o_cp_bottom_left, .o_control_panel .o_cp_right, .o_control_panel .o_cp_searchview{flex: 1 1 100% !important;}
   .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_remove:before{position: unset;}
   .o_control_panel .btn.o_enable_searchview:before{position: unset;}
   .o_control_panel .o_cp_searchview .o_searchview{text-align: left;}
   .o_control_panel .btn.o_enable_searchview{margin-left: 2%;font-size: 14px !important;}
   .o_control_panel .o_cp_right > .o_cp_switch_buttons > .btn:first-child{margin-right: 0px;}
   .o_list_view .o_list_table .o_list_record_selector{width: 35px !important;padding-left: 0px !important;}
   .breadcrumb-item + .breadcrumb-item::before{padding: 0px 8px 0px 0px;}
   .o_form_view.o_xxs_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{line-height: normal;}
   .o_cp_buttons .o_form_buttons_edit .o_form_button_cancel i.fa.fa-times:before{display: none;}
   .o_setting_box .o_setting_right_pane .o_field_widget.o_light_label .custom-radio .o_form_label{height: auto;}
   
   nav.o_main_navbar .o_menu_systray li.sh_search:first-child{position: unset;left: 0;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border-color: transparent;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input2{display: none;}
   nav.o_main_navbar .o_menu_systray li.sh_search:first-child{padding: 0 16px;} 
   .o_control_panel .btn.o_enable_searchview{padding: 0;}
   .o_control_panel .o_cp_searchview .o_searchview .o_enable_searchview.fa-close{padding: 0.5rem 0.75rem;background: #e2e4e6;}
   .o_control_panel .o_cp_searchview .o_searchview{text-align: right !important;border-width: 0px !important;transition: none;}
   .o_control_panel .o_cp_searchview .o_searchview:hover{border-width: 0px !important;transition: none;}
   .o_cp_searchview.o_searchview_quick .o_searchview,
   .o_cp_searchview.o_searchview_quick .o_searchview:hover{border-width: 1px !important;transition: none;}
   .o_control_panel .o_cp_searchview .o_searchview .o_toggle_searchview_full.fa-filter{background: #e2e4e6;}     

   .o_field_partner_autocomplete.dropdown{display: inline-block;width: 100%;}
   
}

@media only screen and (max-width: 450px){
   nav.o_main_navbar .o_menu_systray li{padding: 0 10px;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{padding: 0px;}
   nav.o_main_navbar .o_menu_systray li .o_debug_mode{padding: 0;}
}



















}

/* --------   theme 1  --------- */



/*  ------------   theme 3    -------------  */

@if $theme_style == 'style_3'{

   header .o_main_navbar .o_menu_systray{position: unset;width: auto !important;background: transparent;color: unset;}
   header .o_main_navbar .o_menu_apps li.dropdown .hover_menuitem .sh_backmate_theme_appmenu_div{height: calc(100vh - 0px);max-height: calc(100vh - 0px);padding: 0px;}
   
   /* Rachana */
   
   /* .dropdown-menu.sh_backmate_theme_appmenu_div{overflow-x: hidden;} */
   .dropdown-menu.sh_backmate_theme_appmenu_div{overflow-x: hidden;webkit-transition: .3s ease all !important;transition: .3s ease all !important;}
   
   header .o_main_navbar .o_menu_apps li.dropdown .hover_menuitem .sh_backmate_theme_appmenu_div .logo{background: transparent;}
   //.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label{color: #a1a1a1 !important;}



   /* scroll bar */
::-webkit-scrollbar{width: 3px;}
.dropdown-menu.sh_backmate_theme_appmenu_div:hover::-webkit-scrollbar {width: 3px;display: block;} 
.dropdown-menu.sh_backmate_theme_appmenu_div:hover::-webkit-scrollbar-track {background: #ffffff;display: block;} 
.dropdown-menu.sh_backmate_theme_appmenu_div:hover::-webkit-scrollbar-thumb {background: #c8c8c8;display: block;}
/* scroll bar */

/* button option */
/*.o_search_options .o_filters_menu{display: block;transition: all .4s;max-height: 0;overflow: hidden;position: absolute;transform: translate3d(605px, 137px, 0px);top: 0px;left: 0px;will-change: transform;border: 0px;}
.o_search_options .o_filters_menu.show{display: block;transition: all .4s;max-height: calc(100vh - 140px);overflow: hidden;}
.o_search_options .o_filters_menu.show .o_menu_item a,
.o_search_options .o_filters_menu.show button{padding: 0.25rem 1.5rem;}
.dropdown-menu.o_dropdown_menu.o_group_by_menu{display: block;transition: all .4s;max-height: 0;overflow: hidden;position: absolute;transform: translate3d(692px, 137px, 0px);top: 0px;left: 0px;will-change: transform;border: 0px;}
.dropdown-menu.o_dropdown_menu.o_group_by_menu.show{display: block;transition: all .4s;max-height: calc(100vh - 140px);overflow: hidden;}
.dropdown-menu.o_dropdown_menu.o_group_by_menu.show a,
.dropdown-menu.o_dropdown_menu.o_group_by_menu.show button{padding: 0.25rem 1.5rem;}
.o_search_options .dropdown-menu.o_dropdown_menu.o_favorites_menu{display: block;transition: all .4s;max-height: 0;overflow: hidden;position: absolute;transform: translate3d(692px, 136px, 0px);top: 0px;left: 0px;will-change: transform;border: 0px;}
.o_view_controller .dropdown-menu.o_dropdown_menu.o_favorites_menu{display: block;transition: all .4s;max-height: 0;overflow: hidden;position: absolute;transform: translate3d(801px, 137px, 0px);top: 0px;left: 0px;will-change: transform;border: 0px;}
.dropdown-menu.o_dropdown_menu.o_favorites_menu.show{display: block;transition: all .4s;max-height: calc(100vh - 140px);overflow: hidden;}
.dropdown-menu.o_dropdown_menu.o_favorites_menu.show button{padding: 0.25rem 1.5rem;}
.o_cp_sidebar .o_dropdown_menu{position: absolute;transform: translate3d(0px, 29px, 0px);top: 0px;left: 0px;will-change: transform;display: block;transition: all .4s;max-height: 0;overflow: hidden;padding: 0;margin: 0;border: 0;}
.o_cp_sidebar .o_dropdown_menu.show{display: block;transition: all .4s;max-height: calc(100vh - 140px);overflow: hidden;}
.o_cp_sidebar .o_dropdown_menu.show a{padding: 0.25rem 1.5rem}*/
//.o_cp_buttons .btn.btn-primary:hover{border-color: $primary_hover !important;}
/* button option */

/* search bar border radius */
.o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{border-radius: 0px 0px 0px 0px;}
.o_searchview .o_searchview_input_container .o_searchview_facet{border-radius: 0;}
.o_searchview .o_searchview_more{border-radius: 0;}
.o_control_panel .o_cp_searchview .o_searchview{padding-left: 0px;transition: all .4s;}
.o_searchview .o_searchview_more{padding: 11px 25px;}
.o_control_panel .o_cp_searchview .o_searchview{padding-left: 4px;border: 1px solid #ccc;padding-top: 3px;}
.o_control_panel .o_cp_searchview .o_searchview:hover{border: 1px solid $primaryColor;transition: all .4s;}
.o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 67%;}
/* search bar border radius */

.o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{background-color: $secondaryColor;}
.btn-secondary:not(:disabled):not(.disabled):active,
/*.o_cp_right .o_search_options .o_dropdown .btn:hover{border-color: $primary_hover !important;}*/
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{border-color: $primaryColor;}
.o_control_panel .o_cp_searchview .o_searchview{border-radius: 0px;}

/* list view table */
.o_sale_order tr td{padding: 1.5rem 0.75rem !important;vertical-align: middle !important;}
.o_list_table_ungrouped tr th{vertical-align: middle !important;}
.o_action_manager .o_view_controller .o_cp_controller{border-bottom: 1px solid #dee2e6;}
//.o_list_view .o_optional_columns .o_optional_columns_dropdown{min-width: 0px;transition: all .4s;}
//.o_list_view .o_optional_columns.show .o_optional_columns_dropdown{min-width: 10rem;transition: all .4s;}
.oe_product section{position: relative;}
.o_list_view .o_list_table th{text-transform: uppercase;}
.o_list_view .o_list_table td{padding: 1.1rem 0.75rem !important;vertical-align: middle !important;}

/* Rachana */

/* .o_list_view .o_optional_columns_dropdown_toggle{top: 15px;} */
.o_list_view .o_optional_columns_dropdown_toggle{top: 7px;}


/* list view table */

/* nav tabs */
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:focus{border-color: transparent;}
.nav-tabs .nav-link{padding: 15px 25px;border-bottom: 0px !important;}
.o_notebook .tab-content .o_group.o_inner_group > tbody > tr > td{padding: 0 !important;}
.o_form_view .o_group.o_inner_group > tbody > tr > td{padding: 0px 36px 0px 0px !important;}
/* nav tabs */

 /*  top bar style  */
.o_menu_systray{position: unset;width: auto !important;background: transparent;color: unset;}
.o_menu_systray li > a{color: unset !important;}
.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show{position: absolute;top: 100%;bottom: auto;left: auto !important;width: auto !important;}
.o_mail_systray_dropdown{position: absolute;top: 100%;bottom: auto;left: auto !important;}
.o_switch_company_menu .dropdown-menu{position: absolute;top: 100%;bottom: auto;left: auto !important;min-height: auto;
    max-height: none !important;}
//.o_main_navbar > ul.o_menu_systray > li > a{height: 48px;}
.o_main_navbar .o_user_menu .user_setting{position: absolute;background: #ffffff;border: 1px solid #dee2e6;max-height: 90vh;min-width: 10rem;overflow: auto;margin-top: 0;}
.user_setting ul li span{display: block;}
.user_setting ul li a i{display: none;}
.user_setting ul li a{margin-left: 0;}
.user_setting ul li{padding: 3px 20px;text-align: left;}
.sh_backmate_theme_appmenu_div{max-height: calc(110vh - 20px);height: calc(110vh - 20px);}
.o_debug_manager .o_debug_mode,.o_switch_company_menu .dropdown-toggle{padding-left: 10px;}
.dropdown-menu.sh_backmate_theme_appmenu_div{position: fixed;height: 100%;padding-top: 0;padding-bottom: 0;}

.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_mail_systray_item .o_mail_systray_dropdown{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_mail_systray_item.show .o_mail_systray_dropdown{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_switch_company_menu .dropdown-menu{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_switch_company_menu.show .dropdown-menu{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_main_navbar .o_user_menu .user_setting{transform: scale(0 , 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
.o_main_navbar .o_user_menu.show .user_setting{transform: scale(1);transition: all .4s;max-height: 90vh;overflow: auto;transform-origin: 100% 0px;}
.o_main_navbar .o_user_menu > a{padding-right: 8px;}

/* top bar right menu hover */
/*.o_menu_systray li:hover{background-color: $header_hover_color;}*/

.o_main_navbar > ul > li.o_mail_systray_item:hover,
.o_main_navbar > ul > li.o_user_menu:hover{background: $header_hover_color;}
/* top bar right menu hover */
.o_mail_systray_item .o_notification_counter,.o_MessagingMenu_counter{background: $primaryColor;color: #fff;}
.modal-content .modal-body.o_act_window .o_searchview .o_searchview_input_container{width: 40em;}

.o_search_options .o_dropdown .o_dropdown_toggler_btn{padding: 6px 4px !important;}
.o_cp_sidebar .btn-group .o_dropdown .o_dropdown_toggler_btn{padding: 6px 4px !important;}
.oe_import_with_file .oe_import_debug_options .oe_import_has_header{opacity: 0;}
.oe_import_with_file .oe_import_debug_options label{margin-left: -16px;}


/* ===============   topbar   ================= */


nav.o_main_navbar .o_menu_systray li{padding: 0 15px;line-height: 48px;}
nav.o_main_navbar .o_menu_systray li .sh_search_container{padding: 0;height: 100%;}
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{margin: 0;}
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a{padding-left: 0;}
.o_main_navbar .o_user_menu .oe_topbar_avatar{width: 22px;height: 22px;}
.o_main_navbar > ul.o_menu_systray{padding-bottom: 0;align-items: center;min-height: 48px;}
nav.o_main_navbar .o_menu_systray li.o_night_mode{line-height: normal;margin-top: 0 !important;}
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{margin-top: 0;cursor: pointer;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img{margin-top: 0;}
nav.o_main_navbar .o_menu_systray li{line-height: normal;}
nav.o_main_navbar .o_menu_systray li.theme_settings,
nav.o_main_navbar .o_menu_systray li.o_full_screen,
nav.o_main_navbar .o_menu_systray li.o_night_mode{cursor: pointer;}
.o_main_navbar > ul > li > a{line-height: normal;height: auto;padding: 0;}
.o_main_navbar .o_user_menu > a{padding-right: 0 !important;}
nav.o_main_navbar .o_menu_systray li.o_user_menu a{padding-top: 3px;}
nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu{transform: scale(0, 0);transition: all .4s;display: block;left: auto !important;max-height: 0;overflow: hidden;transform-origin: 100% 0px;border-radius: 0;}
nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu.show{transform: scale(1);transition: all .4s;max-height: 90vh; overflow: auto;transform-origin: 100% 0px;}





nav.o_main_navbar .o_menu_systray li.theme_settings{height: 48px;background: $sidebar_font_hover_bg_color;display: flex !important;vertical-align: middle;align-items: center;color: #fff;}
nav.o_main_navbar > ul > li > a:hover{background: transparent;}
.sh_search_input .usermenu_search_input2{border-bottom: 0 !important;}
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border-radius: 5px;}
nav.o_main_navbar .o_menu_systray li > a{background: $secondaryColor !important;height: 25px;width: 25px;padding: 0;line-height: 23px;border-radius: 5px;}
nav.o_main_navbar .o_menu_systray li.o_night_mode{background: $secondaryColor;height: 25px;width: 25px;padding: 0;line-height: 23px;border-radius: 5px;margin: 0 15px;}
.o_main_navbar .o_user_menu .oe_topbar_avatar{width: 22px;height: 22px;border-radius: 3px !important;}
nav.o_main_navbar .o_menu_systray li.theme_settings a{background: transparent !important;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img{height: 100%;object-fit: contain;text-align: center;margin: auto;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img{height: 100%;object-fit: contain;text-align: center;margin: auto;}
.o_main_navbar > ul > li.o_user_menu:hover{background: transparent;}


nav.o_main_navbar .o_menu_systray li.o_night_mode{text-align: center;}
nav.o_main_navbar .o_menu_systray li > a{text-align: center;}
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a.dropdown-toggle::after{display: none;}
.o_main_navbar > ul.o_menu_systray{display: flex;}
nav.o_main_navbar .o_menu_systray li.o_user_menu a.dropdown-toggle::after{display: none;}

.o_main_navbar > ul > li.o_mail_systray_item:hover{background: transparent;}
nav.o_main_navbar .o_menu_systray li.o_debug_manager .dropdown-menu li{position: unset;left: auto;}
.o_cp_buttons .btn.btn-primary:hover{border-color: $primary_hover !important;}
.o_cp_bottom_left .o_cp_buttons .btn.btn-primary.active:hover{background: $primary_hover !important;border-color: $primary_hover !important;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img{line-height: 25px;}
nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img{line-height: 25px;}



/* ===============   topbar   ================= */





@if $sidebar_collapse_style == 'collapsed'{

   .dropdown-menu.sh_backmate_theme_appmenu_div::-webkit-scrollbar{width: 0;}
   .dropdown-menu.sh_backmate_theme_appmenu_div:hover::-webkit-scrollbar{width: 3px;}
   .dropdown-menu.sh_backmate_theme_appmenu_div{overflow-x: hidden;}
   /*header .o_main_navbar{width: 0;}*/
   .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 67%;}
   .sh_search_container .sh_search_input{border: 1px solid #959595;}
   //nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group .usermenu_search_input2{display: block !important;}
   .o_web_client > header{height: auto;}
   header .o_main_navbar{width: 100%;}
   
   
   /* .o_action_manager .o_action.o_view_controller{padding: 10px;background: #f1f1f1;}*/
   .o_action_manager .o_action.o_view_controller{padding: 0px;background: #f1f1f1;}
   
   
   
   
   .o_action_manager .o_action{padding: 10px;background: #f1f1f1;}
    nav.o_main_navbar .o_menu_systray li.sh_search:first-child .sh_search_container .sh_search_input{border-color: #cccccc;}
   #hide_top_bar {display: block;}
   #show_top_bar {display: none;}
   .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 58%;}
   .o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 58%;}
   
   
   @media (max-width: 576px){
     nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group .usermenu_search_input2{display: none !important;}
   }
   
}

@if $sidebar_collapse_style == 'expanded'{

    nav.o_main_navbar .o_menu_systray li.sh_search:first-child .sh_search_container .sh_search_input{border-color: #cccccc;}
   
   @media (max-width: 992px){
    .o_main_navbar > ul > li #js_bar_toggle_btn_mobile{
    width: 30px;
    height: 30px !important;
    text-align: center;
    font-size: 10px;border-radius: 5px;top: 10px;display: block !important;z-index: 1 !important;left: 10px;}
   }
    
    
}


.modal-body .o-export-panel .o_left_panel .o_left_field_panel .o_export_tree_item span.fa.pull-right{margin: auto !important;margin-left: .3em !important;}
.o_right_panel .o_right_field_panel .o_fields_list .o_export_field .fa.pull-right{margin: auto !important;margin-left: .3em !important;}
.modal-content .o_export.modal-body .o_import_compat{padding-left: 0px;}
.modal-content .o_export.modal-body .o_import_compat .form-check-input{display: none;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before{content: "\f067";font-size: 12px;}
.sh_backmate_theme_appmenu_div a.dropdown-item.sh_dropdown.o_app2.child_app:before{content: "\f068";font-size: 12px;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after{content: "\f067";font-size: 12px;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle.sh_sub_dropdown:after{content: "\f068";font-size: 12px;}


/* Rachana */

/* .o_action_manager .o_action.o_view_controller{padding: 10px;background: #f1f1f1;} */
.o_action_manager .o_action.o_view_controller{padding: 0px;background: #f1f1f1;}


.o_action_manager .o_action{padding: 10px;background: #f1f1f1;}

html .o_web_client .o_main_navbar{box-shadow: none;}
.o_form_view .oe_chatter{padding: 16px 10px 48px;}
nav.o_main_navbar .o_menu_systray li.theme_settings{background: $primaryColor;}







/* sidebar */

/* Rachana */

/*.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon {font-size: 36px;display: inline-block;vertical-align: middle;padding-right: 10px;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon{font-size: 36px;display: inline-block;vertical-align: middle;padding-right: 10px;}
*/
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon {font-size: 36px;display: inline-block;vertical-align: middle;margin-right: 14px;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.sh_fa_icon{font-size: 36px;display: inline-block;vertical-align: middle;margin-right: 14px;}

/*.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.icon-search.sh_fa_icon{font-size: 26px;width: 46px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.icon-app.sh_fa_icon{font-size: 30px;width: 46px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon.icon-global_search {font-size: 30px;width: 46px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.icon-settings.sh_fa_icon{font-size: 30px;width: 46px;text-align: center;}
*/
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.icon-search.sh_fa_icon{font-size: 36px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.icon-app.sh_fa_icon{font-size: 36px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span.sh_fa_icon.icon-global_search {font-size: 36px;text-align: center;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span.icon-settings.sh_fa_icon{font-size: 36px;text-align: center;}


.dropdown-menu.sh_backmate_theme_appmenu_div .logo #hide_top_bar, .dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar{color: #252525;}

/* sidebar */

/* topbar */
nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span{font-size: 16px;vertical-align: middle;}

/* Rachana */ 

/* nav.o_main_navbar .o_menu_systray li.o_night_mode span{font-size: 18px;vertical-align: middle;}
.o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;}
 */
nav.o_main_navbar .o_menu_systray li.o_night_mode span{font-size: 16px;vertical-align: middle;}
.o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;padding-left: 5px;}


nav.o_main_navbar .o_menu_systray li.o_debug_manager a span{font-size: 16px;vertical-align: middle;}

.o_main_navbar > ul > li > a span.icon-discuss{font-size: 24px;vertical-align: middle;}
.o_main_navbar > ul > li > a.gift_icon i{font-size: 18px;vertical-align: middle;}
nav.o_main_navbar .o_menu_systray li.o_switch_company_menu a i{font-size: 14px;vertical-align: middle;}
.o_main_navbar > ul > li > a .icon-expand{font-size: 14px;vertical-align: middle;}
.o_main_navbar > ul > li > a .icon-compress{font-size: 14px;vertical-align: middle;}
nav.o_main_navbar .o_menu_systray li.theme_settings .theme_setting_img{font-size: 16px;color: #fff;vertical-align: middle;}
/* topbar */









/* ---------  adv responsive start  --------------  */



@media only screen and (min-width: 768px) and (max-width: 991px){
   nav.o_main_navbar .o_menu_systray li{padding: 0 7px;}
   nav.o_main_navbar .o_menu_systray li.o_night_mode{margin: 0 7px;}
   .o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 62%;}
   .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 62%;}
   .o_searchview_input_container{width: 100%;}
}


@media only screen and (max-width: 992px){
 

 
  .dropdown-menu.sh_backmate_theme_appmenu_div{min-width: 70% !important;width: 70% !important;top: 0 !important;height: calc(100vh - 0px) !important;}
  .dropdown-menu.sh_backmate_theme_appmenu_div.sidebar_toggle{min-width: 0% !important;width: 0% !important;}
  #js_bar_toggle_btn_mobile{left: 25px;}
  .hover_menuitem .sh_backmate_theme_appmenu_div .logo #company_name_logo{margin: auto;}
  .hover_menuitem .sh_backmate_theme_appmenu_div .logo #hide_top_bar{display: none;}
  .hover_menuitem .sh_backmate_theme_appmenu_div .logo #show_top_bar{display: none;}
  .o_touch_device .o_control_panel .o_cp_searchview{text-align: right;justify-content: flex-end;} 
  .o_touch_device .o_control_panel .o_cp_searchview .o_searchview{width: 85% !important;}
   .o_touch_device .o_control_panel .o_cp_searchview, .o_touch_device .o_control_panel .o_cp_right{flex: 0 0 58% !important;}
  .o_main_navbar > ul.o_menu_systray{z-index: 1;float: right;}
  nav.o_main_navbar .o_menu_systray li{padding: 0 5px;}
  nav.o_main_navbar .o_menu_systray li > a{justify-content: center;}
  nav.o_main_navbar .o_menu_systray li.theme_settings{display: none !important;}
  nav.o_main_navbar .o_menu_systray li.o_night_mode{margin: 0 5px;}
  #js_bar_toggle_btn_mobile{left: 25px;background: $primaryColor;width: 30px;height: 30px !important;text-align: center;font-size: 10px;border-radius: 5px;top: 10px;}
  #js_bar_toggle_btn_mobile i{font-size: 18px !important;padding-top: 6px;}
  nav.o_main_navbar .o_menu_systray li.o_full_screen{display: none !important;}
  .o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu a{width: 100% !important;}
  .o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{width: 100% !important;}
   
  #js_bar_toggle_btn_mobile{left: 20px;}
  .o_control_panel .o_cp_right > .o_cp_switch_buttons > .btn:first-child{margin-top: 1px;}
  .o_touch_device .o_control_panel .o_cp_searchview .o_searchview{width: 100% !important;} 
  .o_touch_device .o_control_panel .o_cp_searchview {flex: 0 0 9% !important;}
  .o_control_panel .btn.o_enable_searchview{margin-left: 0%;}
  .o_touch_device .o_control_panel .o_cp_searchview .o_searchview{padding: 3px 5px 2px 5px !important;}
  
  /* Rachana */
  .o_main_navbar > ul > li > a span.icon-activity{font-size: 16px;vertical-align: middle;padding-left: 3px;}
  
  
}
 
@media only screen and (min-width: 768px) and (max-width: 992px){
  
  .o_touch_device .o_control_panel .o_cp_searchview{flex: 0 0 50% !important;}
  .fa-remove:before, .fa-close:before, .fa-times:before{position: unset;}
  

}




@media (max-width: 992px){
   .o_searchview_quick .o_searchview .btn.o_enable_searchview{margin-left: 0 !important;}
   //.o_touch_device .o_control_panel .o_cp_searchview, .o_touch_device .o_control_panel .o_cp_right{flex: 0 0 28% !important;} 
   .o_view_controller .o_control_panel .o_cp_searchview.o_searchview_quick{flex: 0 0 100% !important;}
   .o_touch_device .o_control_panel .o_cp_searchview.o_searchview_quick{flex: 0 0 100% !important;}
   .o_list_view .o_list_table .o_list_record_selector .custom-control{padding-left: 0px;}
   nav.o_main_navbar .o_menu_systray li.sh_search:first-child{position: unset;margin: 0 5px;}
   #js_bar_toggle_btn_mobile{display: block !important;z-index: 1 !important;left: 10px;}
   nav.o_main_navbar .o_menu_systray li.o_user_menu{padding-right: 10px;}
   .o_control_panel .o_cp_right > .o_cp_switch_buttons > .btn:first-child{margin-right: 0px;}
   .o_cp_buttons .o_form_buttons_edit .o_form_button_cancel .fa-times:before{display: none;}
   nav.o_main_navbar .o_menu_systray li > a{background: $secondaryColor !important;}
   .o_touch_device .o_control_panel .o_cp_right{flex: 0 0 50% !important;}
   .o_content .o_form_view.o_lead_opportunity_form .o_form_sheet_bg .o_form_sheet {width: 100%;}    
   
   
   /* 17-09-2020 */
   .o_form_view .oe_button_box .btn.oe_stat_button{display: inline-block;}
   .o_view_controller .o_form_view .o_form_statusbar{padding-left: 15px !important;} 
   
   
   
    
    
}

@media (max-width: 767px){
   /* 17-09-2020 */

    .o_mail_discuss{position: unset;}
    .o_control_panel .o_cp_searchview .o_searchview{border: 0px;}
    .o_control_panel .o_cp_searchview .o_searchview:hover{border: 0px;}
    .o_control_panel .o_cp_searchview.o_searchview_quick{flex: 0 0 100%;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview{border: 1px solid #ccc;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview:hover{border-color: $primaryColor;}
    .modal-dialog{margin: 0 auto;}
    .fa-remove:before, .fa-close:before, .fa-times:before{position: unset;}
    .o_form_view .o_form_statusbar > .o_statusbar_status{padding-left: 10px !important;}
    .o_form_sheet .oe_button_box{text-align: right;}
    
    
    
    .o_view_controller .o_control_panel .o_cp_right{flex: 0 0 63%}
    .o_control_panel .btn.o_enable_searchview{padding-right: 0px;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .btn.o_enable_searchview{padding-right: 0.75rem;}
    .o_control_panel .btn.o_enable_searchview{font-size: 18px !important;}
    .show .list-inline{min-width: auto !important;}
	.o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview{display: flex;}
	.o_control_panel .o_cp_right > .o_cp_switch_buttons > .btn:first-child{margin-top: 0px;}
	.o_touch_device .o_control_panel .o_cp_searchview .o_searchview{padding: 1px 3px 2px 3px !important;}
    .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview .o_enable_searchview{background: #e2e4e6;font-size: 15px !important;margin-right: 5px;}
    .o_form_view .o_form_statusbar > .o_statusbar_status{padding-left: 0 !important;}
    .modal-footer{padding: 10px;}
	.o_content .o_form_view .o_form_sheet, .o_content .o_form_view .oe_chatter, .modal-content .o_form_view .o_form_sheet, .modal-content .o_form_view .oe_chatter{width: 100%;}
}







@media only screen and (max-width: 568px){
   .dropdown-menu.sh_backmate_theme_appmenu_div{width: 75% !important;}
   html .o_web_client > .o_action_manager > .o_action{padding: 0;}
  // .o_view_controller .o_control_panel .o_cp_searchview, .o_view_controller .o_control_panel .o_cp_right {flex: 0 0 28% !important;}
   .o_action.o_graph_controller .o_control_panel .o_cp_right{flex: 0 0 20% !important;padding-right: 1px;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input2{display: none !important;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input{display: block;
    position: absolute;left: 0;z-index: 1;background: #fff;height: 48px;top: -12px;border: 1px solid #a1a1a1;width: auto;}	
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input #topbar_full_search_icon{display: none;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input #topbar_search_icon{display: block;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border: 0;}
   nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .usermenu_search_input{top: 30px;}

   .o_cp_searchview.o_searchview_quick .o_searchview{display: flex;}
   .o_searchview_quick .o_searchview .btn.o_enable_searchview.fa-close:before{position: unset;}
   .o_searchview_quick .o_searchview .btn.o_enable_searchview.fa-close{padding: .5rem 0.75rem;font-size: 16px !important;}
   .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_remove:before{position: unset;}
   .o_searchview_quick .o_searchview .btn.o_enable_searchview.fa-close{background: #e2e4e6;margin-left: 5px !important;}
   .o_searchview_quick .o_searchview .btn.o_toggle_searchview_full.fa-filter{background: #e2e4e6;margin-left: 5px !important;}
   .o_touch_device .o_control_panel .o_cp_searchview .o_searchview{padding: 0 !important;transition: none;}
   /* .o_touch_device .o_control_panel .o_cp_searchview.o_searchview_quick .o_searchview{padding: 3px !important;} */
   .o_control_panel .btn.o_enable_searchview{font-size: 16px !important;}
   .o_touch_device .o_control_panel .o_cp_right{flex: 0 0 33% !important;}
   .o_form_view .oe_button_box > .o_dropdown_more > .btn.oe_stat_button{width: 33.33333333% !important;}
   .o_field_partner_autocomplete.dropdown{display: inline-block;width: 100%;}
   .o_form_view.o_xxs_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{line-height: normal;color: #757575;}
   .o_form_view .o_group .o_group_col_5{width: 100%;}
   .o_form_view.o_xxs_form_view .o_group.o_inner_group{display: inline-block;width: auto;}
   .o_chatter .o_chatter_topbar > .o_topbar_right_area{justify-content: flex-start;}
   .modal-content .modal-body.o_act_window .o_searchview .o_searchview_input_container{width: 100%;}
   .o_mail_systray_item.show .o_mail_systray_dropdown{max-height: 94vh;}
}

}



/*  ------------   theme 3    -------------  */



@if $theme_style == 'style_3' or $theme_style == 'style_1'{
	.icon-top_show:hover::before {
	  content: "\f204";
	  font-family: 'fontAwesome';
	}
	.icon-top_hide:hover:before {
	  content: "\f205";
	  font-family: 'fontAwesome';
	}
}



/* 24-10-2020 */

@if $theme_style == 'style_3'{
	html .o_web_client .o_main_navbar{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;}
}





