<?xml version="1.0" encoding="UTF-8"?>
<templates xml:space="preserve">
    <t t-name="AppsMenu">
        <li class="dropdown">
                <a style="z-index:1111;display:none;" id="js_bar_toggle_btn_mobile" class="">
                    <i class="fa fa-bars" id="toggle_bar" />
                </a>
          
            <div class="hover_menuitem ">
            	<div class="blur_div"></div>
                <div class="dropdown-menu sh_backmate_theme_appmenu_div" role="menu">
                
                        <div class="logo" style="width: 100%;display: flex;max-width: 100%;align-items: center;">
                            <!-- <img t-attf-src="/web/image?model=res.company&amp;field=logo&amp;id=#{widget.current_company}" 
	 							id="company_logo" style="height: 4rem;padding: 10px; max-width: 100%;width: 64px;margin-left: 5px;" />
								  -->
								  <img t-attf-src="/web/image?model=res.company&amp;field=logo&amp;id=#{widget.current_company}" 
	 							id="company_logo" style="margin-left: 23px;height: 30px;width: 30px;max-width: 30px;margin-right: 19px;" />
	 			
                            <img class="img" t-attf-src="/web/image?model=res.company&amp;field=company_name_logo&amp;id=#{widget.current_company}" 
								style="height: 4rem;padding: 10px 0;width: 55%;padding-left: 0;" id="company_name_logo" />
						        
				        	<span class="icon-top_hide" id="hide_top_bar" style="margin-left: 5px;margin-top: 0px;"/> 
				        	<span class="icon-top_show" id="show_top_bar" style="margin-left: 5px;margin-top: 0px;"/> 
		        	
                        </div>
                    <t t-foreach="widget.getApps()" t-as="app">
                        <t t-if="app.children">
                            <div class="dropdown cssmenu">
                                <t t-if="app.appdata.children.length">
                                    <a role="menuitem" class="dropdown-toggle dropdown-item child_app o_app2" 
						               t-att-data-menu-id="app.menuID" 
						               t-att-data-menu-xmlid="app.xmlID" 
						               t-att-data-action-id="app.actionID" 
						               >
						               <t t-if="widget.icon_style == '2d'">
						              	   <t t-if="app.xmlID =='base.menu_management'">
						               	 		<span class="icon-apps sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='base.menu_administration'">
							               	 	<span class="icon-settings sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='sale.sale_menu_root'">
							               	 	<span class="icon-sales sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='account.menu_finance'">
							               	 	<span class="icon-invoicing sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='mail.menu_root_discuss'">
							               	 	<span class="icon-discuss_app sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='calendar.mail_menu_calendar'">
							               	 	<span class="icon-calender sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='note.menu_note_notes'">
							               	 	<span class="icon-notes sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='contacts.menu_contacts'">
							               	 	<span class="icon-contact sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='crm.crm_menu_root'">
							               	 	<span class="icon-CRM sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='website.menu_website_configuration'">
							               	 	<span class="icon-website sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='point_of_sale.menu_point_root'">
							               	 	<span class="icon-point-of-sale sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='purchase.menu_purchase_root'">
							               	 	<span class="icon-purchase sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='stock.menu_stock_root'">
							               	 	<span t-attf-class="icon-inventory sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='mrp.menu_mrp_root'">
							               	 	<span class="icon-manufacturing sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='repair.menu_repair_order'">
							               	 	<span class="icon-repairs sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='project.menu_main_pm'">
							               	 	<span class="icon-project sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='hr_timesheet.timesheet_menu_root'">
							               	 	<span class="icon-timesheet sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='event.event_main_menu'">
							               	 	<span class="icon-event sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='survey.menu_surveys'">
							               	 	<span class="icon-surveys sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='website_slides.website_slides_menu_root'">
							               	 	<span class="icon-surveys sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='hr.menu_hr_root'">
							               	 	<span class="icon-employee sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='hr_recruitment.menu_hr_recruitment_root'">
							               	 	<span class="icon-recruitment sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='hr_attendance.menu_hr_attendance_root'">
							               	 	<span class="icon-attendence sh_fa_icon"></span>
							               </t>
							             
							               <t t-elif="app.xmlID =='hr_holidays.menu_hr_holidays_root'">
							               	 	<span class="icon-times-off sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='hr_expense.menu_hr_expense_root'">
							               	 	<span class="icon-expences sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='lunch.menu_lunch'">
							               	 	<span class="icon-lunch sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='maintenance.menu_maintenance_title'">
							               	 	<span class="icon-maintenence sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='fleet.menu_root'">
							               	 	<span class="icon-fleet sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='im_livechat.menu_livechat_root'">
							               	 	<span class="icon-live-chat sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='base.menu_board_root'">
							               	 	<span class="icon-dashboard sh_fa_icon"></span>
							               </t>
							             <t t-elif="app.xmlID =='hr_appraisal.menu_hr_appraisal_root'">
							               	 	<span class="icon-appriasal sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='mass_mailing.mass_mailing_menu_root'">
							               	 	<span class="icon-email-marketing sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='mass_mailing_sms.mass_mailing_sms_menu_root'">
							               	 	<span class="icon-email-marketing sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID == 'sh_backmate_theme_adv.sh_dynamic_action_action_menu'">
							               		<span class="icon-global-search sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID == 'utm.menu_link_tracker_root'">
							               		<span class="icon-link-tracker sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID == 'hr_payroll.menu_hr_payroll_root'">
							               		<span class="icon-hr_payroll sh_fa_icon"></span>
							               </t>
							               
								           <t t-else="">
								              	<img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
								           </t>
						               </t>
						               <t t-else="">
						               		<img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
						               	</t>
						               
						               <span><t t-esc="app.name" /></span>
                                    </a>
                                </t>
                                <t t-else="">
                                    <a role="menuitem" class="dropdown-item o_app action_menu direct_menu" 
				               t-att-data-menu-id="app.menuID" 
				               t-att-data-menu-xmlid="app.xmlID" 
				               t-att-data-action-id="app.actionID" 
				               >
				               			 <t t-if="widget.icon_style == '2d'">
	                                          <t t-if="app.xmlID =='mail.menu_root_discuss'">
								               	 	<span class="icon-discuss_app sh_fa_icon"></span>
								               </t>
								               <t t-elif="app.xmlID =='calendar.mail_menu_calendar'">
								               	 	<span class="icon-calender sh_fa_icon"></span>
								               </t>
								              <t t-elif="app.xmlID =='note.menu_note_notes'">
								               	 	<span class="icon-notes sh_fa_icon"></span>
								               </t>
								            	<t t-elif="app.xmlID == 'sh_backmate_theme_adv.sh_dynamic_action_action_menu'">
								               		<span class="icon-global-search sh_fa_icon"></span>
								               </t>
								            	 <t t-elif="app.xmlID =='repair.menu_repair_order'">
								               	 	<span class="icon-repairs sh_fa_icon"></span>
								               </t>
								               <t t-elif="app.xmlID =='base.menu_board_root'">
								               	 	<span class="icon-base sh_fa_icon"></span>
								               </t>
								         		<t t-elif="app.xmlID == 'utm.menu_link_tracker_root'">
								               		<span class="icon-link-tracker sh_fa_icon"></span>
								               </t>
									           <t t-else="">
									              	<img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
									           </t>
									        </t>
									         <t t-else="">
									              	<img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
									           </t>
                                        <span>
                                            <t t-esc="app.name" />
                                        </span>
                                    </a>
                                </t>
                                <t t-set="app" t-value="app.appdata" />
                                <ul class="dropdown-menu dropdown-menu-right " role="menu">
                                    <t t-foreach="app.children" t-as="second_level_menu">
                                        <t t-if="!second_level_menu.children.length">
                                            <t t-set="depth" t-value="1" />
                                            <div t-attf-class="dropdown-header dropdown-item o_menu_header_lvl_1">
                                                <t t-set="menu" t-value="second_level_menu" />
                                                <a role="menuitem" class="action_menu" t-attf-href="#menu_id=#{menu.id}"  t-att-data-menu-id="menu.id" t-att-data-menu-xmlid="menu.xmlid" t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''" t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''">
                                                    <span class="fa fa-circle-thin"></span>
                                                    <span>
                                                        <t t-esc="menu.name" />
                                                    </span>
                                                </a>
                                            </div>
                                        </t>
                                        <t t-else="">
                                            <div t-attf-class="dropdown-header o_menu_header_lvl_1">
                                                <div class="sh_icon_text">
                                                    <span class="fa fa-circle-thin"></span>
                                                    <span>
                                                        <t t-esc="second_level_menu.name" />
                                                    </span>
                                                </div>
                                            </div>
                                            <t t-foreach="second_level_menu.children" t-as="third_level_menu">
                                                <div t-attf-class="dropdown-header o_menu_header_lvl_2">
                                                    <t t-if="third_level_menu.children.length">
                                                        <t t-call="ChildLink">
                                                            <t t-set="second_level_menu" t-value="third_level_menu" /></t>
                                                    </t>
                                                    <t t-else="">
                                                        <t t-set="menu" t-value="third_level_menu" />
                                                        <a role="menuitem"  class="action_menu" t-attf-href="#menu_id=#{menu.id}" t-att-data-menu-id="menu.id" t-att-data-menu-xmlid="menu.xmlid" t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''" t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''">
                                                            <span class="fa fa-circle-thin"></span>
                                                            <span>
                                                                <t t-esc="menu.name" />
                                                            </span>
                                                        </a>
                                                    </t>
                                                </div>
                                            </t>
                                        </t>
                                    </t>
                                </ul>
                            </div>
                        </t>
                        <t t-else="">
                            <div class="cssmenu">
                                <a role="menuitem" class="dropdown-item o_app" t-att-data-menu-id="app.menuID" t-att-data-menu-xmlid="app.xmlID" t-att-data-action-id="app.actionID">
                                    <t t-if="widget.icon_style == '2d'">
							               <t t-if="app.xmlID =='mail.menu_root_discuss'">
							               	 	<span class="icon-discuss_app sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='calendar.mail_menu_calendar'">
							               	 	<span class="icon-calender sh_fa_icon"></span>
							               </t>
							             <t t-elif="app.xmlID =='note.menu_note_notes'">
							               	 	<span class="icon-notes sh_fa_icon"></span>
							               </t>
							            	 <t t-elif="app.xmlID == 'sh_backmate_theme_adv.sh_dynamic_action_action_menu'">
							               		<span class="icon-global-search sh_fa_icon"></span>
							               </t>
							             <t t-elif="app.xmlID =='repair.menu_repair_order'">
							               	 	<span class="icon-repairs sh_fa_icon"></span>
							               </t>
							               <t t-elif="app.xmlID =='base.menu_board_root'">
							               	 	<span class="icon-base sh_fa_icon"></span>
							               </t>
							         		<t t-elif="app.xmlID == 'utm.menu_link_tracker_root'">
							               		<span class="icon-link-tracker sh_fa_icon"></span>
							               </t>
								           <t t-else="">
								              	<img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
								           </t>
						               </t>
						               <t t-else="">
						               		<img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
						               	</t>
                                    <span>
                                        <t t-esc="app.name" />
                                    </span>
                                </a>
                            </div>
                        </t>
                    </t>
                </div>
                <ul class="dropdown-menu collapse ag_sidebar_submenu" id="menu_section" style="">
                    <h1 class="">
                        <a data-toggle="collapse" data-target="#menu_section" class="ag_menu_section_close_btn dropdown-item collapsed" href="#" aria-expanded="false">
                            <i class="fa fa-times d-none"></i>
                        </a>
                    </h1>
                </ul>
                <div class="user">
                    <ul class="o_menu_systray" role="menu" />
                </div>
            </div>
        </li>
    </t>
    <t t-name="SwitchCompany">
        <li class="o_switch_company_menu"></li>
    </t>
    <t t-name="ChildLink">
        <t t-if="!second_level_menu.children.length">
            <t t-set="depth" t-value="1" />
            <t t-set="menu" t-value="second_level_menu" />
            <a role="menuitem"  class="action_menu" t-attf-href="#menu_id=#{menu.id}" t-att-data-menu-id="menu.id" t-att-data-menu-xmlid="menu.xmlid" t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''" t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''">
                <span>
                    <t t-esc="menu.name" />
                </span>
            </a>
        </t>
        <t t-else="">
            <a class="dropdown-item dropdown-toggle" href="#">
                <span class="fa fa-circle-thin"></span>
                <span>
                    <t t-esc="second_level_menu.name" />
                </span>
            </a>
            <!--  <t t-set="depth" t-value="(depth || 0) + 1"/> -->
            <ul class="dropdown-menu dropdown-menu-right " role="menu">
                <t t-foreach="second_level_menu.children" t-as="third_level_menu">
                    <t t-if="third_level_menu.children.length">
                        <!--  <t t-set="depth" t-value="(depth || 0) + 1"/> -->
                        <t t-call="ChildLink">
                            <t t-set="second_level_menu" t-value="third_level_menu" /></t>
                    </t>
                    <t t-else="">
                        <div t-attf-class="dropdown-header">
                            <t t-set="menu" t-value="third_level_menu" />
                            <a role="menuitem"  class="action_menu" t-attf-href="#menu_id=#{menu.id}" t-att-data-menu-id="menu.id" t-att-data-menu-xmlid="menu.xmlid" t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''" t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''">
                                <span class="fa fa-circle-thin"></span>
                                <span>
                                    <t t-esc="menu.name" />
                                </span>
                            </a>
                        </div>
                    </t>
                </t>
            </ul>
        </t>
    </t>
    <t t-name="NightModeTemplate">
		<li class="o_night_mode" style="margin-top: 13px;">
			<t t-if="widget.day_mode">
				<span class="icon-moon" id="moon_button"/> 
			</t>
			<t t-else="">
			 	<span class="icon-sun" id="sun_button"/> 
			</t>
			 <input type="checkbox" id="night_checkbox" style="display:none;"/>
        </li>
	</t>
	
	
	<t t-name="FullScreenTemplate">
		 <li class="o_full_screen">
            <a class="open_full_screen float-right" role="button">
                <span class="icon-expand expand_img" /> 
                <span class="icon-compress compress_img" />
                <input type="checkbox" id="fullscreen_checkbox"/>
            </a>
        </li>
	</t>
	<t t-name="ThemeConfigurationTemplate">
		 <li class="theme_settings">
	            <a class="theme_configuration float-right" role="button" >
	               <span class="icon-theme_setting theme_setting_img"/> 
	            </a>
	        </li>
	</t>
	<t t-extend="mail.systray.MessagingMenu">
		<t t-jquery="i.o_mail_messaging_menu_icon" t-operation="replace">
			<span class="icon-discuss o_mail_messaging_menu_icon" style="width:17px;height:17px;"/> 
		</t>
	</t>
	<t t-extend="mail.systray.ActivityMenu">
		<t t-jquery="i.fa-clock-o" t-operation="replace">
			<span class="icon-activity" style="width:15px;height:15px;"/> 
		</t>
	</t>

    <t t-name="SwitchCompanyMenu">
        <li class="o_switch_company_menu">
            <a role="button" class="dropdown-toggle" data-toggle="dropdown" data-display="static" aria-expanded="false" href="#" aria-label="Dropdown menu" title="Dropdown menu">
                <i class="fa fa-building" role="img" aria-label="Change Company]"></i>
                <span t-attf-class="#{widget.isMobile ? 'fa fa-building-o' : 'oe_topbar_name'}">
                    <t t-if="!widget.isMobile">
                        <t t-raw="widget.current_company_name"/></t>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <t t-foreach="widget.user_companies" t-as="company">
                    <div role="menuitem" class="dropdown-item d-flex py-0 px-0" data-menu="company" t-att-data-company-id="company[0]">
                        <div class="ml-auto pl-3 pr-3 border border-top-0 border-left-0 border-bottom-0 toggle_company o_py">
                            <span style="height: 2rem;">
                                <t t-if="widget.allowed_company_ids.includes(company[0])">
                                    <i class="fa fa-fw fa-check-square pt-2"></i>
                                </t>
                                <t t-if="!widget.allowed_company_ids.includes(company[0])">
                                    <i class="fa fa-fw fa-square-o pt-2"></i>
                                </t>
                            </span>
                        </div>
                        <div class="d-flex flex-grow-1 align-items-center py-0 log_into pl-3 o_py" t-att-style="company[0] === widget.current_company ? 'background-color: lightgrey;' : ''">
                            <t t-if="widget.allowed_company_ids.includes(company[0])">
                                <span class='mr-3 company_label'>
                                    <t t-esc="company[1]"/>
                                </span>
                            </t>
                            <t t-if="!widget.allowed_company_ids.includes(company[0])">
                                <span class='mr-3 company_label text-muted'>
                                    <t t-esc="company[1]"/>
                                </span>
                            </t>
                        </div>
                    </div>
                </t>
            </div>
        </li>
    </t>
</templates>
