/*--body-background-color--*/

@if $body_background_type == 'bg_color'{
	.o_web_client{background:$body_background_color;color:$body_font_color;font-family:$body_font_family!important;}
	/* .o_control_panel,.o_form_view .o_form_statusbar,.o_content .o_form_view .o_form_sheet,.o_FormRenderer_chatterContainer,.o_kanban_view,.o_Message,.o_MessageList{background-color:$body_background_color!important;font-family:$body_font_family!important;} */
	.o_control_panel{background-color: $body_background_color!important;font-family:$body_font_family!important;}
	.breadcrumb{background-color:$body_background_color!important;font-family:$body_font_family!important;}
}

/* .o_onboarding .o_onboarding_step .o_onboarding_step_content .o_onboarding_step_action {color: $primaryColor!important;}*/
@if $theme_style == 'style_1'{
  .o_cp_buttons .btn.btn-primary:hover{border-color: $primary_hover !important;}
  .modal-footer .btn-secondary:hover{background: $primary_hover !important;color: #fff;opacity: 1;border-color: $primary_hover !important;}
  .modal-footer .btn-secondary{border: 1.5px solid $primaryColor!important;background: #fff;}
  .modal-footer .btn.btn-primary{border: 1.5px solid $primaryColor!important;}
 
}

@if $theme_style == 'style_2'{
	.o_cp_buttons .btn.btn-primary:hover{border-color: $primary_hover !important;}
	
}

/*--body-background-color--*/

.text-muted{color: #adb5bd !important;}

.o_view_controller .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled{border-left: 0px !important;}


/* === 19-12-2020 === */

.o_user_bookmark_menu a.active{color: $primaryColor !important;}



