#object1 p {margin-bottom: 0px;}
#object1 {width: auto;word-break: break-word;}
// #object marquee{margin: 0px 20px 0px 0px;}
.o_notification_manager .toast.o_notification .toast-body .o_notification_content{width: 100%;word-break: break-word;}
.o_notification_manager .toast.o_notification:not(:last-child){margin-bottom: 10px;}
.o_notification_manager .toast.o_notification.bg-warning .toast-body{padding: 10px 12px;font-size: 13.5px;line-height: 18px;color:#a07415 !important;}
.o_notification_manager .toast.o_notification.bg-warning{border: 1px solid #e8b64c  !important;}
.o_notification_manager .toast.o_notification.bg-warning .toast-body .close.o_notification_close{color: #a07415 !important;}

.o_notification_manager .toast.o_notification.bg-danger .toast-body{padding: 10px 12px;font-size: 13.5px;line-height: 18px;color:#9f2723 !important;}
.o_notification_manager .toast.o_notification.bg-danger{border: 1px solid #ad6462 !important;}
.o_notification_manager .toast.o_notification.bg-danger .toast-body .close.o_notification_close{color: #9f2723 !important;}

.o_rtl .sh_animated_notification,.o_rtl .sh_simple_text_notification{right: 5px !important;left: auto !important;}

@if $theme_style == 'style_1' AND $sidebar_collapse_style == 'collapsed' OR $theme_style == 'style_2' AND $sidebar_collapse_style == 'collapsed' OR $theme_style == 'style_3' AND $sidebar_collapse_style == 'collapsed'{
    #object1{padding-left: 62px ;margin-left: 15px;padding-right: 15px;}
    @media only screen and (max-width: 992px){
        #object1{padding-left: 10px !important;margin-left: 0px;padding-right: 10px;}
    }
}
@if $theme_style == 'style_1' AND $sidebar_collapse_style == 'expanded' OR $theme_style == 'style_2' AND $sidebar_collapse_style == 'expanded' OR $theme_style == 'style_3' AND $sidebar_collapse_style == 'expanded'{
    #object1{padding-left: 268px !important;padding-right: 15px !important;}
    @media only screen and (max-width: 992px){
        #object1{padding-left: 10px !important;padding-right: 10px !important;}
    }
}
