$o-enterprise-color: #2C3782;

$theme_style: style_2;
$theme_color: color_1;


$primaryColor:#2C3782;
$primary_hover:#2C3782;
$primary_active:#2C3782;
$gradient_color:#4F2499;
$secondaryColor:#EEEEEE;
$secondary_hover:#EEEEEE;
$secondary_active:#EEEEEE;

$list_td_th:0.75rem !important;

$header_bg_color:#FFFFFF;
$header_font_color:#787373;
$header_hover_color:#2C3782;
$header_active_color:#2C3782;

$h1_color:#464d69;
$h2_color:#464d69;
$h3_color:#464d69;
$h4_color:#464d69;
$h5_color:#464d69;
$h6_color:#464d69;
$p_color:#464d69;

$h1_size:28px;
$h2_size:17px;
$h3_size:18px;
$h4_size:13px;
$h5_size:13px;
$h6_size:12px;
$p_size:13px;

$body_font_color:#787373;
$body_background_type:bg_color;
$body_background_color:#FFFFFF;
$body_font_family:Poppins;
$body_google_font_family:'Muli';      
$is_used_google_font:False;

$o-mail-attachment-image-size: 100px !default;
$is_button_with_box_shadow:False;

$sidebar_bg_color:#FFFFFF;
$sidebar_font_color:#181F4C;
$sidebar_font_hover_color:#FFFFFF;
$sidebar_font_hover_bg_color:#2C3782;
$sidebar_is_show_nav_bar:True;
$sidebar_collapse_style:expanded;


       
$separator_style:style_7;
$separator_color:#2C3782;

$o-community-color:#2C3782;
$o-tooltip-background-color:#2C3782;
$o-brand-secondary:#e6e6e6;
$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$is_button_with_icon_text:True;
$is_button_with_box_shadow: True;
$button_style:style_2;


$list_view_border:without_border;
$list_view_is_hover_row:True;
$list_view_hover_bg_color:#F2F2F2;
$list_view_even_row_color:#ECECEC;
$list_view_odd_row_color:#FFFFFF;

$login_page_style: style_1;
$login_page_background_type: bg_color;
$login_page_background_color: #ffffff;
$login_page_box_color:#ffffff;


$is_sticky_form:False;
$is_sticky_chatter:False;
$is_sticky_list:False;
$is_sticky_list_inside_form:False;

$modal_popup_style:style_2;

$tab_style:horizontal;
$tab_style_mobile:vertical;
$horizontal_tab_style:style_5;
$vertical_tab_style:style_5;
$form_element_style:style_1;
$search_style:collapsed;
$breadcrumb_style:style_1;
$sidebar_background_style:color;









