
@if $search_style == 'collapsed'{
	.usermenu_search_input2,#topbar_full_search_icon {display:none;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{height: 30px;line-height: 30px;}
	nav.o_main_navbar .sh_search .sh_search_input{border: 0px !important;}
	/* nav.o_main_navbar .o_menu_systray li .sh_search_container{background: $secondaryColor;border-radius: 5px;} */
	.o_main_navbar .sh_search .sh_search_container .sh_search_input:hover, .o_main_navbar .sh_search .sh_search_container .sh_search_input:focus{border: 0px !important;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{background: $secondaryColor;}
	
}


@if $search_style == 'expanded'{
	.usermenu_search_input,#topbar_search_icon {display:none;}
	nav.o_main_navbar .o_menu_systray li.sh_search:first-child{position: absolute;left: 263px;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container{ padding: 0;height: 100%;}
	nav.o_main_navbar .o_menu_systray li.sh_search:first-child .sh_search_container .sh_search_input{border-color: #cccccc;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border-radius: 5px;margin-top: 0;}
	.sh_search_input{border-bottom: none;border: 1px solid #959595;}
	.sh_search_input .usermenu_search_input {background: transparent;border: none;border-bottom: 1px solid #a1a1a1;box-shadow: none;color: #a1a1a1;border-radius: unset;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{margin: 0;background: transparent;border: none;color: #787373;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span{cursor: pointer;font-size: 16px;vertical-align: middle;}
	#topbar_full_search_icon{height: 15px;width: 15px;}
	.sh_search_input .usermenu_search_input2 {background: transparent;border: none;border-bottom: 0px !important;box-shadow: none;color: #a1a1a1;border-radius: unset;}
	.o_main_navbar .sh_search .sh_search_container .sh_search_input:hover,.o_main_navbar .sh_search .sh_search_container .sh_search_input:focus{border: 1px solid $primaryColor !important;transition: all .4s !important;}
	@if $sidebar_collapse_style == 'collapsed'{
		.o_menu_systray li.sh_search:first-child{position: absolute;left: 75px !important;}
		nav.o_main_navbar .dropdown-menu.sh_backmate_theme_appmenu_div:hover .o_menu_systray li.sh_search:first-child{position: absolute;left: 263px !important;}
	}
}

@media only screen and (max-width: 576px){
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{height: 30px;width: 30px;line-height: 30px;padding: 0px 7px;border-radius: 5px;justify-content: center;background: $secondaryColor;}
	nav.o_main_navbar .sh_search .sh_search_container .sh_search_input:hover, nav.o_main_navbar .sh_search .sh_search_container .sh_search_input:focus{border: 0px !important;}
}


.sh_search_results {
        position: fixed !important;
	    overflow-x: hidden;
	    overflow-y: auto;
	    box-shadow: none;
	    border: none;
	    width: 100vw;
	    z-index: 111;
	    top: 45px;
		background:$header_bg_color;;
		max-height: calc(100% - #{$o-navbar-height}); 
	}
.sh_search_results .dropdown-item:hover {
	color: #333232;
}
.sh_search_results .dropdown-item:active {
	color: #333232;
}

.sh_search_results .dropdown-item {
	color: #a1a1a1;
}
.sh_search_input {
margin-top:5px;
}


.sh_search_input .usermenu_search_input{
	background: transparent;
    border: none;
    border-bottom: 1px solid #a1a1a1;
    box-shadow: none;
    color:#a1a1a1;
    border-radius: unset;
}
.sh_search_input .usermenu_search_input::placeholder
{
	color:#a1a1a1;
}
.sh_search_input .usermenu_search_input2{
	background: transparent;
    border: none;
    border-bottom: 1px solid #a1a1a1;
    box-shadow: none;
    color:#a1a1a1;
    border-radius: unset;
}
.sh_search_input .usermenu_search_input2::placeholder
{
	color:#a1a1a1;
}

.sh_search_input .input-group-text{
    background: transparent;
    border: none;
    color: $header_font_color;
    margin-top: 6px;
}
.search_company_detail{
	border-bottom:1px solid white;
	margin-bottom: 2px;
	margin-top: 5px;
	color: #a1a1a1;
}
