.btn-primary {
	background-color: $primaryColor;
	border-color: $primaryColor;
}
.btn-primary:hover {
	background-color:$primaryColor;
	border-color: $primaryColor;
	box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);	
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	background-color: $primary_active;
	border-color: $primary_active;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}
.btn-primary:focus,
.btn-primary.focus {
	box-shadow: none;
}

.btn-secondary {
	background-color: $secondaryColor;
	border-color: $secondaryColor;
}
.btn-secondary:hover {
	background-color:$secondary_hover;
	border-color:$secondary_hover;
}
.o_dropdown .dropdown-toggle:first-child {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    border: 0px;
    margin-right: 2px;
}



/*--button style--*/

/*--style-1--*/
@if $button_style == 'style_1'{
	.btn {border-radius: 2px !important;}
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-primary,
	.modal-footer .btn.btn-primary,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonSendMessage,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity,
	.o_list_view .o_field_x2many_list_row_add a{background: linear-gradient(1deg, $primaryColor, lighten($primaryColor, 20%));border: 1.5px solid $primaryColor;border-radius: 2px !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover,.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:focus,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-primary:hover,.o_form_statusbar .o_statusbar_buttons .btn.btn-primary:focus,
	.modal-footer .btn.btn-primary:hover,.modal-footer .btn.btn-primary:focus,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary:hover,.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity:focus,
	.o_list_view .o_field_x2many_list_row_add a:hover,.o_list_view .o_field_x2many_list_row_add a:focus,
	.o_x2m_control_panel .o_cp_buttons .o-kanban-button-new:hover,.o_x2m_control_panel .o_cp_buttons .o-kanban-button-new:focus{background: linear-gradient(1deg, $primaryColor, $primaryColor);box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;}
	
	.o_x2m_control_panel .o_cp_buttons .o-kanban-button-new{background: linear-gradient(1deg, $primaryColor, lighten($primaryColor, 20%));border: 1.5px solid $primaryColor;border-radius: 2px !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary,
	.modal-footer .btn.btn-secondary,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary,
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary,
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary{background: linear-gradient(1deg, $secondaryColor, lighten($secondaryColor, 20%));border: 1.5px solid $secondaryColor !important;border-radius: 2px !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover,.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:focus,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary:hover,.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary:focus,
	.modal-footer .btn.btn-secondary:hover,.modal-footer .btn.btn-secondary:focus,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary:hover,.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary:focus,
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:hover,.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:focus,
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:hover,.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:focus{background: linear-gradient(1deg, $secondaryColor, $secondaryColor);box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;}
	
	.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{background: $primaryColor;opacity: 1;color:#fff}

	.backmate_theme_layout #color_list_id .btn.btn-secondary , .sh_theme_model  #color_list_id .btn.btn-primary{padding: 5px 10px;text-transform: uppercase;}
	.o_control_panel .o_cp_bottom .o_list_selection_box{border-radius: 1px !important;}
	
	@media (max-width: 1023px) {
		.o_cp_bottom_left .o_cp_buttons .o_form_button_save:before,.o_control_panel .o_form_buttons_view .o_form_button_edit:before,.o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before,.o_cp_bottom_left .o_cp_buttons .o_list_button_add:before{color:#fff;}
	}
}
/*--style-1--*/

/*--style-2--*/
@if $button_style == 'style_2'{
	.o_cp_bottom_left .o_cp_buttons .btn{border-radius: 3px!important;}
	.o_cp_bottom_left .o_cp_buttons .btn{box-shadow: 0 1px 3px rgba(0, 0, 0, .12%), 0 1px 2px rgba(0, 0, 0,  .24%)!important;}
	.o_cp_buttons .btn.btn-primary,.o_statusbar_buttons .btn.btn-primary,.modal-footer .btn.btn-primary,.o_favorites_menu .btn.btn-primary,.o_chatter .o_chatter_topbar > .btn,.o_group_by_menu .btn.btn-primary,
	.o_filters_menu .btn.btn-primary{border: 1.5px solid $primaryColor;border-radius: 3px!important;box-shadow: 0 1px 3px rgba(0, 0, 0, .12%), 0 1px 2px rgba(0, 0, 0,  .24%)!important;}
	.o_cp_buttons .btn.btn-primary:hover,.o_statusbar_buttons .btn.btn-primary:hover,.modal-footer .btn.btn-primary:hover,.o_favorites_menu .btn.btn-primary:hover,.o_chatter .o_chatter_topbar > .btn:hover,.o_group_by_menu .btn.btn-primary:hover,
	.o_filters_menu .btn.btn-primary:hover{background: $primaryColor;opacity: 1;color:#fff;}
	.o_cp_buttons .btn-secondary,.o_statusbar_buttons .btn-secondary,.modal-footer .btn-secondary,.o_filters_menu .btn-secondary{background: $secondaryColor !important;border: 1.5px solid $secondaryColor !important;color: #212529 !important;border-radius: 3px !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	.o_cp_buttons .btn-secondary:hover,.o_statusbar_buttons .btn-secondary:hover,.modal-footer .btn-secondary:hover,.o_filters_menu .btn-secondary:hover,.backmate_theme_layout #color_list_id .btn.btn-secondary:hover{opacity: 1;background: $primaryColor !important;border: 1.5px solid $primaryColor !important;color: #fff !important;}
	.btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle,
    .btn-secondary.active:not(:disabled):not(.disabled), .show > .btn-secondary.dropdown-toggle{background: $primaryColor !important;border: 1.5px solid $primaryColor !important;color: #fff !important;}
	.btn-secondary{background: $secondaryColor !important;border: 1.5px solid $secondaryColor !important;color: #212529 !important;border-radius: 3px !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	.btn-secondary:hover,.o_form_statusbar > .o_statusbar_buttons button.btn.btn-secondary:hover{opacity: 1;background: $primaryColor !important;border: 1.5px solid $primaryColor !important;color: #fff !important;}
	.btn-primary{border: 1.5px solid $primaryColor;border-radius: 3px!important;box-shadow: 0 1px 3px rgba(0, 0, 0, .12%), 0 1px 2px rgba(0, 0, 0,  .24%)!important;}
	.btn-primary:hover{background: $primaryColor;opacity: 1;color:#fff;}
	
	.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn{border-radius: 3px!important;}
	
	.o_field_x2many_list_row_add a{border-radius: 3px!important;}
	
	
	.backmate_theme_layout #color_list_id .btn.btn-primary{border-radius: 3px!important;padding: 5px 10px;text-transform: uppercase;border: 1.5px solid $primaryColor !important;}
	.backmate_theme_layout #color_list_id .btn.btn-secondary{border-radius: 3px!important;padding: 5px 10px;text-transform: uppercase;border: 1.5px solid $secondaryColor !important;background: $secondaryColor !important;color: #212529 !important;}
	
	.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn.btn-secondary{background: $secondaryColor !important;border: 1.5px solid $secondaryColor !important;color: #212529 !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;margin: 4px 4px 4px 0 !important;}
	.o_form_statusbar > .o_statusbar_buttons .btn.btn-primary{background: $primaryColor !important;border: 1.5px solid $primaryColor !important;color: #fff !important;}
	
	.btn{border-radius: 3px!important;}
	//.o_readonly_modifier .btn{border-radius:0px!important;}
	.o_cp_right .o_search_options .o_dropdown .btn {border-radius: 3px;}
	.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn{border-radius: 3px;}
	.o_cp_switch_activity{border-radius: 3px!important;}
	.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn{border-radius: 3px!important;}
	@media (max-width: 1023px) {
	.o_cp_bottom_left .o_cp_buttons .o_form_button_save:before,.o_control_panel .o_form_buttons_view .o_form_button_edit:before,.o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before,.o_cp_bottom_left .o_cp_buttons .o_list_button_add:before{color:#fff;}
	}
	
	.o_search_options .o_dropdown .o_dropdown_toggler_btn,.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .o_dropdown .o_dropdown_toggler_btn{padding: 5px 4px !important;text-transform: uppercase;}
	.o_search_options .o_dropdown .o_dropdown_toggler_btn{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;}
	.o_control_panel .o_cp_bottom .o_list_selection_box{border-radius: 3px !important;}
	@if $search_style == 'collapsed'{
		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{border-radius: 3px;}
	}
	.o_kanban_view .o_kanban_record::after{height: 100% !important;}

	/*== 19-3-2021 ==*/
	.o_FormRenderer_chatterContainer .o_Chatter .o_FollowerListMenu.o_ChatterTopbar_button,.o_FormRenderer_chatterContainer .o_Chatter .o_FollowButton.o_ChatterTopbar_button{border-radius: 3px !important;}
	nav.o_main_navbar .o_menu_systray li.theme_settings{right: 0;top: 30%;position: fixed;z-index: 9;height: 40px !important;border-radius: 5px 0px 0px 5px;width: 3%;box-shadow: 0 4px 20px 0 rgba(0, 0 ,0 ,0.014) , 0 6px 10px -5px $primaryColor !important;}
	.o_form_view .oe_avatar > img,.o_kanban_view .oe_module_icon,
	.o_kanban_view .oe_kanban_card .oe_kanban_colorpicker > li > a::after, .o_kanban_view .o_kanban_record .oe_kanban_colorpicker > li > a::after{border-radius: 3px !important;}

	/*== 20-3-2021 ==*/
	@media only screen and (max-width: 992px){
		.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image{border-radius: 3px !important;}
	}
	
}
/*--style-2--*/


/*--style-3--*/
@if $button_style == 'style_3'{
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary{border: 1.5px solid $primaryColor;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover{background:$primaryColor;opacity:1;color:#fff}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary{border: 1.5px solid $primaryColor;background: #fff;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .btn-secondary:hover{background:$primaryColor;color: #fff;opacity:1;}
	.o_control_panel .o_cp_bottom_left .o_cp_buttons .btn,
	.o_search_options .o_dropdown .o_dropdown_toggler_btn, .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .o_dropdown .o_dropdown_toggler_btn,
	.o_x2m_control_panel .o_cp_buttons .o-kanban-button-new{box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;border-radius: 0px 15px 0px 15px!important;  }
	
	.o_statusbar_buttons .btn,.modal-footer .btn,.o_chatter .o_chatter_topbar > .btn,.o_favorites_menu .btn,.o_filters_menu .btn{box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;border-radius: 0px 15px 0px 15px!important;}
	.o_statusbar_buttons .btn.btn-primary,.modal-footer .btn.btn-primary{border: 1.5px solid $primaryColor;}
	.o_statusbar_buttons .btn.btn-primary:hover,.modal-footer .btn.btn-primary:hover,.o_favorites_menu .btn.btn-primary:hover,.o_filters_menu .btn.btn-primary:hover{background:$primaryColor;opacity: 1;color:#fff}
	.o_statusbar_buttons .btn-secondary,.modal-footer .btn-secondary,.o_favorites_menu .btn-secondary,.o_filters_menu .btn-secondary{border: 1.5px solid $primaryColor!important;background: #fff;}
	.o_statusbar_buttons .btn-secondary:hover,.modal-footer .btn-secondary:hover,.o_filters_menu .btn-secondary:hover{background:$primaryColor;color: #fff;opacity: 1;}
	
	/* .o_notebook .o_x2m_control_panel .o_cp_buttons .o-kanban-button-new{border-radius: 0px 15px 0px 15px !important;} */
	
	/*.o_group_by_menu .btn{box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2)!important;border-radius: 0px 15px 0px 15px!important;}
	.o_group_by_menu .btn.btn-primary:hover{background:$primaryColor;opacity: 1;color:#fff}
	.o_group_by_menu .btn-secondary{border: 1.5px solid $primaryColor!important;background: #fff;}
	*/

	.backmate_theme_layout #color_list_id .btn.btn-primary{border-radius: 0px 15px 0px 15px !important;padding: 5px 10px;text-transform: uppercase;border: 1.5px solid $primaryColor!important;}
	.backmate_theme_layout #color_list_id .btn.btn-secondary{border-radius: 0px 15px 0px 15px !important;padding: 5px 10px;text-transform: uppercase;border: 1.5px solid $primaryColor!important;background: #fff;}
	.backmate_theme_layout #color_list_id .btn.btn-secondary:hover{background:$primaryColor;color: #fff;opacity: 1;}
	.o_control_panel .o_cp_bottom .o_list_selection_box{border-radius: 0px 15px 0px 15px !important;}
	
	@media (max-width:1023px) {
	.o_cp_bottom_left .o_cp_buttons .o_form_button_save:before{color:#fff;}
	.o_control_panel .o_form_buttons_view .o_form_button_edit:before{color:#fff;}
	.o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before{color:#fff;}
	.o_cp_bottom_left .o_cp_buttons .o_list_button_add:before{color:#fff;}
	}
	
	/* 3-3-2021 */
	.o_calendar_buttons .o_calendar_scale_buttons .dropdown-menu{box-shadow: none;border: 0px;background: transparent;}

}
/*--style-3--*/


/*--style-4--*/
@if $button_style == 'style_4'{
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-primary,
	.modal .modal-footer .btn.btn-primary,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonSendMessage,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity,
	.o_notebook .o_x2m_control_panel .o_cp_buttons .o-kanban-button-new,
	.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-primary,
	.o_content .o_kanban_view .o_kanban_card_content .oe_kanban_action_button.btn.btn-primary,
	.o_content .o_setting_container .settings .o_settings_container .o_setting_right_pane .btn.btn-primary.o_web_settings_invite,
	.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-primary,
	.o_Chatter .o_Composer_actionButtons .btn-primary,.o_content .o_kanban_view .btn-primary{background: $primaryColor;border: 1.5px solid $primaryColor;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;padding: 5px 12px !important;border-bottom: 3px solid darken($primaryColor, 5%) !important;transition: all .5s;}
	.o_x2m_control_panel .o_cp_buttons .o-kanban-button-new{border-radius: 50rem;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover,.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:focus,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-primary:hover,.o_form_statusbar .o_statusbar_buttons .btn.btn-primary:focus,
	.modal .modal-footer .btn.btn-primary:hover,.modal .modal-footer .btn.btn-primary:focus,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary:hover,.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity:focus,
	.o_notebook .o_x2m_control_panel .o_cp_buttons .o-kanban-button-new:hover,.o_notebook .o_x2m_control_panel .o_cp_buttons .o-kanban-button-new:focus,
	.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-primary:hover,.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-primary:focus,
	.o_content .o_kanban_view .o_kanban_card_content .oe_kanban_action_button.btn.btn-primary:hover,.o_content .o_kanban_view .o_kanban_card_content .oe_kanban_action_button.btn.btn-primary:focus,
	.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-primary:hover,.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-primary:focus{background: $primaryColor;box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.014), 0 6px 10px -5px $primaryColor !important;transition: all .5s;}
	
	.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-info{background: #17a2b8;border: 1.5px solid #17a2b8;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;padding: 5px 12px !important;border-bottom: 3px solid darken(#17a2b8, 5%) !important;transition: all .5s;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary,
	.modal-footer .btn.btn-secondary,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary,
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary,
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary,
	.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-secondary,
	.o_content .o_kanban_view .o_kanban_card_content .oe_kanban_action_button.btn.btn-secondary,
	.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-primary:hover,.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-secondary{background: $secondaryColor;border: 1.5px solid $secondaryColor !important;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;padding: 5px 12px !important;border-bottom: 3px solid darken($secondaryColor, 5%) !important;transition: all .5s;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover,.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:focus,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary:hover,.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary:focus,
	.modal-footer .btn.btn-secondary:hover,.modal-footer .btn.btn-secondary:focus,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary:hover,.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary:focus,
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:hover,.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:focus,
	.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-secondary:hover,.o_content.o_controller_with_searchpanel .o_kanban_view .o_kanban_record .oe_module_action .btn-secondary:focus,
	.o_content .o_kanban_view .o_kanban_card_content .oe_kanban_action_button.btn.btn-secondary:hover,.o_content .o_kanban_view .o_kanban_card_content .oe_kanban_action_button.btn.btn-secondary:focus,
	.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-secondary:hover,.o_kanban_view .o_kanban_record .o_kanban_record_bottom .oe_kanban_bottom_left .btn-secondary:focus{background: $secondaryColor;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;transition: all .5s;}

	
	.backmate_theme_layout #color_list_id .btn.btn-primary{padding: 5px 12px;text-transform: uppercase;border: 1.5px solid $primaryColor!important;}
	.backmate_theme_layout #color_list_id .btn.btn-secondary{padding: 5px 12px;text-transform: uppercase;border-color: $secondaryColor !important;}
	.modal.o_technical_modal .modal-content .modal-footer button{margin: 0px 0.45rem 0px 0px;}
	.o_control_panel .o_cp_bottom .o_list_selection_box{border-radius: 50rem !important;}
	
	@media (max-width: 1023px) {
	.o_cp_bottom_left .o_cp_buttons .o_form_button_save:before,.o_control_panel .o_form_buttons_view .o_form_button_edit:before,.o_cp_bottom_left .o_cp_buttons .o-kanban-button-new:before,.o_cp_bottom_left .o_cp_buttons .o_list_button_add:before{color:#fff;}
	}

	/*== 19-3-2021 ==*/
	.o_kanban_view .oe_module_icon{border-radius: 15px !important;}
	
	/*== 20-3-2021 ==*/
	@media only screen and (max-width: 992px){
		.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image{border-radius: 15px !important;}
	}
	
}
/*--style-4--*/

/*--style-5--*/
@if $button_style == 'style_5'{
.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-primary,
	.modal-footer .btn.btn-primary,.backmate_theme_layout #color_list_id .btn.btn-primary,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonSendMessage,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity{background: $primaryColor !important;border: 1.5px solid $primaryColor;border-radius: 0px !important;color: #FFF !important;transition: all .5s;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:hover,.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-primary:focus,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-primary:hover,.o_form_statusbar .o_statusbar_buttons .btn.btn-primary:focus,
	.modal-footer .btn.btn-primary:hover,.modal-footer .btn.btn-primary:focus,.backmate_theme_layout #color_list_id .btn.btn-primary:hover,.backmate_theme_layout #color_list_id .btn.btn-primary:focus
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary:hover,.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-primary:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonLogNote:focus,
	.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity:hover,.o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_actions .btn.btn-link.o_ChatterTopbar_button.o_ChatterTopbar_buttonScheduleActivity:focus{background: $primaryColor !important;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;transition: all .5s;color: #fff !important;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary,
	.modal-footer .btn.btn-secondary,.backmate_theme_layout #color_list_id .btn.btn-secondary,
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary,
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary,
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary{background: transparent !important;border: 1.5px solid $secondaryColor !important;border-radius: 0px !important;color: #212529 !important;transition: all .5s;}
	
	.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:hover,.o_cp_bottom .o_cp_bottom_left .o_cp_buttons .btn.btn-secondary:focus,
	.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary:hover,.o_form_statusbar .o_statusbar_buttons .btn.btn-secondary:focus,
	.modal-footer .btn.btn-secondary:hover,.modal-footer .btn.btn-secondary:focus,.backmate_theme_layout #color_list_id .btn.btn-secondary:hover,.backmate_theme_layout #color_list_id .btn.btn-secondary:focus
	.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary:hover,.backmate_theme_layout.sh_theme_model #color_list_id .btn.btn-secondary:focus,
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:hover,.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:focus,
	.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:hover,.o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:focus{background: $secondaryColor !important;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;transition: all .5s;color: #212529 !important;}
	.o_control_panel .o_cp_bottom .o_list_selection_box{border-radius: 0px !important;}
	
	
	.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{background: $primaryColor;color: #fff;opacity: 1;}

	.o_cp_right .o_search_options .o_dropdown .btn,.o_cp_switch_activity, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn,.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn{border-radius: 0px;}
	
	.backmate_theme_layout #color_list_id .btn.btn-primary,.backmate_theme_layout #color_list_id .btn.btn-secondary{padding: 5px 10px;text-transform: uppercase;}

}
/*--style-5--*/


@if $is_button_with_box_shadow == True {

	.o_cp_bottom_left .o_cp_buttons .btn{box-shadow: none;}
	.o_cp_bottom_left .o_cp_buttons .btn:hover,
	.o_cp_switch_buttons button:hover{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
	.o_cp_switch_buttons button{box-shadow: none;}
	.o_cp_pager .o_pager button:hover{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
	.o_cp_sidebar .o_dropdown button:hover{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
	.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn{box-shadow: none}
	.modal.o_technical_modal .modal-content .modal-footer button:hover{box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
	.o_chatter .o_chatter_topbar button{box-shadow: none;}
	.o_chatter .o_chatter_topbar button:hover{box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;}
	.o_chatter .o_chatter_topbar .btn{box-shadow: none;}
	.o_chatter .o_chatter_topbar .btn:hover{box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;}
	.o_cp_right .o_search_options .o_dropdown .btn:hover{box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;}
	.dropdown-menu.sh_backmate_theme_appmenu_div{ box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2) !important;}


}



/*== 9-3-2021 predefined_2 ==*/


@if $button_style == 'style_4'{
	.o_calendar_buttons .o_calendar_scale_buttons .dropdown-menu{box-shadow: none;border: 0px;background: transparent;}
	nav.o_main_navbar .o_menu_systray li > a,nav.o_main_navbar .o_menu_systray li.o_night_mode,.o_main_navbar .o_user_menu img.oe_topbar_avatar,.o_main_navbar .o_mail_systray_item .o_notification_counter.badge, .o_main_navbar .o_MessagingMenu .o_MessagingMenu_counter.badge{border-radius: 100% !important;}
	.o_main_navbar > ul > li > a span.icon-activity{padding-left: 7px !important;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons{background: $primaryColor;border: 1.5px solid $primaryColor;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;padding: 0px 12px !important;border-bottom: 3px solid darken($primaryColor, 5%) !important;transition: all .5s;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right nav.o_cp_switch_buttons button.btn{background: transparent !important;box-shadow: none !important;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn.o_switch_view{padding: .4rem 0.35rem !important;}
	.o_control_panel .o_cp_searchview .o_searchview{border-radius: 22px !important;}
	.o_control_panel .o_searchview .o_searchview_input_container{padding-left: 3px;}
	.o_searchview .o_searchview_input_container .o_searchview_facet, .o_searchview .o_searchview_more,.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager .o_pager .btn{border-radius: 30px !important;}
	.o_control_panel .o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{border-radius: 30px 0px 0px 30px !important;}
	.o_control_panel .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values{border-radius: 0px 30px 30px 0px !important;}
	.o_content .o_form_view .oe_button_box .btn.oe_stat_button:first-child{border-top-left-radius: 30px;border-bottom-left-radius: 30px;}
	.o_content .o_form_view .oe_button_box .btn.oe_stat_button:last-child{border-top-right-radius: 30px;border-bottom-right-radius: 30px;}
	
	 
	

	@media only screen and (max-width: 992px){
		/* .o_control_panel .o_searchview .o_searchview_input_container{padding-left: 12px !important;padding-right: 15px !important;}*/
		.o_control_panel .o_searchview .o_searchview_icon{display :none;}
		.o_main_navbar #js_bar_toggle_btn_mobile{border-radius: 50rem !important;}
	}
	@media only screen and (max-width: 576px){
		.o_main_navbar > ul > li > a span.icon-activity{padding-left: 3px !important;}
		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{border-radius: 100% !important;background: $secondaryColor;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;border-bottom: 3px solid darken($secondaryColor, 5%) !important;}
		.o_control_panel .o_cp_bottom_right > .o_cp_switch_buttons > .btn.btn-link.btn-sm, .o_control_panel .o_cp_bottom_right > .btn-group-sm.o_cp_switch_buttons > .btn.btn-link{padding: 0px !important;margin-right: 0px !important;height: 28px !important;}
		.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons{padding: 0px 7px !important;}
		.o_control_panel .o_cp_bottom .o_cp_bottom_right nav.o_cp_switch_buttons button.btn.active,.o_control_panel .o_cp_bottom .o_cp_bottom_right nav.o_cp_switch_buttons button.btn:focus{background-color: $primaryColor !important;border-radius: 100% !important;}
		.o_action .o_control_panel .sh_o_cp_bottom .o_cp_bottom_right .btn-group.o_search_options .o_dropdown button.btn.o_dropdown_toggler_btn:focus{border-bottom: 3px solid darken($primaryColor, 5%) !important;border: 1.5px solid $primaryColor !important;}
		.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn.o_switch_view{padding: .4rem 0.75rem !important;}
		.o_control_panel .o_cp_switch_buttons.show .dropdown-menu{border-radius: 30px;}
		.o_action .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager .o_pager button.btn{background: $primaryColor !important;border: 1.5px solid $primaryColor;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;border-bottom: 3px solid darken($primaryColor, 5%) !important;transition: all .5s;}
		.o_action_manager .o_widget_Discuss .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .btn-group.o_dropdown .o_dropdown_toggler_btn.btn.btn-secondary:focus{border: 1.5px solid $primaryColor !important;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;padding: 5px 12px !important;border-bottom: 3px solid darken($primaryColor, 5%) !important;transition: all .5s;}
		 button.btn-secondary:not(:disabled):not(.disabled).active, .show > button.btn-secondary.dropdown-toggle, button.btn-secondary:not(:disabled):not(.disabled):focus,
		 .o_action.o_graph_controller .o_control_panel button.btn-secondary.o_graph_button:not(:disabled):not(.disabled).active{border-bottom: 3px solid darken($primaryColor, 5%) !important;border: 1.5px solid $primaryColor !important;}
		.o_action .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn.o_switch_view{height: 30px !important;}
		.o_form_statusbar .o_statusbar_buttons.dropdown-menu{background: transparent;border: 1px solid transparent;box-shadow: none;}
		.o_form_statusbar .o_statusbar_status button.btn.btn-primary.dropdown-toggle{border-radius: 30px;}
		nav.o_main_navbar .sh_search .sh_search_input input.usermenu_search_input{border-radius: 30px !important;}
		.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager .o_pager button.btn.fa{line-height: 13px !important;}
	}
	
	nav.o_main_navbar .o_menu_systray li.o_full_screen .compress_img, nav.o_main_navbar .o_menu_systray li.o_full_screen .expand_img{line-height: 26px !important;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager .o_pager .btn{background: $secondaryColor;border-bottom: 3px solid darken($secondaryColor, 5%) !important;transition: all .5s;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn.o_switch_view{padding-top: 0px !important;padding-bottom: 0px !important;height: 25px !important;}
	nav.o_main_navbar .o_menu_systray li:not(:last-child) > a{background: $secondaryColor;border: 1.5px solid $secondaryColor !important;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;border-bottom: 3px solid darken($secondaryColor, 5%) !important;transition: all .5s;line-height: 25px !important;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{padding: 6px;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container{padding: 5px !important;}
	nav.o_main_navbar .o_menu_systray li.sh_search:first-child .sh_search_container .sh_search_input{border-radius: 30px !important;}
	.o_action .o_content .o_kanban_view .o_kanban_record,.o_action .o_content .o_kanban_view .o_kanban_quick_create{border-radius: 15px !important;}
	.o_kanban_view .o_kanban_record .oe_kanban_details .oe_kanban_partner_links .badge-pill{background: $secondaryColor;border-bottom: 3px solid darken($secondaryColor, 5%) !important;transition: all .5s;border-radius: 30px !important;}
	.o_field_widget.o_field_many2manytags .badge,.o_content .o_setting_container .settings .badge-primary,.o_list_view .table-responsive .o_field_widget.o_field_badge,.o_kanban_view .o_kanban_record .badge{border-radius: 30px !important;}
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_header + .container.o_kanban_card_content .o_kanban_primary_bottom.bottom_block{border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
	.o_onboarding .o_onboarding_step.o_onboarding_current .o_onboarding_step_action,.o_FormRenderer_chatterContainer .o_ChatterContainer .o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_rightSection .btn, .o_FormRenderer_chatterContainer .o_ChatterContainer .o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_rightSection .o_ChatterTopbar_button{border-radius: 30px !important;}
	.o_base_settings .o_setting_container .settings_tab .selected{border-radius: 30px !important;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons .btn.o_switch_view:last-child{margin-right: 0px !important;}
	.ui-widget.ui-widget-content.ui-autocomplete,.zoomodoo-flyout img{border-radius: 5px !important;}
	.o_FormRenderer_chatterContainer .o_ChatterContainer .o_Chatter .o_Chatter_fixedPanel .o_ChatterTopbar_rightSection .o_ChatterTopbar_button.o_ChatterTopbar_buttonAttachments:hover{color: #fff !important;}
	.o_action .o_content .o_form_view .o_form_statusbar > .o_statusbar_status > .btn.o_arrow_button:last-child{border-top-left-radius: 15px !important;border-bottom-left-radius: 15px !important;}
	.tooltip .tooltip-inner .oe_tooltip_string,.o_list_view .table-responsive .o_list_table .o_field_x2many_list_row_add a{border-radius: 30px !important;}
	.o_form_view .oe_avatar > img{border-radius: 100%;box-shadow: 0 5px 5px -3px rgba(82, 63, 104, 0.06), 0 8px 10px 1px rgba(82, 63, 104, 0.04), 0 3px 14px 2px rgba(82, 63, 104, 0.04) !important;}
	
	
	@media only screen and (max-width: 576px){
		.o_cp_bottom .o_cp_bottom_left .o_cp_action_menus .o_dropdown_toggler_btn.btn.btn-secondary:focus{background: $primaryColor !important;border: 1.5px solid $primaryColor !important;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;border-bottom: 3px solid darken($primaryColor, 5%) !important;transition: all .5s;}
		nav.o_main_navbar .o_menu_systray li .sh_search_container{padding: 0px !important;}
	}
	.o_content .o_form_view.o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput{border-radius: 30px !important;}
	.o_action .o_content .o_kanban_view .o_kanban_record,.o_action .o_content .o_kanban_view .o_kanban_quick_create,.o_action .o_controller_with_searchpanel .o_search_panel .list-group,.o_content .o_form_view.o_base_settings .o_setting_container .settings > .app_settings_block h2{box-shadow: 0 5px 5px -3px rgba(82, 63 ,104, 0.08), 0 8px 10px 1px rgba(82 ,63, 104, 0.08), 0 3px 14px 2px rgba(82, 63 ,104 , 0.08) !important;}
	.o_search_panel .o_search_panel_section .o_search_panel_field .list-group-item:first-child,.o_action .o_controller_with_searchpanel .o_search_panel .list-group-item header.active{border-top-left-radius: 15px !important;border-top-right-radius: 15px !important;}
	.o_search_panel .o_search_panel_section .o_search_panel_field .list-group-item:last-child,.o_search_panel .o_search_panel_section .o_search_panel_field .list-group-item:last-child:hover .list-group-item-action:hover{border-bottom-left-radius: 15px !important;border-bottom-right-radius: 15px !important;}
	.o_action .o_controller_with_searchpanel .o_search_panel ul.list-group.o_search_panel_field{border-radius: 15px !important;}
	.o_kanban_view{background: #fff;}
	.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager .o_pager button.btn.fa{line-height: 17px;}
	
	@if $search_style == 'collapsed'{
		nav.o_main_navbar .sh_search .sh_search_input .usermenu_search_input{border-top: 1px solid #ccc !important;border-bottom: 1px solid #ccc !important;border-left: 1px solid #ccc !important;border-radius: 30px 0px 0px 30px !important;left: 12px;}
		nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{background: $secondaryColor;border: 1.5px solid $secondaryColor !important;border-radius: 50rem !important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;border-bottom: 3px solid darken($secondaryColor, 5%) !important;transition: all .5s;line-height: 25px !important;}
	}
	.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left .o_kanban_image_inner_pic, .o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image .o_kanban_image_inner_pic{border-radius: 100%;}
	.o_Chatter .o_Composer.o-has-current-partner-avatar{margin-top: 10px;border-radius: 15px;}
	.o_Chatter .o_ChatterTopbar_actions{border-bottom: 0px;}
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > div:not(.o_kanban_card_manage_title) > a:hover,
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container .row.o_kanban_card_manage_settings [role="menuitem"] .dropdown-item:hover,
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane > .o_kanban_card_manage_section > div > a:hover,
	.o_kanban_view .o_kanban_record .o_dropdown_kanban .dropdown-item:hover{background: #eeeeee;border-radius: 30px;}
	[type='checkbox'] + label:not(.lever):before, [type='checkbox']:not(.filled-in) + label:not(.lever):after{border-radius: 6px !important;}
	
	.o_content .o_kanban_view .o_kanban_record .dropdown-menu,.o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options .o_dropdown_menu.dropdown-menu,.o_control_panel .o_cp_bottom .o_cp_action_menus .o_dropdown_menu.dropdown-menu,.ui-widget.ui-widget-content.ui-autocomplete, .zoomodoo-flyout img,.ui-widget.ui-autocomplete .ui-menu-item,.ui-widget.ui-autocomplete .ui-menu-item a.ui-menu-item-wrapper,.ui-widget.ui-autocomplete .ui-menu-item a.ui-menu-item-wrapper:hover,.ui-widget.ui-autocomplete .ui-menu-item a.ui-menu-item-wrapper:focus,.bootstrap-datetimepicker-widget.dropdown-menu,
	.o_mail_systray_item.show .o_mail_systray_dropdown,.o_main_navbar .o_menu_systray .o_MessagingMenu.o-is-open .o_MessagingMenu_dropdownMenu,.o_main_navbar .o_menu_systray .sh_bookmark_menu_list.show .dropdown-menu.dropdown-menu-right.sh_wqm_quick_menu_submenu_list_cls.show,
	nav.o_main_navbar .o_menu_systray li.o_user_menu .dropdown-menu.show,.o_switch_company_menu.show .dropdown-menu,
	.o_kanban_view .o_column_quick_create .o_quick_create_folded .o_kanban_add_column{border-radius: 15px !important;}
	.bootstrap-datetimepicker-widget.dropdown-menu{padding: 8px;}
	.o_kanban_view .o_column_quick_create .o_quick_create_unfolded .o_kanban_header input.o_input{margin-right: 5px !important;}

	/*== 20-3-2021 ==*/
	.o_kanban_view .oe_kanban_card .oe_kanban_colorpicker > li > a::after, .o_kanban_view .o_kanban_record .oe_kanban_colorpicker > li > a::after{border-radius: 6px !important;}

	/*== 30-3-2021 ==*/ 
	/* calc */ 
	.o_menu_systray .sh_calc_util .sh_calc_results .calculator .displayBox{border-top-left-radius: 15px !important;border-top-right-radius: 15px !important;}
	.o_menu_systray .sh_calc_util .sh_calc_results .calculator{border-radius: 15px !important;}
	.o_menu_systray .sh_calc_util .sh_calc_results .calculator .clear,.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-calc,.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .btn-operation{border-radius: 30px !important;}
	.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .clear, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .clear:focus, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #sqrt, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #square, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #divide, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #multiply, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #subtract, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #add, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #equals{border-bottom: 3px solid darken($primaryColor, 5%) !important;}
	.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad button.btn-calc{border-bottom: 3px solid darken($secondaryColor, 5%) !important;}

	/* 6-5-2021 */ 
	.o_notification_manager .toast.o_notification.bg-danger,.o_notification_manager .toast.o_notification.bg-warning{border-radius: 15px;}
	
}

/*== 13-3-2021 ==*/

/*== predefined_theme_1 ==*/

@if $button_style == 'style_2'{
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > div:not(.o_kanban_card_manage_title) > a:hover,
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container .row.o_kanban_card_manage_settings [role="menuitem"] .dropdown-item:hover,
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane > .o_kanban_card_manage_section > div > a:hover,
	.o_kanban_view .o_kanban_record .o_dropdown_kanban .dropdown-item:hover{background: #eeeeee;border-radius: 3px;}
	.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left,.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left .o_kanban_image_inner_pic, .o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image .o_kanban_image_inner_pic{border-radius: 3px !important;}
	/* .dropdown-menu{border-radius: 3px !important;} */
	
}

/*== predefined_theme_3 ==*/

@if $button_style == 'style_5'{
	html .o_web_client > .o_action_manager > .o_action > .o_content{background: #ffffff !important;}
	.o_action .o_content .o_kanban_view .o_kanban_record{box-shadow: 0 0 1rem rgba(9, 35, 68 , 0.24) !important;border-radius: 0px !important;}
	.o_action .o_content .o_kanban_view .o_kanban_record:hover,.o_action .o_content .o_kanban_view .o_kanban_record:focus{box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 6px 10px -5px #d8dfe6 !important;}
	.o_kanban_view .o_kanban_record .oe_kanban_details .badge-pill,.o_control_panel .o_cp_bottom .o_cp_bottom_right button.btn,.o_action .o_control_panel .o_cp_searchview .o_searchview,nav.o_main_navbar .o_menu_systray li > a,.badge.badge-pill,.badge,.o_content .o_kanban_view .o_kanban_record .oe_kanban_details span.badge-pill,span.badge,.o_main_navbar li.o_user_menu img.oe_topbar_avatar,.o_field_widget.o_field_many2one_avatar > img.o_m2o_avatar,
	[type='checkbox'] + label:not(.lever):before, [type='checkbox']:not(.filled-in) + label:not(.lever):after,.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left,.o_form_sheet .o_notebook .o_kanban_view .o_kanban_record .o_kanban_image img,.o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu a,.o_menu_apps .sh_backmate_theme_appmenu_div .dropdown.cssmenu .dropdown-menu,button.btn-primary,.btn-primary,.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban.o_kanban_ungrouped .o_kanban_record .o_kanban_primary_bottom.bottom_block,.o_action .o_controller_with_searchpanel .o_search_panel .list-group-item header.active,.o_search_panel .list-group-item:last-child,.o_calendar_container .o_calendar_sidebar_container .o_calendar_sidebar,.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header,.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active, .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default:hover,.o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label,.o_control_panel .o_searchview .o_searchview_input_container .o_searchview_facet .o_facet_values,.dropdown-menu,.o_hr_attendance_kiosk_mode_container .o_hr_attendance_kiosk_mode .o_hr_attendance_sign_in_out_icon,.o_hr_attendance_kiosk_mode,nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input{border-radius: 0px !important;}
	.badge.badge-pill,.badge{box-shadow: 0 0.5rem 1rem rgba(0 ,0 ,0 , 0.15) !important;}
	.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left{box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)!important;}
	.o_form_view .oe_avatar > img{border: 0px !important;box-shadow:0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)!important;}
	.o_kanban_view .o_kanban_record::after{op: 50% !important;left: -1px !important;height: 100%;transform: translateY(-50%);}
	.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{background: $primaryColor !important;color: #fff !important;}
	.o_list_view .table-responsive .o_list_table .o_column_sortable::after{color: #fff;}
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container div[class*="col-"] > div:not(.o_kanban_card_manage_title) > a:hover,
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane.container .row.o_kanban_card_manage_settings [role="menuitem"] .dropdown-item:hover,
	.o_kanban_view.o_kanban_dashboard .o_kanban_record .o_kanban_card_manage_pane > .o_kanban_card_manage_section > div > a:hover,
	.o_kanban_view .o_kanban_record .o_dropdown_kanban .dropdown-item:hover{background: #eeeeee;border-radius: 0px !important;}
	/* .dropdown-menu{border-radius: 0px !important;} */
	.o_content .o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput,.o_control_panel .o_cp_searchview .o_searchview{border-radius: 0px !important;}
	.o_content .o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput:hover,.o_content .o_base_settings .o_control_panel .o_panel .o_setting_search .searchInput:focus{border-color: $primaryColor !important;}

	/*== 20-3-2021 ==*/
	@media only screen and (max-width: 992px){
		#js_bar_toggle_btn_mobile,nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text{border-radius: 0px !important;}
	}

	/*== 22-3-2021 ==*/ 
	.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th.o_list_record_selector .custom-control.custom-checkbox [type='checkbox'] + label:not(.lever):before{border: 1px solid #fff !important;}
	.o_action_manager .o_action.o_view_controller .o_content .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th.o_list_record_selector [type='checkbox']:checked + label:not(.lever):before {border-right: 2px solid #fff !important;border-top: 0px solid #fff !important;border-bottom: 2px solid #fff !important;border-left: 0px solid #fff !important;}

	/* == 30-3-2021 ==*/ 
	/* calc */ 
	.o_menu_systray .sh_calc_util .sh_calc_results .calculator .displayBox{border-top-left-radius: 0px !important;border-top-right-radius: 0px !important;}
	.o_menu_systray .sh_calc_util .sh_calc_results,.o_menu_systray .sh_calc_util .sh_calc_results .calculator .btn-calc,.o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .clear, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad .clear:focus, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #sqrt, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #square, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #divide, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #multiply, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #subtract, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #add, .o_menu_systray .sh_calc_util .sh_calc_results .calculator .numberPad #equals{border-radius: 0px !important;}

	/* 6-5-2021 */ 
	.o_notification_manager .toast.o_notification.bg-danger,.o_notification_manager .toast.o_notification.bg-warning{border-radius: 0px;}
	
}





