/*
=======================================================================
				Chatter Sticky Start
=======================================================================
*/

@if $is_sticky_chatter == True{

@if $is_sticky_form == True {
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel {
        position: sticky;
        top: 40px;
        z-index: 2;
       /* background-color: $o-list-footer-bg-color; */
 }
 

 
 }
 @else {
.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel {
        position: sticky;
        top: 0px !important;
        z-index: 1;
       /* background-color: $o-list-footer-bg-color; */
 }
 
}

/* === 19-12-2020 === */
@media only screen and (min-width: 1600px){
	.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel{top: 0px !important;position: sticky;}
}


}

/*
=======================================================================
				Chatter Sticky End
=======================================================================
*/