/*--saidbar-background--*/


.o_main_navbar .sh_backmate_theme_appmenu_div.show{background:$sidebar_bg_color;min-height:100%}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app{color:$sidebar_font_color;}
/*--saidbar-background--*/

@if $sidebar_collapse_style == 'expanded' {



#hide_top_bar {
	display:block;
}
#show_top_bar {
	display:none;
}

.usermenu_search_input2 {display:block;border: none;}
.sh_search_input{border-bottom:none;border: 1px solid #959595;}
//.usermenu_search_input {display:none;}
//#topbar_search_icon {display:none;}
.sh_search_container {
	padding-left: 15px;
    padding-right: 495px;
}


.o_web_client > header{height:auto;}
.o_main_navbar{width:100%;}
.o_main_navbar > ul.o_menu_systray {display: inline-flex;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 {position: relative;display: block;font-size: 14px;text-transform: capitalize;padding: 10px 15px !important;letter-spacing: 0;font-weight: 400;padding-left: 20px !important;font-family: 'Poppins', sans-serif;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 {color: $sidebar_font_color;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 {position: relative;padding-left: 10px !important;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.dropdown-menu.sh_backmate_theme_appmenu_div {background: $sidebar_bg_color;border:0px;padding-top: 0;padding-bottom: 0;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu{margin-top: 0;position: relative !important;top: 0 !important;transform: none !important;box-shadow: none;background: transparent;border: 0;max-height: unset;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul > span{font-size: 12px;text-transform: uppercase;text-align: left;margin-left: 0px;display: block;font-weight: 600;padding: 10px 15px;color: $sidebar_font_color;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu hr{margin: 0;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a{padding: 0px 0px;display: block;color: $sidebar_font_color;font-size: 14px;background: transparent;height: 44px;line-height: 44px;padding-left: 20px !important;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a span.fa{width: 30px;text-align: center;margin-right: 15px;font-size: 10px !important;}
.o_menu_sections {display:none !important;}
.o_menu_brand {display:none !important;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1{padding: 0;color: $sidebar_font_color;font-weight: 600;text-transform: uppercase;border-bottom: 1px solid #777;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span{padding: 0px;display: inline-block;color: $sidebar_font_color;padding-left: 0px;font-size: 14px;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 span.fa{width: 30px;text-align: center;margin-right: 15px;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header{color: $sidebar_font_color;}
/*.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span{display: none;transition: all .4s;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span{display: none;transition: all .4s;}*/
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span{display: inline-block;vertical-align: middle;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span{display: inline-block;vertical-align: middle;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app{position: relative;padding-left: 21px !important;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2{position: relative;padding-left: 21px !important;cursor: pointer;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.child_app:before{content: "\f067";font-family: FontAwesome;transform: translateY(-50%);position: absolute;right: 10px;top: 50%;color: $sidebar_font_color;transition: all .4s;display: none;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before{content: "\f067";font-family: FontAwesome;transform: translateY(-50%);position: absolute;right: 10px;top: 50%;transition: all .4s;font-size: 12px;}
.sh_backmate_theme_appmenu_div:hover a.dropdown-item.o_app.child_app:before{display: block;}
.sh_backmate_theme_appmenu_div .show_ul a.dropdown-item.o_app.child_app:before{content: "\f106";}
.sh_backmate_theme_appmenu_div:hover a.dropdown-item.o_app2.child_app:before{display: block;}
.sh_backmate_theme_appmenu_div .show_ul a.dropdown-item.o_app2.child_app:before{content: "\f106";}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.child_app.dropdown-toggle::after{display: none;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:active,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:focus,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover{background: $sidebar_font_hover_bg_color;color:$sidebar_font_hover_color;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app.dropdown-toggle::after{display: none;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active{background: $sidebar_font_hover_bg_color;color:$sidebar_font_hover_color;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header > span{padding: 5px 5px !important;font-size: 12px;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header > a:active{background: $sidebar_font_hover_bg_color;color:$sidebar_font_hover_color;}
.sh_backmate_theme_appmenu_div {top:0 !important;transition:none !important;box-shadow:none !important;}
.sh_backmate_theme_appmenu_div {max-height:calc(100vh - 20px);}
.o_menu_systray { position: fixed;bottom: 0px;left: 0;z-index: 11;padding: 0;background: $sidebar_bg_color;color: $sidebar_font_color;text-align: center;width: 258px !important; }
.o_mail_systray_dropdown{ position: fixed;bottom: 0;top: 0px;left: 48px;width: 300px !important;min-width: auto !important;min-height: 100%;}
.o_switch_company_menu .dropdown-menu{ position: fixed;bottom: 0px;top: 0px;left: 48px;width: 300px !important;min-width: auto !important;min-height: 20%;max-height: 20% !important;padding:10px;}
.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show {position: fixed;bottom: 0;top: 0px;left: 260px;width: 300px !important;min-width: auto !important;min-height: 100%;}
.o_main_navbar > ul > li {float:none;}
.o_main_navbar .o_user_menu > a > span.oe_topbar_name {display :none;line-height:15px;}
.o_main_navbar .o_user_menu > a:after {display :none;}
.o_main_navbar .o_user_menu { margin-left:0px;}
.ui-autocomplete .ui-menu-item > a, .show_ul .dropdown-menu .dropdown-item, .show_ul .dropdown-menu .dropdown-header, .navbar-nav .show_ul .dropdown-menu .dropdown-item, .navbar-nav .show_ul .dropdown-menu .dropdown-header{padding: 0.5rem 1rem;}
.o_main_navbar .dropdown-menu.show_ul .o_menu_header_lvl_3, .o_main_navbar .dropdown-menu.show_ul .o_menu_entry_lvl_3{padding-left: 7px;}
.o_main_navbar .dropdown-menu.show_ul .o_menu_header_lvl_4, .o_main_navbar .dropdown-menu.show_ul .o_menu_entry_lvl_4{padding-left: 18px;}
.o_action_manager {margin-left: 260px}
.o_menu_systray > li{display: inline-block !important;}
.o_main_navbar > ul.o_menu_systray {z-index:111;min-height:50px;padding-bottom: 10px;}
//.o_main_navbar > ul.o_menu_systray > li > a {height:35px;}
.o_main_navbar .o_user_menu .oe_topbar_avatar {width:22px;}
.user_setting{position: relative;background: transparent;border: 0;}
.user_setting ul li a{color: $sidebar_font_color;}
.user_setting ul li span{display: none;}
.user_setting ul li {display: block;text-align: center;padding: 7px 0;}
.user_setting ul{display: block;}
#js_bar_toggle_btn_mobile{top: 0px;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right{overflow: hidden;margin: 0;padding: 0;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right.show_ul{transition: none;height: 100%;padding-top: 0;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .o_menu_header_lvl_1{padding: 0;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 > a{padding: 0px !important;height: 44px;line-height: 44px;padding-left: 20px !important;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .o_menu_header_lvl_1 > span{padding: 0px !important;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after{content:'\f067';position: absolute;top: 50%;transform: translateY(-50%);right: -5px;font-family: FontAwesome;border: 0px;font-size: 12px;}
.sh_backmate_theme_appmenu_div a.dropdown-item.sh_dropdown.o_app.child_app:before{content:'\f068'}
.sh_backmate_theme_appmenu_div a.dropdown-item.sh_dropdown.o_app2.child_app:before{content:'\f068'}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle.sh_sub_dropdown:after{content:'\f068'}
.o_main_navbar > ul > .o_user_menu.show_ul > a{background: transparent;}
.o_main_navbar .o_user_menu .user_setting{box-shadow: none;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .o_menu_header_lvl_1{background: transparent;outline: none;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-item.o_menu_header_lvl_1{border-bottom: 0px;text-transform: capitalize;font-weight: normal;}
.o_switch_company_menu .dropdown-menu{bottom: 0;top: auto;}
.o_no_notification a.dropdown-toggle.o-no-caret{background: transparent;}
.o_main_navbar .o_switch_company_menu.show_ul .dropdown-toggle{background: transparent;}
.o_main_navbar .o_mail_systray_item.show_ul .dropdown-toggle{background: transparent;}
.o_mail_systray_item.o_no_notification > a .o_notification_counter{display: inline-block;}
.o_switch_company_menu .dropdown-toggle:after{display: none;}
.o_debug_manager .o_debug_mode{padding-left: 5px;}
.o_switch_company_menu .dropdown-toggle{padding-left: 5px;}
.user_setting ul li a{margin-left: -5px;}
.sh_backmate_theme_appmenu_div .o_menu_header_lvl_2{padding: 0;}
.sh_backmate_theme_appmenu_div .o_menu_header_lvl_2 > a{padding: 0px !important;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after{right: 10px;}
.sh_backmate_theme_appmenu_div .o_menu_header_lvl_2 > ul .dropdown-header{padding-left: 25px;}
.sh_backmate_theme_appmenu_div .o_menu_header_lvl_2 > ul .dropdown-header{padding: 0px;}
.sh_backmate_theme_appmenu_div .o_menu_header_lvl_2 > ul .dropdown-header > a{padding: 0px;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover{background:  $sidebar_font_hover_bg_color;color: $sidebar_font_hover_color;}



.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:focus,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active{background: $sidebar_font_hover_bg_color;color: $sidebar_font_hover_color;}

.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:focus,
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active{background: $sidebar_font_hover_bg_color;color: $sidebar_font_hover_color;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-item.o_menu_header_lvl_1 a:hover{background: $sidebar_font_hover_bg_color;color: $sidebar_font_hover_color;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-item.o_menu_header_lvl_1 a:hover span{color: $sidebar_font_hover_color;}
.o_main_navbar > ul.o_menu_systray > .o_debug_manager > a:hover{background: transparent;}
.o_main_navbar > ul > .o_user_menu > a:hover{background: transparent;}
.o_menu_systray .o_switch_company_menu a:hover{background: transparent;}
.o_main_navbar > ul > .o_mail_systray_item > a:hover{background: transparent;}
.o_switch_company_menu a.dropdown-toggle > span {display:none;}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right{float: none;padding-bottom: 0;}
.ag_menu_section_close_btn i{position: absolute;z-index: 1;top: 15px;left: 75%;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover > span{color: $sidebar_font_hover_color;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover > span{color: $sidebar_font_hover_color;}
.dropdown-menu.sh_backmate_theme_appmenu_div{margin-top: 0;}
.o_menu_systray .show .dropdown-toggle{background: transparent !important;}
.o_menu_systray li > a{color: $sidebar_font_color !important;}


.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 img{margin-right: 22px !important;}


.sh_backmate_theme_appmenu_div a.dropdown-item.o_app img{margin-right: 20px !important;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header .sh_icon_text {height: 44px;line-height: 44px;padding-left: 20px;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header .sh_icon_text span.fa{display: none;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header .sh_icon_text span{font-size: 12px;}
.dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu{padding-right: 10px;}
 html .o_web_client > .o_action_manager{margin-left: 260px !important}
.dropdown-menu.sh_backmate_theme_appmenu_div{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;}

/* sidebar hover style */
.dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu{padding-right: 0;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2{border-radius: 0;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app{border-radius: 0;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a{border-radius: 0px;}
/* sidebar hover style */


/* logo hide css */
#company_logo{display: none;}
.logo{background: $sidebar_font_hover_bg_color;}
#company_name_logo{margin: auto;}


.hover_menuitem .sh_backmate_theme_appmenu_div .logo{justify-content: space-between;padding: 0 10px 0 15px;}
.hover_menuitem .sh_backmate_theme_appmenu_div .logo #company_name_logo{margin: 0;object-fit: contain;}



/* html .o_web_client > .o_action_manager > .o_action{padding: 10px;background: #f1f1f1;} */
html .o_web_client > .o_action_manager > .o_action{padding: 0px;background: #f1f1f1;}

.o_main_navbar{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);}
.o_kanban_view.o_kanban_grouped{background: transparent;}





@media only screen and (min-width: 769px){
.dropdown-menu.sh_backmate_theme_appmenu_div{width: 260px !important;}
/*.dropdown-menu.sh_backmate_theme_appmenu_div {width: 50px !important;}*/
}
@media only screen and (max-width: 992px){
#js_bar_toggle_btn_mobile i{color: #fff;font-size: 18px !important;padding-top: 7px;}
#js_bar_toggle_btn_mobile{position: fixed;top: 5px;left: 0;z-index: 111 !important;height: auto !important;line-height: normal !important;background: transparent;display: block;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app > span{display: inline-block !important;vertical-align: middle;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 > span{display: inline-block !important;vertical-align: middle;}
 .o_main_navbar > ul.o_menu_systray{opacity: 0;}
.o_main_navbar .o_mail_systray_dropdown.show {top:0px !important;left :0px;min-height:80%}
.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show {min-height:80%;left:0px;}
.o_control_panel .breadcrumb > li{padding-left: 45px;max-width: 100%;}
/*.fa-remove:before, .fa-close:before, .fa-times:before{color: $sidebar_font_color;position: fixed;width: 100%;text-align: right;left: -15px}*/

#toggle_bar .fa-remove:before, #toggle_bar .fa-close:before, #toggle_bar .fa-times:before{content: "\f0c9";color: #fff;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu.show .dropdown-header{background: transparent;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a span{color: $sidebar_font_color;}
.o_main_navbar ul.o_menu_systray .o_debug_manager .dropdown-menu.show,
.o_main_navbar > ul.o_menu_systray > li .dropdown-menu.show{width: 100% !important;}
.o_action_manager{margin-left: 0 !important;}
.o_switch_company_menu .dropdown-menu{left: 0;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.child_app:before{right: 55%;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.child_app:before{display: inline-block;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before{right: 55%;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before{display: inline-block;}
.dropdown-menu.sh_backmate_theme_appmenu_div{transition: all .4s !important;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header{background: transparent;}

/* new mobile view css*/
.o_main_navbar{width: 100%;min-height:0;height: 0;box-shadow: none;border: 0;}
.o_main_navbar .o_menu_apps{/*width: 100%;min-width: 100%;*/ max-width: 100%;}
.sidebar_toggle{min-width: 100% !important;max-width: 100%;width: 100% !important;position: relative;}
#js_bar_toggle_btn_mobile{max-width: 100%;}
.dropdown-menu.sh_backmate_theme_appmenu_div{margin-top: 0px;left: 0 !important;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.child_app:before{right: 10px;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before{right: 10px;}
.o_main_navbar > ul.o_menu_systray{transition: all .4s;}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a:hover span{color: $sidebar_font_hover_color;}

/* latest mobile view */
/* topbar show css */  
.o_main_navbar{min-height: 4.2rem;}    
.o_action_manager{margin-left: 0px;}
.o_main_navbar > ul.o_menu_systray{display: block;float: r;margin: 0;padding: 0;list-style: none;opacity: 1 !important;}
.o_mail_systray_item .o_mail_systray_dropdown{position: absolute !important;}
.o_main_navbar > ul.o_menu_systray{margin-left: auto;}
.o_main_navbar > ul > li{position: unset;float: left;}
.o_main_navbar ul.o_menu_systray .o_debug_manager.show .dropdown-menu{left: 0 !important;}
.o_main_navbar > ul.o_menu_systray > li .dropdown-menu{left: 0 !important;width: 100% !important;top: 53px !important;}
.o_main_navbar > ul.o_menu_systray > li .dropdown-menu.user_setting{left: auto !important;width: auto !important;}
.o-menu-toggle{display: none;} 
.dropdown-menu.sh_backmate_theme_appmenu_div{position: absolute;left: 0 !important;top: 55px !important;height: calc(100vh - 50px) !important;}
.o_main_navbar > ul.o_menu_systray > li > a{line-height: unset;vertical-align: middle;align-items: center;display: flex;padding-top: 0;padding-bottom: 0;}
.o_main_navbar .o_user_menu > a{padding-right: 10px;}
.o_main_navbar > ul.o_menu_systray > li .dropdown-menu{border: 1px solid #dee2e6 !important;}
/* topbar show css */
.o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 65%;}
/* latest mobile view */

html .o_web_client > .o_action_manager{margin-left: 0px !important;}
#toggle_bar.fa-remove:before, 
#toggle_bar.fa-close:before, 
#toggle_bar.fa-times:before{content: "\f0c9";}
}

.dropdown-submenu {position: relative;}
.dropdown-submenu a::after {transform: rotate(-90deg);position: absolute;right: 6px;top: .8em;}
.dropdown-submenu .dropdown-menu {top: 0;left: 100%;margin-left: .1rem;margin-right: .1rem;}

@media only screen and (min-width: 991px){.ag_menu_section_close_btn{display: none;}}
@media only screen and (max-width: 576px){.ag_menu_section_close_btn i{position: absolute;z-index: 1;top: 15px;left: 50%;}}
.dropdown-menu.sh_backmate_theme_appmenu_div{border-radius: 0;}
.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2 img{width: 30px;    margin: 0px 7px 0px 0px;}
.o_control_panel .breadcrumb > li{padding-left: 0px;}

/* my quotations btn */
/* list view table */
.o_sale_order tr td{padding: 1.5rem 0.75rem !important;vertical-align: middle !important;}
.o_list_table_ungrouped tr th{vertical-align: middle !important;}
.o_action_manager .o_view_controller .o_cp_controller{border-bottom: 1px solid #dee2e6;}
.oe_product section{position: relative;}
.o_list_view .o_list_table th{text-transform: uppercase;}
.o_list_view .o_list_table td{padding: 1.5rem 0.75rem !important;vertical-align: middle !important;}


.o_list_view .o_optional_columns_dropdown_toggle{top: 7px;}


/* list view table */

/* sidebar search box style */
.o_dropdown .dropdown-toggle:first-child{margin-right: 2px !important;padding: 5px 4px !important;}
.o_control_panel .o_cp_bottom_left > .o_cp_sidebar{padding-right: 0px;}
.o_cp_sidebar .btn-group .btn-group.o_dropdown{margin-right: 1px !important;}
.o_control_panel .o_cp_right > .o_cp_switch_buttons > .btn:first-child{margin-left: 5px;}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn{margin-right: 2px;}
.o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 64% !important;}

.dropdown-menu.sh_backmate_theme_appmenu_div{box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;}
/* sidebar search box style */


@media only screen and (max-width: 992px){
  .o_cp_bottom_left .o_cp_buttons .o_calendar_buttons .btn-group{margin-top: 0px;}
  .o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 62% !important;}
  .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child){margin-left: 0px;}  
  /* topbar */
  .o_menu_systray {position: unset;width: auto !important;background: transparent;color: unset;}
  .o_web_client > header{height: auto;}
  /* topbar */
}

.o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{flex: 0 0 61% !important;}



.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right.show_ul{display:block !important;}
.hover_menuitem > .dropdown-menu.sh_backmate_theme_appmenu_div > img{display: block;margin: auto;}
.o_list_view .o_list_table .o_list_record_selector{z-index: 1;}



/*  remove topbar  */
@if $sidebar_is_show_nav_bar == False{
   .o_mail_systray_item.show .o_mail_systray_dropdown{left: 260px !important;}
   html .o_web_client .o_control_panel{padding-right: 14px;padding-left: 10px;}
   .o_view_controller .o_form_view .o_form_statusbar{padding-left: 10px;}
   .o_form_view .o_form_statusbar > .o_statusbar_status{padding-right: 20px !important;}
}
/*  remove topbar  */

/* form view style */
.o_view_controller .o_form_view .o_form_statusbar{padding-left: 10px;}
html .o_web_client .o_control_panel{padding-left: 10px;}
.o_form_view .o_form_statusbar > .o_statusbar_status{padding-right: 20px !important;}
/* form view style */

/* statusbar btn */
.o_view_controller .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled{margin-right: 0;}
/* statusbar btn */

}









