@if $theme_style == 'style_3'{
	.dropdown-menu.sh_backmate_theme_appmenu_div{background: url('/web/image?model=sh.back.theme.config.settings&id=1&field=sidebar_background_image') !important;background-repeat: no-repeat;background-size: cover !important;background-position: top center;}
	.dropdown-menu.sh_backmate_theme_appmenu_div:before{position: fixed;top: 0;left: 0;right: 0;bottom: 0;content: "";z-index: -1;opacity: .8;background: linear-gradient(200deg, $primaryColor 40%, $gradient_color 100%);width: inherit;}
	.hover_menuitem .sh_backmate_theme_appmenu_div a.dropdown-item.o_app,.hover_menuitem .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2,
	.dropdown-menu.sh_backmate_theme_appmenu_div .logo #hide_top_bar, .dropdown-menu.sh_backmate_theme_appmenu_div .logo #show_top_bar{color: $sidebar_font_color !important;}
	.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:focus, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:active,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active,
	.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:focus, .sh_backmate_theme_appmenu_div a.dropdown-item.o_app:active,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active{background-color: rgba(255, 255, 255 , 0.29) !important;box-shadow: none !important;}
	.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:hover > span,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:focus > span,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app:active > span,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active > span,
	.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:hover > span,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:focus > span,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2:active > span,.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.active > span,
	.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header .action_menu:focus > span,.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header .action_menu:hover > span,.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header .action_menu:active > span,.sh_backmate_theme_appmenu_div ul.dropdown-menu a.active span,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:focus,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a.active,.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header span,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after{color: $sidebar_font_color !important;}
	.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header .action_menu:focus,.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header .action_menu:hover,.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header .action_menu:active,.sh_backmate_theme_appmenu_div ul.dropdown-menu a.active,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:focus,.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a.active{background-color: rgba(255, 255, 255 , 0.29) !important;box-shadow: none !important;}
	.o_view_controller .o_form_view .o_form_statusbar{margin-left: 2px;}
	.sh_backmate_theme_appmenu_div a.dropdown-item.o_app2.child_app:before,
	.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after{content: "\f105" !important;font-size: 15px !important;font-weight: 600 !important;}
	.sh_backmate_theme_appmenu_div a.dropdown-item.sh_dropdown.o_app2.child_app:before,
	.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle.sh_sub_dropdown:after{content: "\f107" !important;font-size: 15px !important;font-weight: 600 !important;}
}
@if $theme_style == 'style_3' AND $sidebar_collapse_style == 'expanded'{
	.dropdown-menu.sh_backmate_theme_appmenu_div::-webkit-scrollbar{width: 3px;}
	.o_action_manager{margin-left: 260px !important;}
	.o_cp_top .o_cp_top_right .o_searchview_input_container{width: 100%;}
	.o_web_client > header,.o_search_panel .o_search_panel_section header{margin-left: 0 !important;}
	.dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu{margin: 5px 7px 0px 10px;border-radius: 3px;}
	.dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu a{border-radius: 3px !important;}
	.sh_backmate_theme_appmenu_div .cssmenu ul.dropdown-menu-right{margin: 5px 0px;}
}
@if $theme_style == 'style_3' AND $sidebar_collapse_style == 'collapsed'{
	.o_search_panel header{margin-left: 0px !important;}
	.o_cp_top .o_cp_top_right .o_searchview_input_container{width: 100%;}	
	.dropdown-menu.sh_backmate_theme_appmenu_div:hover::-webkit-scrollbar{width: 3px;}
	.dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu{margin: 0px;border-radius: 3px;}
	.dropdown-menu.sh_backmate_theme_appmenu_div .cssmenu a{border-radius: 3px !important;}
	.dropdown-menu.sh_backmate_theme_appmenu_div:hover .cssmenu{margin: 5px 7px 0px 10px;} 
	.sh_backmate_theme_appmenu_div .cssmenu ul.dropdown-menu-right{margin: 5px 0px;}
}

/*== 19-3-2021 ==*/
@if $theme_style == 'style_3'{
	@if $sidebar_collapse_style == 'expanded'{
		.sh_backmate_theme_appmenu_div .logo #company_name_logo{padding-left: 22px !important;}
	}
}

/*== 20-3-2021 ==*/
@if $theme_style == 'style_3'{
	body.o_web_client > header{height: 0;}
   	body header nav.o_main_navbar{width: 0;}
   
   	.o_main_navbar .sh_backmate_theme_appmenu_div #hide_top_bar {display: none;}
   	.o_main_navbar .sh_backmate_theme_appmenu_div #show_top_bar {display: block;}
	nav.o_main_navbar .o_menu_systray li .sh_search_container {display:none;}
	@media only screen and (max-width: 992px){
		body.o_web_client > header{height: auto !important;}
		body header nav.o_main_navbar{width: auto !important;}
	}
	@media only screen and (max-width: 992px) and (min-width: 768px){
		.dropdown-menu.sh_backmate_theme_appmenu_div:before{width: 70%;}
		.dropdown-menu.sh_backmate_theme_appmenu_div.sidebar_toggle:before{width: 0% !important;}
	}
}
